<p>p: This is a paragraph text. Lorem ipsum dolor sit amet, adipiscing elit.</p>
<p>
	a: <a href='#!' title='test link'>This is a text link</a>
	<br />
	b: <b>This is a bold text</b>
	<br />
	strong: <strong>This is a strong text</strong>
	<br />
	em: <em>This is an emphasized text</em>
	<br />
	i: <i>This is an italic text</i>
	<br />
	small: <small>This is a small text</small>
	<br />
	mark: <mark>This is a marked text</mark>
	<br />
	s: <s>This is a strikethrough text</s>
</p>
<p>
	sup: <sup>superscript</sup> | sub: <sub>subscript</sub>
	<br />
	<br />
	ruby/rt: <ruby>紫陽花<rt>あじさい</rt></ruby>, <ruby>踝<rt>くるぶし</rt></ruby>
	<br />
	ruby/rp/rt: <ruby>聖剣<rp>(</rp> <rt>エクスカリバー</rt> <rp>)</rp></ruby>
</p>
<p>
	code: <code>$x = 'code';</code>
	<br />
	var: <var>x</var> = <var>y</var>.
	<br />
	kbd: <kbd>KEY</kbd>
	<br />
	samp: <samp>This is a sample text</samp>
</p>
<p>
	abbr: <abbr title='abbreviation text'>abbr txt</abbr>
	<br />
	q: <q cite='...'>This is a quoted text</q>
	<br />
	dfn: <dfn>This is a definition text</dfn>
	<br />
	ins: <ins>This is an inserted text</ins>
	<br />
	del: <del>This is a deleted text</del>
	<br />
	cite: <cite>This is a citation.</cite>
	<br />
	time: <time datetime='2020-01-01T12:00+00:00'>2020-01-01 12:00</time>
</p>
<p></p>

<hr />

<blockquote>
	<p>
		blockquote: This is a blockquote text. - Lorem ipsum dolor sit amet, Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi,
		imperdiet at.
	</p>
</blockquote>

<pre>
PRE TEXT:
	Lorem ipsum dolor sit amet, Nunc iaculis suscipit dui.
		Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum.
</pre>
