<h3>Unordered List</h3>
<ul>
	<li>List item 1</li>
	<li>
		<Fragment>List item 2</Fragment>
		<ul>
			<li>Nested List</li>
			<li>
				<Fragment>...</Fragment>
				<ul>
					<li>Nested List</li>
					<li>...</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>

<h3>Ordered List</h3>
<ol>
	<li>List item 1</li>
	<li>
		<Fragment>List item 2</Fragment>
		<ol>
			<li>Nested List</li>
			<li>
				<Fragment>...</Fragment>
				<ol>
					<li>Nested List</li>
					<li>...</li>
				</ol>
			</li>
		</ol>
	</li>
</ol>

<h3>Menu list</h3>
<menu>
	<li>Menu item 1</li>
	<li>Menu item 2</li>
	<li>Menu item 3</li>
</menu>

<h3>Definition list</h3>
<dl>
	<dt>Definition List Title</dt>
	<dd>This is a definition list division.</dd>

	<dt>Definition List Title 2</dt>
	<dd>This is a definition list division item with a lot more to say.</dd>
</dl>
