---
import DemoLayout from '@/layouts/DemoLayout.astro';

import { Container, Frame, Grid, Media, Stack, HTML, Flow } from 'lism-css/astro';
import './_style.css';
---

<DemoLayout title='Greeting001'>
	<Container isWrapper='m' py='50' bgc='base' hasGutter>
		<Stack g='50'>
			<HTML.h lv='2' fz='3xl' fw='bold' ff='accent' ta='center'>代表からご挨拶</HTML.h>
			<Grid gtc={['auto', null, '1fr 1fr']} g='50'>
				<Frame tag='figure' ar={['3/2', null, '3/4']} bdrs='20' bxsh='30'>
					<Media src='https://cdn.lism-css.com/img/random-2510?category=portrait-v' alt='' width='960' height='640' />
				</Frame>
				<Stack g='40' jc='center'>
					<Flow fz='l' lh='l'>
						<p>デジタルトランスフォーメーションが加速する現代において、 データの活用は企業成長の鍵となります。</p>
						<p>
							私たちは、高度なデータ解析技術とAIを駆使し、データに隠された価値を可視化することで、
							お客様の的確な意思決定と新たなビジネス機会の創出を支援します。
							テクノロジーで、よりスマートで持続可能な社会を実現する。それが私たちのビジョンです。
						</p>
					</Flow>
					<Stack ai='flex-e' g='5' ff='accent'>
						<HTML.p fz='l' o='-20'>代表取締役社長</HTML.p>
						<HTML.p fz='xl' fw='bold'>佐藤　流素</HTML.p>
					</Stack>
				</Stack>
			</Grid>
		</Stack>
	</Container>
</DemoLayout>
