/* --------------------------------------------------
  SPACEトークンの定義
    Memo: set--var:s で、SPACEトークンを再定義できる。
-------------------------------------------------- */
:root,
.set--var\:s {
  /**
   * 余白: フィボナッチ数列をベースに設計する
   */
  --s-unit: calc(var(--fz--base) * 0.5); // 計算単位 ≒ 8px

  --s10: var(--s-unit); // ≒ 8px
  --s20: calc(var(--s-unit) * 2); // ≒ 16px
  --s30: calc(var(--s-unit) * 3); // ≒ 24px
  --s40: calc(var(--s-unit) * 5); // ≒ 40px
  --s50: calc(var(--s-unit) * 8); // ≒ 64px
  --s60: calc(var(--s-unit) * 13); // ≒ 104px
  --s70: calc(var(--s-unit) * 21); // ≒ 168px
  --s80: calc(var(--s-unit) * 34); // ≒ 272px

  // ~40までの前半部分は間を埋める
  --s5: calc(var(--s-unit) * 0.5); // ≒ 4px
  --s15: calc(var(--s-unit) * 1.5); // ≒ 12px
  --s25: calc(var(--s-unit) * 2.5); // ≒ 20px
  --s35: calc(var(--s-unit) * 4); // ≒ 32px
}
.set--var\:s {
  // 何も指定しなければ em 単位に変換する
  --s-unit: 0.5em;
}
