---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';
import Button from '~/components/ex/Button/index.astro';

import { Container, Flex, Grid, GridItem, Icon, Stack, Text } from 'lism-css/astro';
import './_style.css';
---

<DemoPageLayout title='PriceTable003'>
	<Container size='l' bgc='base' py='60' hasGutter>
		<Stack g='60'>
			<Text class='u--trimHL' fz='2xl' fw='bold' ta='c'>料金プラン</Text>
			<Grid gtr={['repeat(2, auto)', null, '1fr']} gtc={['auto', null, 'repeat(2, 1fr)']} g={['50', null, '0']} ai='c'>
				<GridItem layout={Grid} g='40' ai='s' bgc='white' p='50' bd bdc='blue' bdw='2px' bdrs='20' bxsh='20' z='1'>
					<Stack w='stretch' g='30'>
						<Text class='u--trimHL' fz='m' fw='bold' c='blue'>Hobby</Text>
						<Text class='u--trimHL' fz='xl' fw='bold'>無料</Text>
					</Stack>
					<Text class='u--trimHL' fz='xs' op='mid'>
						初期費用・追加料金は一切不要です。表示された月額料金のみですべての機能をご利用いただけます。
						契約期間の縛りもないためいつでも安心してプランの変更や解約が可能です。
					</Text>
					<Stack tag='ul' g='10'>
						<Flex tag='li' g='20' ai='c'><Icon icon='check' c='blue' /><Text fz='s'>確定申告書類の作成</Text></Flex>
						<Flex tag='li' g='20' ai='c'><Icon icon='check' c='blue' /><Text fz='s'>銀行口座・カード連携</Text></Flex>
						<Flex tag='li' g='20' ai='c'><Icon icon='check' c='blue' /><Text fz='s'>仕訳データの自動入力</Text></Flex>
						<Flex tag='li' g='20' ai='c'><Icon icon='check' c='blue' /><Text fz='s'>月次決算レポート</Text></Flex>
						<Flex tag='li' g='20' ai='c'><Icon icon='check' c='blue' /><Text fz='s'>メンバー招待（最大3名）</Text></Flex>
						<Flex tag='li' g='20' ai='c'><Icon icon='check' c='blue' /><Text fz='s'>データバックアップ</Text></Flex>
						<Flex tag='li' g='20' ai='c'><Icon icon='check' c='blue' /><Text fz='s'>チャットサポート</Text></Flex>
						<Flex tag='li' g='20' ai='c'><Icon icon='check' c='blue' /><Text fz='s'>電話サポート</Text></Flex>
					</Stack>
					<Button href='#' jc='c' bgc='blue' p='30' bdrs='10'>今すぐはじめる</Button>
				</GridItem>
				<GridItem layout={Grid} g='40' bgc='gray:5%' p='50' bdrs='20' bxsh='20'>
					<Stack w='stretch' g='30'>
						<Text class='u--trimHL' fz='m' fw='bold' c='blue'>Personal</Text>
						<Flex ai='e' g='10'>
							<Text class='u--trimHL' fz='xl' fw='bold'>1,980</Text>
							<Text class='u--trimHL' fz='xs' fw='bold'>/ 円</Text>
						</Flex>
					</Stack>
					<Text class='u--trimHL' fz='xs' op='mid'>
						専門スタッフによる充実のサポートが含まれています。
						操作方法で不明な点や会計に関するご相談など、メールやチャットでいつでもお気軽にお問い合わせください。
					</Text>
					<Stack tag='ul' g='10'>
						<Flex tag='li' g='20' ai='c'><Icon icon='check' c='blue' /><Text fz='s'>チャットサポート</Text></Flex>
						<Flex tag='li' g='20' ai='c'><Icon icon='check' c='blue' /><Text fz='s'>電話サポート</Text></Flex>
						<Flex tag='li' g='20' ai='c'><Icon icon='check' c='blue' /><Text fz='s'>API連携</Text></Flex>
						<Flex tag='li' g='20' ai='c'><Icon icon='check' c='blue' /><Text fz='s'>請求書郵送代行</Text></Flex>
					</Stack>
					<Button href='#' jc='c' p='30' bdrs='10'>このプランを選択</Button>
				</GridItem>
			</Grid>
		</Stack>
	</Container>
</DemoPageLayout>

<style>
	@container (min-width: 720px) {
		.l--grid > .l--grid:nth-of-type(2) {
			border-radius: 0 var(--bdrs-20) var(--bdrs-20) 0;
		}
	}
</style>
