---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';
import {
	AttsLabels,
	// TipCode,
	GutterGuide,
	WideContent,
	FullwideContent,
	Overwide,
	LoremContent,
} from '../container/_components.js';
import { Lism, Box, Flow, Container, Spacer } from 'lism-css/astro';
import '../container/_style.scss';
---

<DemoPageLayout title='コンテンツサイズ'>
	<Flow id='demo-wrapper' py={50} p='1px'>
		<h2>コンテンツサイズ</h2>
		<Container layout='stack' g='10' py='10'>
			<Lism w='xl' bd className='u--cbox' keycolor='red'>width: xl</Lism>
			<Lism w='l' bd className='u--cbox' keycolor='orange'>width: l</Lism>
			<Lism w='m' bd className='u--cbox' keycolor='green'>width: m</Lism>
			<Lism w='s' bd className='u--cbox' keycolor='purple'>width: s</Lism>
			<Lism w='xs' bd className='u--cbox' keycolor='blue'>width: xs</Lism>
		</Container>

		<h2>is--wide</h2>
		<p>親のコンテナ幅によってかわります。</p>
		<Spacer h='5' />

		<Flow isContainer='s' flowGap='s' hasGutter>
			<AttsLabels atts='is--container,-container:s' />
			<LoremContent />
			<WideContent />
			<GutterGuide />
		</Flow>
		<Flow isContainer='m' flowGap='s' hasGutter>
			<AttsLabels atts='is--container,-container:m' />
			<LoremContent />
			<LoremContent />
			<WideContent />
			<GutterGuide />
		</Flow>
		<Flow isContainer='l' flowGap='s' hasGutter>
			<AttsLabels atts='is--container,-container:l' />
			<LoremContent />
			<LoremContent />
			<WideContent />
			<GutterGuide />
		</Flow>

		<h2>is--fullwide</h2>
		<p><code>is--fullwide</code> は、親が <code>has--gutter</code> を持っていても全幅に広がります。</p>
		<p>また、<code>l--flow</code> の直下で <code>is--fullwide</code> が連続すると、その間の余白は0となります。</p>
		<Spacer h='5' />
		<Flow isContainer='m' flowGap='s' hasGutter>
			<AttsLabels atts='is--container,-container:m,has--gutter' />
			<LoremContent />
			<FullwideContent />
			<FullwideContent />
			<LoremContent />
			<Box bd my-s='50'>
				<AttsLabels atts='div' />
				<p>↓親要素（ここではdiv）を飛び越えることはありません。</p>
				<FullwideContent />
			</Box>
			<GutterGuide />
		</Flow>

		<h2>is--overwide</h2>
		<p>
			<code>@propetry</code>
			が有効なブラウザでは、<b>直前のコンテナ要素</b>が呼び出された位置を基準としたコンテナ幅 （<code>100cqi</code
			>）まで広がります。(コンテナの親に<code>has--gutter</code>がある場合はその分を加算します。)
		</p>
		<p>親要素を飛び越えて広げたいコンテンツに活用できます。</p>
		<!-- <p><code>@propetry</code>が無効なブラウザ</p> -->
		<Spacer h='5' />

		<Flow isContainer='m' flowGap='s' hasGutter>
			<AttsLabels atts='is--container,-container:m' />
			<LoremContent />
			<!-- <FullwideContent /> -->
			<Overwide />
			<Spacer h='40' />
			<Flow flowGap='s' bd>
				<AttsLabels atts='div' />
				<FullwideContent />
				<Overwide />
				<Spacer h='10' />
				<Box max-w='s' mx='auto'>
					<AttsLabels atts='div' />
					<Overwide />
				</Box>
			</Flow>
			<Spacer h='40' />
			<Flow isContainer flowGap='s'>
				<AttsLabels atts='is--container' />
				<Overwide />
				<Spacer h='30' />
				<Box max-w='s'>
					<AttsLabels atts='div,-max-w:s' />
					<Overwide />
				</Box>
				<Spacer h='30' />
				<Flow isContainer='s' flowGap='s'>
					<AttsLabels atts='is--container,-container:s' />
					<!-- <FullwideContent /> -->
					<Overwide />
				</Flow>
			</Flow>

			<GutterGuide />
			<LoremContent />
		</Flow>

		<Spacer h='5' />

		<Box hasGutter bd>
			<AttsLabels atts='div' />
			<Flow isContainer max-w='s' flowGap='s'>
				<AttsLabels atts='is--container.-max-w' />
				<LoremContent />
				<FullwideContent />
				<Overwide />
				<Spacer h='5' />
			</Flow>
			<GutterGuide />
		</Box>
	</Flow>
	<Spacer h='50' />
</DemoPageLayout>
