---
import { Stack, Lism, Text } from 'lism-css/astro';
import { siteConfig } from '@/config/site';
---

<Lism as="footer" class="z--footer" my-s="auto" py="30" {...Astro.props}>
  <Stack my-s="40" g="20">
    <!-- <Text ta="center">
			Powered by <a href="https://lism-css.com">Lism CSS</a>
		</Text> -->
    <Text ta="center" o="p" translate="no"> &copy; {siteConfig.name}. All rights reserved. </Text>
  </Stack>
</Lism>
