---
import { Cluster, Icon } from 'lism-css/astro';
import { siteConfig } from '@/config/site';

// phosphor icons icon: https://phosphoricons.com/?weight=fill&q=github
---

<Cluster class="c--snsLinks" jc="center" g="5">
  <a href={siteConfig.author.twitter} target="_blank" rel="noopener noreferrer" class="c--iconBtn l--center -c:inherit" title="Xへのリンク">
    <Icon icon="logo-x" size="1.125em" />
  </a>
  <a href={siteConfig.author.github} target="_blank" rel="noopener noreferrer" class="c--iconBtn l--center -c:inherit" title="GitHubへのリンク">
    <Icon icon="logo-github" size="1.125em" style={{ scale: '1.1' }} />
  </a>
  <a href={siteConfig.author.discord} target="_blank" rel="noopener noreferrer" class="c--iconBtn l--center -c:inherit" title="GitHubへのリンク">
    <Icon icon="logo-discord" size="1.125em" style={{ scale: '1.1' }} />
  </a>
</Cluster>

<style>
  .c--iconBtn {
    padding: 0.35em;
    border-radius: 0.25em;
  }
  .c--iconBtn:hover {
    color: var(--link);
    background-color: var(--base-2);
  }

  :global(.c--modal .c--snsLinks) {
    margin-inline-end: auto;
  }
</style>
