---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';

import { Container, Frame, Grid, Flow, Layer, Media, Stack, HTML } from 'lism-css/astro';
import Button from '~/components/ex/Button/index.astro';
import './_style.css';
---

<DemoPageLayout title='Feature013'>
	<Container pos='rel'>
		<Grid isLayer gt='repeat' cols={['2', null, '4']} rows={['2', null, '1']} g='0'>
			<Frame tag='figure' gr={['1', null, '1']} gc={['1', null, '1']} g='20'>
				<Media src='/img/img-1.jpg' alt='' width='960' height='640' />
			</Frame>
			<Frame tag='figure' gr={['1', null, '1']} gc={['2', null, '2']} g='20'>
				<Media src='/img/img-2.jpg' alt='' width='960' height='640' />
			</Frame>
			<Frame tag='figure' gr={['2', null, '1']} gc={['1', null, '3']} g='20'>
				<Media src='/img/img-3.jpg' alt='' width='960' height='640' />
			</Frame>
			<Frame tag='figure' gr={['2', null, '1']} gc={['2', null, '4']} g='20'>
				<Media src='/img/img-4.jpg' alt='' width='960' height='640' />
			</Frame>
		</Grid>
		<Layer blur='8px' bgc='black:30%' z='0' />
		<Flow flowGap='l' isContainer='s' pos='rel' hasGutter py='70' c='white'>
			<Stack g='40' ai='center'>
				<HTML.p class='u-trim' fz='5xl' fw='100' lts='l'>Feature</HTML.p>
				<HTML.p class='u-trim' fz='l' lts='l'>私たちの製品のこと</HTML.p>
			</Stack>
			<Stack g='40'>
				<p>
					どんなに美しいデザインも、使い心地が伴わなければ意味がありません。
					私たちは、触れた瞬間に意図が伝わる、直感的でシームレスな操作性を追求しました。
				</p>
				<p>
					光の点滅や、耳に心地よい操作音、滑らかなダイヤルの感触。五感に訴えかける細やかな設計が、
					日々の何気ない動作をストレスのない、豊かな体験へと昇華させます。
					テクノロジーを意識させない、水のような自然な使い心地をお楽しみください。
				</p>
			</Stack>
			<Button layout='grid' href='#' variant='outline' min-w='200px' p='30' c='white' bdrs='99'>
				<span>View More</span>
			</Button>
		</Flow>
	</Container>
</DemoPageLayout>
