/*
    Note: c,bgc,bdc Prop Class より前で読み込む(優先度を下げる）こと。
*/
.u--cbox {
	--c: color-mix(in srgb, var(--c-text), var(--keycolor) var(--cbox-cPct, 40%));
	--bgc: color-mix(in srgb, var(--c-base), var(--keycolor) var(--cbox-bgPct, 5%));
	--bdc: var(--keycolor);
	--c-link: var(--c);
	color: var(--c);
	background-color: var(--bgc);
}
