/*
    Note: c,bgc,bdc Prop Class より前で読み込む(優先度を下げる）こと。
*/
.u--colbox {
	--c: color-mix(in srgb, var(--c-text), var(--keycol) var(--colbox--pct-c, 20%));
	--bgc: color-mix(in srgb, var(--c-base), var(--keycol) var(--colbox--pct-bg, 5%));
	--bdc: var(--keycol);
	--c-link: var(--c);
	color: var(--c);
	background-color: var(--bgc);
}
