// そのうち text-box-trim が使える

.u-trim {
	// 詰まりすぎにならないようにほんの少しだけ余裕を持たせる
	// margin-block: calc(0.5px + var(--HL) * -1);
	margin-block: calc(var(--hl) * -1);
}

.u-trimItems {
	> * {
		--my: calc(var(--hl) * -1);
		margin-block: var(--my);
	}

	/*
	 * トリミング除外要素
	 *   Memo: --hl を 0 にはしないようにする.
	*/
	> :where(figure, img, button) {
		--my: 0px;
	}
}

// .u-trimBox {
// 	:where(&) > * {
// 		--trimHL: calc(0.5px + var(--HL) * -1);
// 	}
// 	> :first-child {
// 		margin-block-start: var(--trimHL);
// 	}
// 	> :last-child {
// 		margin-block-end: var(--trimHL);
// 	}
// }
