@layer lism.component {
	.c--shapeDivider {
		--level: 0;
		--translate-y: 0.5px;
		--_inner-offset: 0;
		--_inner-stretch: 1;

		/* 600px時点を最小値, 1200px時点を最大値にして、clampで高さを変動させる */
		--h: clamp(calc(6px * var(--level)), calc(1cqw * var(--level)), calc(12px * var(--level)));
		height: var(--h);
		overflow: hidden;
		translate: 0 var(--translate-y);
	}

	.c--shapeDivider:where(.-scale\:-Y, .-scale\:-XY) {
		--translate-y: -0.5px;
	}

	.c--shapeDivider_inner {
		scale: var(--_inner-stretch) 1;
		translate: var(--_inner-offset) 0;
	}
}

/* 左右にスライドするアニメーション */
.-anim\:shapeSlide {
	/* ↓ X 100% にしてるのは translateXのcalc計算で * -1 をしなくていいように。*/
	transform-origin: 100% 0;
	animation: LismShapeSlide 12s infinite alternate linear;
}
@keyframes LismShapeSlide {
	0% {
		transform: scaleX(4);
	}
	100% {
		transform: scaleX(4) translateX(calc(100% - 25%));
	}
}
