---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';

import { Container, Grid, Box, HTML, Flex, Icon } from 'lism-css/astro';
import Button from '~/components/ex/Button/index.astro';
import './_style.css';
---

<DemoPageLayout title='Feature023'>
	<Container size='m' bgc='base-2' py='60' hasGutter>
		<Grid gtc={['1fr', null, 'auto 1fr']} g='50'>
			<Box gr={['1', null, '1 / 2']} gc={['1', null, '1 / 2']}>
				<h2 class='u-trim'>サービスの特徴について</h2>
			</Box>
			<Box gr={['2', null, '2']} gc={['1', null, '1 / 3']}>
				<Grid gtc={['auto', null, 'auto 1fr']} g='40'>
					<Grid
						isLinkBox
						href='#'
						gtc='subgrid'
						gc='1 / -1'
						g={['30', null, '50']}
						bgc='white'
						p='40'
						bdrs='10'
						setTransition
						setHov
						hov='bxsh'
					>
						<Grid gtc={['auto auto', 'auto 1fr']} g='40' jc='start' ai='center'>
							<HTML.span d='in-flex' jc='center' fz='xs' lh='xs' c='white' py='10' px='30' bgc='text' bdrs='99'>POINT 1</HTML.span>
							<HTML.p fz='m' fw='bold'>楽しみながら計画的に資産形成</HTML.p>
						</Grid>
						<Flex ai='center' c='text' td='none' g='40'>
							<HTML.p>目標金額を設定して貯蓄ができる「目的別預金」が登場。楽しみながら計画的な資産形成が行えます。</HTML.p>
							<Flex ai='center' jc='center' bd bdc='text' p='20' bdrs='99' setTransition hov='to:bgcBlack'>
								<Icon icon='arrow-right' fz='s' c='text' mx-s='auto' setTransition hov='to:cWhite' />
							</Flex>
						</Flex>
					</Grid>
					<Grid
						isLinkBox
						href='#'
						gtc='subgrid'
						gc='1 / -1'
						g={['30', null, '50']}
						bgc='white'
						p='40'
						bdrs='10'
						setTransition
						setHov
						hov='bxsh'
					>
						<Grid gtc={['auto auto', 'auto 1fr']} g='40' jc='start' ai='center'>
							<HTML.span d='in-flex' jc='center' fz='xs' lh='xs' c='white' py='10' px='30' bgc='text' bdrs='99'>POINT 2</HTML.span>
							<HTML.p fz='m' fw='bold'>安心のセキュリティ体制</HTML.p>
						</Grid>
						<Flex ai='center' c='text' td='none' g='40'>
							<HTML.p>通信の暗号化や二段階認証を導入。お客様の大切な資産と個人情報を厳重に保護します。</HTML.p>
							<Flex ai='center' jc='center' bd bdc='text' p='20' bdrs='99' setTransition hov='to:bgcBlack'>
								<Icon icon='arrow-right' fz='s' c='text' mx-s='auto' setTransition hov='to:cWhite' />
							</Flex>
						</Flex>
					</Grid>
					<Grid
						isLinkBox
						href='#'
						gtc='subgrid'
						gc='1 / -1'
						g={['30', null, '50']}
						bgc='white'
						p='40'
						bdrs='10'
						setTransition
						setHov
						hov='bxsh'
					>
						<Grid gtc={['auto auto', 'auto 1fr']} g='40' jc='start' ai='center'>
							<HTML.span d='in-flex' jc='center' fz='xs' lh='xs' c='white' py='10' px='30' bgc='text' bdrs='99'>POINT 3</HTML.span>
							<HTML.p fz='m' fw='bold'>必要なものはスマホだけ！</HTML.p>
						</Grid>
						<Flex ai='center' c='text' td='none' g='40'>
							<HTML.p>口座開設から運用状況の確認までスマホアプリで完結。いつでも手軽に資産をチェックできます。</HTML.p>
							<Flex ai='center' jc='center' bd bdc='text' p='20' bdrs='99' setTransition hov='to:bgcBlack'>
								<Icon icon='arrow-right' fz='s' c='text' mx-s='auto' setTransition hov='to:cWhite' />
							</Flex>
						</Flex>
					</Grid>
				</Grid>
			</Box>
			<Flex gr={['3', null, '1 / 2']} gc={['1', null, '2 / 3']} ai='flex-e' jc='flex-e'>
				<Button href='#' variant='outline' w={['stretch', null, 'auto']} min-w='8rem' fz='s' bd bdc='text' p='20' bdrs='10'
					>View Detail</Button
				>
			</Flex>
		</Grid>
	</Container>
</DemoPageLayout>

<style>
	@media (any-hover: hover) {
		.-hov\:to\:bgcBlack {
			background-color: var(--isHov_, var(--black));
		}
		.-hov\:to\:cWhite {
			color: var(--isHov_, var(--white));
		}
	}
</style>
