@media (any-hover: hover) {
	.set-hov:hover {
		--notHov_: ;
	}
	.set-hov:not(:hover) {
		--isHov_: ;
	}
}
@media (any-hover: none) {
	.set-hov {
		--isHov_: ;
	}
}
.set-hov:where(:focus-visible, :focus-within) {
	--notHov_: ;
}
