@media (any-hover: hover) {
	.set-hov:hover {
		--_notHov: ;
	}
	.set-hov:not(:hover) {
		--_isHov: ;
	}
}
@media (any-hover: none) {
	.set-hov {
		--_isHov: ;
	}
}
.set-hov:where(:focus-visible, :focus-within) {
	--_notHov: ;
}
