@media (any-hover: hover) {
  .set--var\:hov:hover {
    --_notHov: ;
  }
  .set--var\:hov:not(:is(:hover, :focus-within)) {
    --_isHov: ;
  }
}
@media (any-hover: none) {
  .set--var\:hov {
    --_isHov: ;
  }
}
.set--var\:hov:is(:focus-visible, :focus-within) {
  --_notHov: ;
}
