@use '../../_mixin' as mixin;

// Note: d--modalに使われる
@include mixin.maybe_where('.set-plain') {
	font: inherit;
	width: auto;
	height: auto;
	color: inherit;
	background: none;
	border: none;
	text-decoration: none;
	padding: 0;
	// margin: 0;
}
