@use '../../_mixin' as mixin;

.set-transition {
	transition: var(--duration, 0.25s) var(--ease, linear) var(--delay, 0s);
	transition-property: var(--transProp, all);
}

// .-ease\:in {--ease: ease-in;}
// .-ease\:out {--ease: ease-out;}
// .-ease\:in-out {--ease: ease-in-out;}
// .-ease\:linear {--ease: linear;}

// .set--animation {
// 	animation: var(--duration) var(--ease) var(--delay) var(--animation);
// }
