@use '../../_mixin' as mixin;

.set-transition {
	transition: var(--hov-duration, 0.25s) var(--hov-ease, linear) var(--hov-delay, 0s);
	transition-property: var(--hov-prop, all);
}

// .-ease\:in {--ease: ease-in;}
// .-ease\:out {--ease: ease-out;}
// .-ease\:in-out {--ease: ease-in-out;}
// .-ease\:linear {--ease: linear;}
