---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';
import DemoHeader from '../_DemoHeader.astro';
import DemoFooter from '../_DemoFooter.astro';
import DemoContent from '../_DemoContent.astro';
import { Box, Flow, Stack, Wrapper, Dummy, WithSide } from 'lism-css/astro';
---

<DemoPageLayout title='Two Columns Layout'>
	<Stack id='wrap' min-h='100vh'>
		<DemoHeader />
		<Wrapper contentSize='l' hasGutter py='40' fx='1'>
			<WithSide sideW='300px' mainW='40rem' g='var(--gutter-size)'>
				<Wrapper tag='main'>
					<article>
						<header>
							<h1>Page Title</h1>
						</header>
						<Flow my-s='50'>
							<DemoContent />
						</Flow>
						<Box tag='aside' my-s='50'>
							<Box bgc='base-2' p='40'>
								<div>Comment area, etc...</div>
							</Box>
						</Box>
					</article>
				</Wrapper>
				<Wrapper tag='aside' isSide layout='flow' bgc='base-2' p='20'>
					<div>Sidebar contents...</div>
					<Dummy />
				</Wrapper>
			</WithSide>
		</Wrapper>
		<DemoFooter />
	</Stack>
</DemoPageLayout>
