/*
 * dialog で実装.
 *   Memo: ::backdrop のアニメーションはFirefoxで動かない
 */
@layer lism-block {
  .b--modal {
    --flow: 0 !important; /* flow直下にきても影響しないように */
    --duration: var(--modal-duration, 0.3s);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: unset;
    background: var(--backdrop-bg, rgb(0 0 0 / 0.5));
    backdrop-filter: var(--modal-blur, blur(4px));
    transition-duration: var(--duration);
    transition-property: opacity;
  }
  .b--modal::backdrop {
    background: none;
  }
  .b--modal[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .b--modal_inner {
    --offset: 0 0; /* アニメーション用 */
    background-color: var(--base);
    transition: translate var(--duration);
    max-height: 100%;
  }

  .b--modal_openBtn,
  .b--modal_closeBtn {
    display: inline-flex;
    align-items: center;
  }

  /* .b--modal_body {
	overscroll-behavior: contain;
} */

  .b--modal:not([data-is-open]) {
    opacity: 0;
  }
  .b--modal:not([data-is-open]) > .b--modal_inner {
    translate: var(--offset);
  }

  /* 減速設定時はアニメーションを無効化（duration プロップ由来の inline style よりも優先させるため !important） */
  @media (prefers-reduced-motion: reduce) {
    .b--modal {
      --duration: 0s !important;
    }
  }
}
