---
import DemoPageLayout from '@/layouts/DemoPageLayout.astro';
import {
	AttsLabels,
	// TipCode,
	GutterGuide,
	WideContent,
	FullSizeContent,
	ContainerSizeContent,
	LoremContent,
} from '../container/_components.js';
import { Lism, Box, Flow, Spacer } from 'lism-css/astro';
import '../container/_style.scss';
---

<DemoPageLayout title='コンテンツサイズ'>
	<Flow id='demo-wrapper' py={50} p='1px'>
		<h2>コンテンツサイズ一覧</h2>
		<Flow isWrapper py='10' bd='none'>
			<Lism max-sz='xl' bd px='10' className='u-cbox' keycolor='gray'><code>-max-sz:xl</code></Lism>
			<Lism max-sz='l' bd px='10' className='u-cbox' keycolor='gray'><code>-max-sz:l</code></Lism>
			<Lism max-sz='m' bd px='10' className='u-cbox' keycolor='gray'><code>-max-sz:m</code></Lism>
			<Lism max-sz='s' bd px='10' className='u-cbox' keycolor='gray'><code>-max-sz:s</code></Lism>
			<Lism max-sz='xs' bd px='10' className='u-cbox' keycolor='gray'><code>-max-sz:xs</code></Lism>
		</Flow>

		<h2><code>-max-sz:full</code></h2>
		<p><code>-max-sz:full</code> は、基本的には 100% ですが、親が <code>has--gutter</code> を持っていても全幅に広がります。</p>
		<!-- <p>また、<code>l--flow</code> の直下で <code>-max-sz:full</code> が連続すると、その間の余白は0となります。</p> -->

		<Spacer h='5' />
		<Flow isWrapper flow='s' hasGutter>
			<AttsLabels atts='is--wrapper,has--gutter' />
			<LoremContent />
			<FullSizeContent />
			<LoremContent />
			<Box bd my-s='40'>
				<AttsLabels atts='div' />
				<p>↓親要素（ここではdiv）を飛び越えることはありません。</p>
				<FullSizeContent />
			</Box>
			<GutterGuide />
		</Flow>

		<h2><code>-max-sz:container</code></h2>
		<p>
			<code>@propetry</code>
			が有効なブラウザでは、<b>先祖コンテナ要素</b>が呼び出された位置を基準とした幅 （<code>100cqi</code>）まで広がります。
			<br />また、コンテナに<code>has--gutter</code>がある場合はその分を加算します。
		</p>
		<p>フルブリードレイアウトなど、親要素を飛び越えて外側まで広げたいコンテンツに活用できます。</p>
		<!-- <p><code>@propetry</code>が無効なブラウザ</p> -->
		<Spacer h='5' />

		<Flow isContainer isWrapper flow='s' hasGutter>
			<AttsLabels atts='is--wrapper,is--container,has--gutter' />
			<LoremContent />
			<FullSizeContent />
			<ContainerSizeContent />
			<Spacer h='30' />
			<Flow bd>
				<AttsLabels atts='div' />
				<FullSizeContent />
				<ContainerSizeContent />
			</Flow>
			<Spacer h='30' />
			<Flow isContainer>
				<AttsLabels atts='is--container' />
				<FullSizeContent />
				<ContainerSizeContent />
			</Flow>

			<GutterGuide />
			<LoremContent />
		</Flow>

		<Spacer h='5' />
	</Flow>
	<Spacer h='50' />
</DemoPageLayout>

<style is:global>
	#demo-wrapper > :is(p, h2, h3) {
		max-width: 55rem;
		margin-inline: auto;
	}
</style>
