---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';

import { Wrapper, Frame, Grid, Box, Media, Stack, HTML } from 'lism-css/astro';
import './_style.css';
---

<DemoPageLayout title='Information001'>
	<Wrapper contentSize='m' bgc='base' py='50' hasGutter>
		<Stack g='40'>
			<Stack g='20' ai='center'>
				<h2 class='u-trim'>会社情報</h2>
				<HTML.span class='u-trim' fz='s' ta='center' o='-30'>Company Information</HTML.span>
			</Stack>
			<Frame tag='figure' ar='3/1' bdrs='10'>
				<Media src='https://cdn.lism-css.com/img/random-2510?category=building' alt='' width='960' height='640' />
			</Frame>
			<Grid tag='dl' className='u-collapseGrid' ov='clip' p='0' gtr='auto' gtc='auto 1fr' g-x='50' bd-y>
				<Grid gtc='subgrid' gc='1/-1' p='20'>
					<dt>会社名</dt>
					<dd>株式会社リズム</dd>
				</Grid>
				<Grid gtc='subgrid' gc='1/-1' p='20'>
					<dt>設立</dt>
					<dd>2020年1月1日</dd>
				</Grid>
				<Grid gtc='subgrid' gc='1/-1' p='20'>
					<dt>所在地</dt>
					<dd>東京都千代田区丸の内10000</dd>
				</Grid>
				<Grid gtc='subgrid' gc='1/-1' p='20'>
					<dt>代表者</dt>
					<dd>田中　太郎</dd>
				</Grid>
				<Grid gtc='subgrid' gc='1/-1' p='20'>
					<dt>事業内容</dt>
					<dd>ソフトウェア開発、システムインテグレーション、ITコンサルティング</dd>
				</Grid>
				<Grid gtc='subgrid' gc='1/-1' p='20'>
					<dt>資本金</dt>
					<dd>1億円</dd>
				</Grid>
				<Grid gtc='subgrid' gc='1/-1' p='20'>
					<dt>従業員数</dt>
					<dd>100名</dd>
				</Grid>
				<Grid gtc='subgrid' gc='1/-1' p='20'>
					<dt>取引銀行</dt>
					<dd>三菱UFJ銀行、みずほ銀行</dd>
				</Grid>
				<Grid gtc='subgrid' gc='1/-1' p='20'>
					<dt>主要取引先</dt>
					<dd>株式会社ABC、XYZ株式会社、123株式会社</dd>
				</Grid>
				<Grid gtc='subgrid' gc='1/-1' g='40 50' p='20'>
					<dt>アクセス</dt>
					<dd>東京駅から徒歩0分<br />※以下は東京駅の地図です</dd>
					<Box gc='1/-1'>
						<iframe
							src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3240.8252786101943!2d139.7644908758969!3d35.68130392996982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188bfbd89f700b%3A0x277c49ba34ed38!2z5p2x5Lqs6aeF!5e0!3m2!1sja!2sjp!4v1755771376764!5m2!1sja!2sjp'
							width='100%'
							height='400'
							style='border:0;'
							allowfullscreen=''
							loading='lazy'
							referrerpolicy='no-referrer-when-downgrade'></iframe>
					</Box>
				</Grid>
			</Grid>
		</Stack>
	</Wrapper>
</DemoPageLayout>
