.l--columns {
	--cols: 2; // 初期値
	display: grid;
	grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
}

.l--columns--liquid {
	--autoType: auto-fill; // auto-fill or auto-fit : 親の幅に対してアイテムが少ない時に、引き伸ばすか、伸ばさないか。
	--colSize: var(--sz--min);

	display: grid;
	grid-template-columns: repeat(var(--autoType), minmax(min(var(--colSize), 100%), 1fr));
}
