.l--grid {
	display: grid;
}

.l--grid--repeat {
	--rows: 1;
	--cols: 1;
	grid-template: repeat(var(--rows), 1fr) / repeat(var(--cols), 1fr);
}

.l--grid--liquid {
	--cols: var(--sz--min);
	grid-template-columns: repeat(auto-fill, minmax(min(var(--cols), 100%), 1fr));
}
