---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';

import { Lism, Stack, Container, Columns, Text } from 'lism-css/astro';
import './style.css';
---

<DemoPageLayout title='demo01'>
	<Container className='sec--demo01' size='m' py='60' hasGutter>
		<h2>Demo01 heading title</h2>
		<Text c='text-2' mbs='20'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</Text>

		<Columns variant='liquid' g='40' mbs='60'>
			<Stack g='20'>
				<h3>Hogehoge hugahuga</h3>
				<Text c='text-2'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</Text>
			</Stack>
			<Stack g='20'>
				<h3>Hogehoge hugahuga</h3>
				<Text c='text-2'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</Text>
			</Stack>
			<Stack g='20'>
				<h3>Hogehoge hugahuga</h3>
				<Text c='text-2'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</Text>
			</Stack>
			<Stack g='20'>
				<h3>Hogehoge hugahuga</h3>
				<Text c='text-2'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</Text>
			</Stack>
			<Stack g='20'>
				<h3>Hogehoge hugahuga</h3>
				<Text c='text-2'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</Text>
			</Stack>
			<Stack g='20'>
				<h3>Hogehoge hugahuga</h3>
				<Text c='text-2'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</Text>
			</Stack>
		</Columns>
	</Container>
</DemoPageLayout>
