@keyframes scFadeY {
	0% {
		mask-position: 0 -2rem;
	}
	100% {
		mask-position: 0 0;
	}
}
@keyframes scFadeX {
	0% {
		mask-position: -2rem 0;
	}
	100% {
		mask-position: 0 0;
	}
}

.u-scFade\:x,
.u-scFade\:y {
	--scFade-sz: 2rem;
	--scFade-offset: 1px; // borderがついていたらうっすら見えたりするので、offsetで調節可能に。
	mask-image: linear-gradient(
		var(--scFade-dir),
		transparent var(--scFade-offset),
		black var(--scFade-sz),
		black calc(100% - var(--scFade-sz)),
		transparent calc(100% - var(--scFade-offset))
	);
}
.u-scFade\:y {
	--scFade-dir: to bottom;
	mask-size: 100% calc(100% + var(--scFade-sz));
	animation: scFadeY linear; /* 影のアニメーション */
	animation-timeline: scroll(self y); /* スクロール連動 */
}
.u-scFade\:x {
	--scFade-dir: to right;
	mask-size: calc(100% + var(--scFade-sz)) 100%;
	animation: scFadeX linear; /* 影のアニメーション */
	animation-timeline: scroll(self x); /* スクロール連動 */
}
