@import '../_typography.css';

:root{
	--gutter-size: var(--s--30);
	--flow--base: var(--s--30);
}

/* コンテンツの両端の余白 */
.has--gutter {
	padding-inline: var(--gutter-size);
}

/* コンテンツ幅の制御 */
.is--wrapper {
	--contentSize: 50rem;
}
.is--wrapper > * {
	--max-sz: var(--contentSize, 100%);
	max-inline-size: min(100%, var(--contentSize)); /* min ないとimg要素等がはみ出すことがある */
	margin-inline: auto;
}

/* コンテンツ間の余白 */
.l--flow > * + * {
	--flow: var(--flow--base);
	margin-block-start: var(--flow);
}

/* 見出しの上部の余白は広くする. */
.l--flow > :where(h1, h2, h3, h4, h5, h6) {
	margin-block-start: calc(var(--flow) * 2);
}

/* その他 - コンテンツエリア上下の余白 */
main{
	padding-block: var(--s--40);
}
