.demo-fz-scalling {
	--fz-scale: 1.2;
	--fz--xs: calc(1rem / var(--fz-scale) / var(--fz-scale));
	--fz--s: calc(1rem / var(--fz-scale));
	--fz--base: 1rem;
	--fz--l: calc(1rem * var(--fz-scale));
	--fz--xl: calc(1rem * var(--fz-scale) * var(--fz-scale));
	--fz--2xl: calc(1rem * pow(var(--fz-scale), 3));
	--fz--3xl: calc(1rem * pow(var(--fz-scale), 4));
	--fz--4xl: calc(1rem * pow(var(--fz-scale), 5));
	--fz--5xl: calc(1rem * pow(var(--fz-scale), 6));
}

.fz--xs { font-size: var(--fz--xs); }
.fz--s { font-size: var(--fz--s); }
.fz--base { font-size: var(--fz--base); }
.fz--l { font-size: var(--fz--l); }
.fz--xl { font-size: var(--fz--xl); }
.fz--2xl { font-size: var(--fz--2xl); }
.fz--3xl { font-size: var(--fz--3xl); }
.fz--4xl { font-size: var(--fz--4xl); }
.fz--5xl { font-size: var(--fz--5xl); }

