---
import DemoLayout from '@/layouts/DemoLayout.astro';
import './_src.css';
import '../_common.css';

// HTMLファイルを文字列としてインポート
import srcHtml from './_src.html?raw';

// 音程に基づく比率（小さい順）
const ratioBtns = [
	// { value: '1', label: '同度 (Unison)' }, // 1:1
	{ value: '1.067', label: '短2度', en: '(Minor 2nd)' }, // 15:16 = 16/15
	{ value: '1.125', label: '長2度', en: '(Major 2nd)' }, // 8:9 = 9/8
	{ value: '1.2', label: '短3度', en: '(Minor 3rd)', isDefault: true }, // 5:6 = 6/5
	{ value: '1.25', label: '長3度', en: '(Major 3rd)' }, // 4:5 = 5/4
	{ value: '1.333', label: '完全4度', en: '(Perfect 4th)' }, // 3:4 = 4/3
	{ value: '1.414', label: '白銀比', en: '(Silver)' }, // 1:√2 = √2',（減5度（増4度））
	{ value: '1.5', label: '完全5度', en: '(Perfect 5th)' }, // 2:3 = 3/2
	{ value: '1.6', label: '短6度', en: '(Minor 6th)' }, // 5:8 = 8/5
	{ value: '1.618', label: '黄金比', en: '(Golden)' }, // φ
	// { value: '1.667', label: '長6度', en: '(Major 6th)' }, // 3:5 = 5/3
	// { value: '1.778', label: '短7度 (Minor 7th)' }, // 9:16 = 16/9
	// { value: '1.875', label: '長7度 (Major 7th)' }, // 8:15 = 15/8
	// { value: '2', label: 'オクターブ (Octave)' }, // 1:2 = 2/1
];
---

<DemoLayout title="Geometric Modular Scaling">
	<div class="_demo_">
		<div id="ratioBtns">
			{
				ratioBtns.map((btn, i) => (
					<button data-ratio={btn.value} class:list={['btn', btn.isDefault ? 'active' : '']}>
						{btn.value} <small>({btn.label})</small>
					</button>
				))
			}
		</div>

		<Fragment set:html={srcHtml} />
	</div>

	<script>
		// ボタングループとデモ要素を取得
		const ratioBtns = document.getElementById('ratioBtns');
		const demoElement = document.querySelector('.demo-fz-scalling');

		if (ratioBtns && demoElement) {
			ratioBtns.addEventListener('click', (e) => {
				// closest()で子要素のクリックしても親のbuttonを取得できるようにする
				const target = (e.target as HTMLElement).closest('button');
				if (!target) return;

				// data-ratioを取得してCSS変数をセット
				const value = target.dataset.ratio;
				if (value) {
					(demoElement as HTMLElement).style.setProperty('--fz-scale', value);
				}

				// activeクラスの切り替え
				ratioBtns.querySelectorAll('button').forEach((btn) => {
					btn.classList.remove('active');
				});
				target.classList.add('active');
			});
		}
	</script>
</DemoLayout>
