// 自動生成されたファイル - prop-config.jsから生成
// 生成日時: 2025-09-28T14:25:47.338Z

$props: (
	'w': (
		prop: 'width',
		bp: 1,
		utilities: (
			'fit-content': 'fit',
			'100\\%': '100%',
		),
	),
	'h': (
		prop: 'height',
		bp: 1,
		utilities: (
			'fit-content': 'fit',
			'100\\%': '100%',
			'100lvh': '100lvh',
			'100svh': '100svh',
		),
	),
	'f': (
		prop: 'undefined',
		utilities: (
			'inherit': 'inherit',
		),
	),
	'fz': (
		prop: 'undefined',
	),
	'fw': (
		prop: 'undefined',
		utilities: (
			'100': '100',
			'200': '200',
			'300': '300',
			'400': '400',
			'500': '500',
			'600': '600',
			'700': '700',
			'800': '800',
			'900': '900',
			'light': 'light',
			'normal': 'normal',
			'bold': 'bold',
		),
	),
	'lh': (
		prop: 'undefined',
		utilities: (
			'1': '1',
		),
	),
	'c': (
		prop: 'undefined',
		utilities: (
			'inherit': 'inherit',
			'base': 'var(--color-base)',
			'text': 'var(--color-text)',
			'text-2': 'var(--color-text-2)',
			'main': 'var(--color-main)',
			'accent': 'var(--color-accent)',
			'mix': 'mix',
		),
	),
);
