.demo-fz-scalling[data-harmonic="8"] {
	--fz--xs: calc(1rem * (8 / 10));
	--fz--s: calc(1rem * (8 / 9));
	--fz--base: 1rem;
	--fz--l: calc(1rem * (8 / 7));
	--fz--xl: calc(1rem * (8 / 6));
	--fz--2xl: calc(1rem * (8 / 5));
	--fz--3xl: calc(1rem * (8 / 4));
	--fz--4xl: calc(1rem * (8 / 3));
	--fz--5xl: calc(1rem * (8 / 2));
}
.demo-fz-scalling[data-harmonic="9"] {
	--fz--xs: calc(1rem * (9 / 11));
	--fz--s: calc(1rem * (9 / 10));
	--fz--base: 1rem;
	--fz--l: calc(1rem * (9 / 8));
	--fz--xl: calc(1rem * (9 / 7));
	--fz--2xl: calc(1rem * (9 / 6));
	--fz--3xl: calc(1rem * (9 / 5));
	--fz--4xl: calc(1rem * (9 / 4));
	--fz--5xl: calc(1rem * (9 / 3));
}
.demo-fz-scalling[data-harmonic="7"] {
	--fz--xs: calc(1rem * (7 / 9));
	--fz--s: calc(1rem * (7 / 8));
	--fz--base: 1rem;
	--fz--l: calc(1rem * (7 / 6));
	--fz--xl: calc(1rem * (7 / 5));
	--fz--2xl: calc(1rem * (7 / 4));
	--fz--3xl: calc(1rem * (7 / 3));
	--fz--4xl: calc(1rem * (7 / 2));
	--fz--5xl: calc(1rem * (7 / 1));
}

.fz--xs { font-size: var(--fz--xs); }
.fz--s { font-size: var(--fz--s); }
.fz--base { font-size: var(--fz--base); }
.fz--l { font-size: var(--fz--l); }
.fz--xl { font-size: var(--fz--xl); }
.fz--2xl { font-size: var(--fz--2xl); }
.fz--3xl { font-size: var(--fz--3xl); }
.fz--4xl { font-size: var(--fz--4xl); }
.fz--5xl { font-size: var(--fz--5xl); }

