---
import DemoLayout from '@/layouts/DemoLayout.astro';
import './_src.css';
import '../_common.css';

// HTMLファイルを文字列としてインポート
import srcHtml from './_src.html?raw';

// 音程に基づく比率（小さい順）
const ratioBtns = [
	{ value: '7', label: '分子7', en: '(Harmonic 7)' },
	{ value: '8', label: '分子8', en: '(Harmonic 8)', isDefault: true },
	{ value: '9', label: '分子9', en: '(Harmonic 9)' },
];
---

<DemoLayout title="Geometric Modular Scaling">
	<div class="_demo_">
		<div id="ratioBtns">
			{
				ratioBtns.map((btn, i) => (
					<button data-harmonic={btn.value} class:list={['btn', btn.isDefault ? 'active' : '']}>
						{btn.value} <small>({btn.label})</small>
					</button>
				))
			}
		</div>

		<Fragment set:html={srcHtml} />
	</div>

	<script>
		// ボタングループとデモ要素を取得
		const ratioBtns = document.getElementById('ratioBtns');
		const demoElement = document.querySelector('.demo-fz-scalling');

		if (ratioBtns && demoElement) {
			ratioBtns.addEventListener('click', (e) => {
				// closest()で子要素のクリックしても親のbuttonを取得できるようにする
				const target = (e.target as HTMLElement).closest('button');
				if (!target) return;

				// data-ratioを取得して属性値をセット
				const value = target.dataset.harmonic;
				if (value) {
					(demoElement as HTMLElement).setAttribute('data-harmonic', value);
				}

				// activeクラスの切り替え
				ratioBtns.querySelectorAll('button').forEach((btn) => {
					btn.classList.remove('active');
				});
				target.classList.add('active');
			});
		}
	</script>
</DemoLayout>
