/*
	Meomo: end:0 がどうせ :first-child に必要なので、 mbs も > * + * 使わず上書き形式で。
	is--containerと合わせて、カスタム値のセットは is--flow + 変数定義だけでできるように。
*/

.is--flow {
	display: flow-root;
	// --_fgap: var(--flowM, var(--flowM-m));

	> * {
		--mbs: var(--flowM, var(--flowM-m));
		margin-block: var(--mbs) 0;
	}
}
.-flow\:s > * {
	--mbs: var(--flowM-s);
}
.-flow\:m > * {
	--mbs: var(--flowM-m);
}
// .-flow\:l > * {
// 	--flowM: var(--flowM-l);
// }
// .-flow\: > * {
// 	--mbs: var(--flowM);
// }

// 見出しの上部余白は少しだけ広くする. ただし、見出し直後の見出しの場合を除く。
// Note: :first-child での打消しのほうが優先度高くなるように注意する
.is--flow > :where(h1, h2, h3, h4) {
	margin-block-start: calc(var(--mbs) + var(--flowM-h));
}
// :where(h2 + h3, h3 + h4) {
// 	--flowM-h: 0px;
// }

// fullwideの連結に余白は基本不要
.is--flow > :where(.is--fullwide + .is--fullwide) {
	--mbs: 0;
}

// :first-child への上書きのほうが優先度高くなるように。
.is--flow > :first-child {
	margin-block-start: 0;
}
