/*
	Meomo: end:0 がどうせ :first-child に必要なので、 my-s も > * + * 使わず上書き形式で。
	is--containerと合わせて、カスタム値のセットは is--flow + 変数定義だけでできるように。
*/

.is--flow {
	display: flow-root;
	// --_fgap: var(--flow-gap, var(--flow--m));

	> * {
		--my-s: var(--flow-gap, var(--flow--m));
		margin-block: var(--my-s) 0;
	}
}
.-flow\:s > * {
	--my-s: var(--flow--s);
}
.-flow\:m > * {
	--my-s: var(--flow--m);
}
// .-flow\:l > * {
// 	--flow-gap: var(--flow--l);
// }
// .-flow\: > * {
// 	--my-s: var(--flow-gap);
// }

// 見出しの上部余白は少しだけ広くする. ただし、見出し直後の見出しの場合を除く。
// Note: :first-child での打消しのほうが優先度高くなるように注意する
.is--flow > :where(h1, h2, h3, h4) {
	margin-block-start: calc(var(--my-s) + var(--flow--h));
}
// :where(h2 + h3, h3 + h4) {
// 	--flow--h: 0px;
// }

// fullwideの連結に余白は基本不要
.is--flow > :where(.is--fullwide + .is--fullwide) {
	--my-s: 0;
}

// :first-child への上書きのほうが優先度高くなるように。
.is--flow > :first-child {
	margin-block-start: 0;
}
