// Note: [data-content-size] より後にかく。
.is--fullwide {
	// container-type: inline-size;
	max-inline-size: 100%;

	:where(.has--gutter) > & {
		// --content-size 変数は min()で100%と比較してるので、直接セット
		max-inline-size: calc(100% + var(--gutter) * 2);
		margin-inline: calc(var(--gutter) * -1);
	}
}

// :is(.alignwide, .is--wide)
.is--wide {
	// container-type: inline-size;
	max-inline-size: var(--wide-size, 100%);
}

.is--overwide {
	max-inline-size: var(--overwide-size, 100vi);
	margin-inline: calc(50% - var(--overwide-size) / 2);
}
