// state
@forward './gutter';
@forward './flow';
@forward './container'; // Note: flow より後ろで読み込む
@forward './skipflow';
@forward './size'; // Note: container より後ろで読み込む
@forward './layer'; // Note: position の関係で、linkbox より後で読み込む
@forward './isolate';
@forward './vertical';
@forward './linkbox';
@forward './hover';
@forward './transition';

// container, frame直下のメディア要素は block に初期リセット
:where(.is--container, .is--flow) > :where(img, video, audio) {
	display: block;
}
