---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';
import { Lism, Flow, Stack } from 'lism-css/astro';

// import './style.scss';
---

<DemoPageLayout title='HTML Base Style'>
	<Stack min-h='100%'>
		<Flow hasGutter py='50' isContainer='m'>
			<Flow>
				<h1>This is iframe content.</h1>
				<p>Lorem ipsum dolor sit amet, adipiscing elit.</p>
				<p>
					Lorem ipsum dolor sit amet, Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida
					vehicula, nisl. Praesent mattis, massa quis luctus fermentum.
				</p>
				<hr />
				<blockquote>
					<p>
						Lorem ipsum dolor sit amet, Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec,
						gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum.
					</p>
				</blockquote>
				<hr />
				<p>-- End of iframe.</p>
			</Flow>
		</Flow>
		<Lism tag='footer' mt='auto'><Lism tag='p'>This is iframe content.</Lism></Lism>
	</Stack>
</DemoPageLayout>
