@layer lism.component {
	.c--timeline {
		--shape_size: 1.375rem;
		--highlight_inset: -3px;
		--line_len: 100%;
		--line_bold: 1px;
		--line_offset: calc(var(--shape_size) / 2);

		--edgeSpace: var(--s30);
		--startSpace: var(--edgeSpace);
		--endSpace: var(--edgeSpace);
		--shapeSpace: calc(var(--shape_size) + var(--highlight_inset) * -1);
	}

	.c--timeline_item {
		grid: var(--startSpace) auto auto auto var(--endSpace) / var(--shapeSpace) 1fr;
	}

	.c--timeline_line {
		width: var(--line_bold);
		height: var(--line_len);
	}

	.c--timeline_shape {
		font-size: var(--shape_size);
		width: 0.5em; /* icon ない時は 縮める */
	}
	.c--timeline_shape._hasIcon {
		width: 1em;
	}
	.c--timeline_highlight {
		inset: var(--highlight_inset);
	}

	[data-timeline='start'] {
		--startSpace: 0;
		--line_len: calc(100% - var(--line_offset));
	}
	[data-timeline='end'] {
		--endSpace: 0;
		--line_len: calc(100% - var(--line_offset));
	}

	.c--timeline-horizontal {
		--edgeSpace: var(--s20);
		--line_offset: calc(50% - var(--edgeSpace) / 2);
		grid-template-rows: var(--shapeSpace) auto auto auto;
	}

	.c--timeline-horizontal > .c--timeline_item {
		grid-template-columns: var(--startSpace) auto var(--endSpace);
	}

	.c--timeline-horizontal .c--timeline_line {
		width: var(--line_len);
		height: var(--line_bold);
	}
}
