---
/**
 * テストページ（英語版）
 */
import BaseLayout from '../../layouts/BaseLayout.astro';
import { Heading } from 'lism-css/astro';
import { siteConfig } from '@/config/site';
---

<BaseLayout title={siteConfig.name} lang="en">
  <Heading lv="1">Test En</Heading>
  <p>test</p>
</BaseLayout>
