---
import DemoLayout from '@/layouts/DemoLayout.astro';

import { Stack, Container, Frame, FluidCols, Grid, Media, Flex, Layer, Center, Cluster, Text, Inline, Heading } from 'lism-css/astro';
import { Button } from '@lism-css/ui/astro';
import './_style.css';
---

<DemoLayout title="Works002">
  <Container isWrapper="l" py="50" bgc="base-2" set="gutter">
    <Stack g="40">
      <Stack ai="center" g="30">
        <Heading level="2" class="u--trim" fz="4xl" fw="light" lts="l">Works</Heading>
        <Text class="u--trim" fz="m" o="-20" lts="l">Our Works</Text>
      </Stack>
      <Cluster g="15">
        <Button href="####" px="20" py="10" bdrs="99">All</Button>
        <Button href="####" bgc="base" c="text" px="20" py="10" bdrs="99">Web</Button>
        <Button href="####" bgc="base" c="text" px="20" py="10" bdrs="99">Design</Button>
        <Button href="####" bgc="base" c="text" px="20" py="10" bdrs="99">Video</Button>
        <Button href="####" bgc="base" c="text" px="20" py="10" bdrs="99">Branding</Button>
        <Button href="####" bgc="base" c="text" px="20" py="10" bdrs="99">Music</Button>
      </Cluster>
      <FluidCols cols="20rem" g="30">
        <Grid class="set--innerRs" gtr="subgrid" gr="span 2" g="20" bgc="base" bdrs="20" ai="start" set="transition" hov="bxsh">
          <Stack as="a" isBoxLink href="#" g="30" set="hov" p="20">
            <Frame as="figure" ar="16/9" pos="relative" bdrs="inner">
              <Media src="https://cdn.lism-css.com/random/img?r=1" alt="" width="960" height="640" />
              <Layer set="transition" hov="to:show" bgc="rgb(0 0 0 / 30%)" style={{ backdropFilter: 'blur(4px)' }}>
                <Center h="100%" c="white">
                  <Inline fz="xl" fs="i" fw="light" lts="l" px="20" py="10">View More</Inline>
                </Center>
              </Layer>
            </Frame>
            <Stack g="30">
              <Text class="u--trim" fz="m" fw="bold">Making Everyday Cooking an Exciting Experience</Text>
              <Stack class="u--trimChildren" as="dl" g="15" fz="s" o="-20">
                <Flex g="5"><dt>Director:</dt><dd>Takahashi Kenta</dd></Flex>
                <Flex g="5"><dt>Designer:</dt><dd>Sato Misaki</dd></Flex>
              </Stack>
            </Stack>
          </Stack>
          <Cluster g="15" px="20" pb="20">
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Web</Button>
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Branding</Button>
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Video</Button>
          </Cluster>
        </Grid>
        <Grid class="set--innerRs" gtr="subgrid" gr="span 2" g="20" bgc="base" bdrs="20" ai="start" set="transition" hov="bxsh">
          <Stack as="a" isBoxLink href="#" g="30" set="hov" p="20">
            <Frame as="figure" ar="16/9" pos="relative" bdrs="inner">
              <Media src="https://cdn.lism-css.com/random/img?r=2" alt="" width="960" height="640" />
              <Layer set="transition" hov="to:show" bgc="rgb(0 0 0 / 30%)" style={{ backdropFilter: 'blur(4px)' }}>
                <Center h="100%" c="white">
                  <Inline fz="xl" fs="i" fw="light" lts="l" px="20" py="10">View More</Inline>
                </Center>
              </Layer>
            </Frame>
            <Stack g="30">
              <Text class="u--trim" fz="m" fw="bold">Items That Elevate the Quality of Daily Life</Text>
              <Stack class="u--trimChildren" as="dl" g="15" fz="s" o="-20">
                <Flex g="5"><dt>Director:</dt><dd>Takahashi Kenta</dd></Flex>
                <Flex g="5"><dt>Designer:</dt><dd>Sato Misaki</dd></Flex>
              </Stack>
            </Stack>
          </Stack>
          <Cluster g="15" px="20" pb="20">
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Design</Button>
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Video</Button>
          </Cluster>
        </Grid>
        <Grid class="set--innerRs" gtr="subgrid" gr="span 2" g="20" bgc="base" bdrs="20" ai="start" set="transition" hov="bxsh">
          <Stack as="a" isBoxLink href="#" g="30" set="hov" p="20">
            <Frame as="figure" ar="16/9" pos="relative" bdrs="inner">
              <Media src="https://cdn.lism-css.com/random/img?r=3" alt="" width="960" height="640" />
              <Layer set="transition" hov="to:show" bgc="rgb(0 0 0 / 30%)" style={{ backdropFilter: 'blur(4px)' }}>
                <Center h="100%" c="white">
                  <Inline fz="xl" fs="i" fw="light" lts="l" px="20" py="10">View More</Inline>
                </Center>
              </Layer>
            </Frame>
            <Stack g="30">
              <Text class="u--trim" fz="m" fw="bold">An Object-like Presence</Text>
              <Stack class="u--trimChildren" as="dl" g="15" fz="s" o="-20">
                <Flex g="5"><dt>Director:</dt><dd>Takahashi Kenta</dd></Flex>
                <Flex g="5"><dt>Designer:</dt><dd>Sato Misaki</dd></Flex>
              </Stack>
            </Stack>
          </Stack>
          <Cluster g="15" px="20" pb="20">
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Branding</Button>
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Video</Button>
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Music</Button>
          </Cluster>
        </Grid>
        <Grid class="set--innerRs" gtr="subgrid" gr="span 2" g="20" bgc="base" bdrs="20" ai="start" set="transition" hov="bxsh">
          <Stack as="a" isBoxLink href="#" g="30" set="hov" p="20">
            <Frame as="figure" ar="16/9" pos="relative" bdrs="inner">
              <Media src="https://cdn.lism-css.com/random/img?r=4" alt="" width="960" height="640" />
              <Layer set="transition" hov="to:show" bgc="rgb(0 0 0 / 30%)" style={{ backdropFilter: 'blur(4px)' }}>
                <Center h="100%" c="white">
                  <Inline fz="xl" fs="i" fw="light" lts="l" px="20" py="10">View More</Inline>
                </Center>
              </Layer>
            </Frame>
            <Stack g="30">
              <Text class="u--trim" fz="m" fw="bold">Quiet and Clean Design</Text>
              <Stack class="u--trimChildren" as="dl" g="15" fz="s" o="-20">
                <Flex g="5"><dt>Director:</dt><dd>Takahashi Kenta</dd></Flex>
                <Flex g="5"><dt>Designer:</dt><dd>Sato Misaki</dd></Flex>
              </Stack>
            </Stack>
          </Stack>
          <Cluster g="15" px="20" pb="20">
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Web</Button>
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Design</Button>
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Music</Button>
          </Cluster>
        </Grid>
        <Grid class="set--innerRs" gtr="subgrid" gr="span 2" g="20" bgc="base" bdrs="20" ai="start" set="transition" hov="bxsh">
          <Stack as="a" isBoxLink href="#" g="30" set="hov" p="20">
            <Frame as="figure" ar="16/9" pos="relative" bdrs="inner">
              <Media src="https://cdn.lism-css.com/random/img?r=5" alt="" width="960" height="640" />
              <Layer set="transition" hov="to:show" bgc="rgb(0 0 0 / 30%)" style={{ backdropFilter: 'blur(4px)' }}>
                <Center h="100%" c="white">
                  <Inline fz="xl" fs="i" fw="light" lts="l" px="20" py="10">View More</Inline>
                </Center>
              </Layer>
            </Frame>
            <Stack g="30">
              <Text class="u--trim" fz="m" fw="bold">Audio That Displays Music as Art in Your Space</Text>
              <Stack class="u--trimChildren" as="dl" g="15" fz="s" o="-20">
                <Flex g="5"><dt>Director:</dt><dd>Takahashi Kenta</dd></Flex>
                <Flex g="5"><dt>Designer:</dt><dd>Sato Misaki</dd></Flex>
              </Stack>
            </Stack>
          </Stack>
          <Cluster g="15" px="20" pb="20">
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Design</Button>
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Branding</Button>
          </Cluster>
        </Grid>
        <Grid class="set--innerRs" gtr="subgrid" gr="span 2" g="20" bgc="base" bdrs="20" ai="start" set="transition" hov="bxsh">
          <Stack as="a" isBoxLink href="#" g="30" set="hov" p="20">
            <Frame as="figure" ar="16/9" pos="relative" bdrs="inner">
              <Media src="https://cdn.lism-css.com/random/img?r=6" alt="" width="960" height="640" />
              <Layer set="transition" hov="to:show" bgc="rgb(0 0 0 / 30%)" style={{ backdropFilter: 'blur(4px)' }}>
                <Center h="100%" c="white">
                  <Inline fz="xl" fs="i" fw="light" lts="l" px="20" py="10">View More</Inline>
                </Center>
              </Layer>
            </Frame>
            <Stack g="30">
              <Text class="u--trim" fz="m" fw="bold">Dramatically Staging Your Space</Text>
              <Stack class="u--trimChildren" as="dl" g="15" fz="s" o="-20">
                <Flex g="5"><dt>Director:</dt><dd>Takahashi Kenta</dd></Flex>
                <Flex g="5"><dt>Designer:</dt><dd>Sato Misaki</dd></Flex>
              </Stack>
            </Stack>
          </Stack>
          <Cluster g="15" px="20" pb="20">
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Design</Button>
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Video</Button>
            <Button href="####" bgc="base-2" c="text" fz="s" px="15" py="5" bdrs="99">Music</Button>
          </Cluster>
        </Grid>
      </FluidCols>
    </Stack>
  </Container>
</DemoLayout>
