---
import DemoLayout from '@/layouts/DemoLayout.astro';

import { Container, Grid, FluidCols, Flex, Icon, Stack, Text, Heading } from 'lism-css/astro';
import { Button } from '@lism-css/ui/astro';
import './_style.css';
---

<DemoLayout title="News006">
  <Container isWrapper="l" bgc="base-2" py="50" hasGutter>
    <Grid gtr={['auto', null, 'auto auto 1fr']} gtc={['auto', null, 'auto 1fr']} g="30">
      <Stack gr="1" gc="1" g="20" min-w={['auto', null, '12rem']}>
        <Text class="u--trim" fz="2xl" fw="light" lts="l">News</Text>
        <Heading level="2" class="u--trim" fz="xs" o="-20">Latest Updates</Heading>
      </Stack>
      <FluidCols cols="22rem" gr={['2', null, '1 / -1']} gc={['1', null, '2']} g="30">
        <Grid gtr="subgrid" gr="span 2" g="30" isBoxLink as="a" href="#" bgc="white" p="30" bdrs="20" set="hov" hasTransition hov="bxsh">
          <Grid gtc="1fr auto" g="20" jc="start" ai="center">
            <Text fz="s">2025.10.30</Text>
            <Text d="if" jc="center" fz="2xs" lh="1" bgc="base-2" c="text" p="10 20" bdrs="99">COLUMN</Text>
          </Grid>
          <Flex c="text" g="30">
            <Stack class="u--trimChildren" g="30">
              <Text hasTransition hov="to:cLink">Design column: "The Importance of Accessibility in UI Design"</Text>
              <Text fz="s" o="-20"
                >We have updated our design column. Learn about the fundamentals of web accessibility and practical tips you can implement today.</Text
              >
            </Stack>
            <Flex ai="center" jc="center" aslf="e" p="15" bd bdc="black" bdrs="99" hasTransition hov="to:reverse">
              <Icon icon="caret-right" fz="xs" mx-s="auto" />
            </Flex>
          </Flex>
        </Grid>
        <Grid gtr="subgrid" gr="span 2" g="30" isBoxLink as="a" href="#" bgc="white" p="30" bdrs="20" set="hov" hasTransition hov="bxsh">
          <Grid gtc="1fr auto" g="20" jc="start" ai="center">
            <Text fz="s">2025.10.30</Text>
            <Text d="if" jc="center" fz="2xs" lh="1" bgc="base-2" c="text" p="10 20" bdrs="99">EVENT</Text>
          </Grid>
          <Flex c="text" g="30">
            <Stack class="u--trimChildren" g="30">
              <Text hasTransition hov="to:cLink">Speaking at "LOOS DESIGN CONFERENCE 2025"</Text>
              <Text fz="s" o="-20"
                >Our art director will be speaking at one of the largest design conferences in the country on December 5, 2025 (Fri), on the topic
                "The Value Design Brings to Business."</Text
              >
            </Stack>
            <Flex ai="center" jc="center" aslf="e" p="15" bd bdc="black" bdrs="99" hasTransition hov="to:reverse">
              <Icon icon="caret-right" fz="xs" mx-s="auto" />
            </Flex>
          </Flex>
        </Grid>
        <Grid gtr="subgrid" gr="span 2" g="30" isBoxLink as="a" href="#" bgc="white" p="30" bdrs="20" set="hov" hasTransition hov="bxsh">
          <Grid gtc="1fr auto" g="20" jc="start" ai="center">
            <Text fz="s">2025.10.30</Text>
            <Text d="if" jc="center" fz="2xs" lh="1" bgc="base-2" c="text" p="10 20" bdrs="99">RELEASE</Text>
          </Grid>
          <Flex c="text" g="30">
            <Stack class="u--trimChildren" g="30">
              <Text hasTransition hov="to:cLink">Launching "Branding Support Package for Startups"</Text>
              <Text fz="s" o="-20"
                >We have started offering a fast and high-quality branding support package for startups. From logo to website and business cards — all
                provided as a one-stop solution.</Text
              >
            </Stack>
            <Flex ai="center" jc="center" aslf="e" p="15" bd bdc="black" bdrs="99" hasTransition hov="to:reverse">
              <Icon icon="caret-right" fz="xs" mx-s="auto" />
            </Flex>
          </Flex>
        </Grid>
        <Grid gtr="subgrid" gr="span 2" g="30" isBoxLink as="a" href="#" bgc="white" p="30" bdrs="20" set="hov" hasTransition hov="bxsh">
          <Grid gtc="1fr auto" g="20" jc="start" ai="center">
            <Text fz="s">2025.10.30</Text>
            <Text d="if" jc="center" fz="2xs" lh="1" bgc="base-2" c="text" p="10 20" bdrs="99">NEWS</Text>
          </Grid>
          <Flex c="text" g="30">
            <Stack class="u--trimChildren" g="30">
              <Text hasTransition hov="to:cLink">Notice of office relocation and phone number change</Text>
              <Text fz="s" o="-20"
                >Due to business expansion, we have relocated our office to the address below. We will continue to strive for excellence and
                appreciate your continued support.</Text
              >
            </Stack>
            <Flex ai="center" jc="center" aslf="e" p="15" bd bdc="black" bdrs="99" hasTransition hov="to:reverse">
              <Icon icon="caret-right" fz="xs" mx-s="auto" />
            </Flex>
          </Flex>
        </Grid>
      </FluidCols>
      <Flex gr={['3', null, '2']} gc="1">
        <Button href="#" jc="center" w={['stretch', null, 'auto']} min-w="8rem" fz="s" p="15" bdrs="99">View All</Button>
      </Flex>
    </Grid>
  </Container>
</DemoLayout>

<style>
  @media (any-hover: hover) {
    .-hov\:to\:reverse {
      background-color: var(--_isHov, var(--black));
      color: var(--_isHov, var(--white));
    }
    .-hov\:to\:cLink {
      color: var(--_isHov, var(--link));
    }
  }
</style>
