---
import DemoLayout from '@/layouts/DemoLayout.astro';

import { Stack, Container, Frame, Flex, Grid, Media, Layer, BoxLink, Icon, Text, Heading } from 'lism-css/astro';
import './_style.css';
---

<DemoLayout title="Navigation004">
  <Grid gtr="auto" gtc={['auto', null, 'auto 1fr']} pos="relative">
    <Layer>
      <Frame h="100%">
        <Media src="https://cdn.lism-css.com/random/img" alt="" width="960" height="640" />
        <Layer bgc="black:30%" />
      </Frame>
    </Layer>
    <Container isWrapper="l" gr="1" gc="1" py="50" hasGutter pos="relative">
      <Stack g="40">
        <Stack g="30" ai="flex-start" c="white">
          <Heading level="2" class="u--trim" fz="2xl" fw="bold" ta="center">Product Categories</Heading>
          <p>
            We offer a wide range of product categories, from kitchen appliances to audio equipment.<br />
            Find the perfect products to match your lifestyle.
          </p>
        </Stack>
        <Stack g="50">
          <Grid gtc="repeat(auto-fit, minmax(250px, 1fr))" g="30">
            <BoxLink
              href="#"
              layout="flex"
              g="30"
              ai="center"
              jc="between"
              p="20"
              bgc="white"
              bdrs="10"
              set="var:hov"
              hasTransition
              hov={{ bxsh: '20' }}
            >
              <Stack jc="center" g="15">
                <Text class="u--trim" fz="m" fw="bold" hasTransition hov="in:cLink">Washers & Garment Care</Text>
                <Text class="u--trim" fz="xs" o="pp">LAUNDRY</Text>
              </Stack>
              <Flex ai="center" jc="center" bgc="black" bdrs="99" p="10">
                <Icon icon="caret-right" fz="2xs" c="white" />
              </Flex>
            </BoxLink>
            <BoxLink
              href="#"
              layout="flex"
              g="30"
              ai="center"
              jc="between"
              p="20"
              bgc="white"
              bdrs="10"
              set="var:hov"
              hasTransition
              hov={{ bxsh: '20' }}
            >
              <Stack jc="center" g="15">
                <Text class="u--trim" fz="m" fw="bold" hasTransition hov="in:cLink">Vacuum Cleaners</Text>
                <Text class="u--trim" fz="xs" o="pp">CLEANING</Text>
              </Stack>
              <Flex ai="center" jc="center" bgc="black" bdrs="99" p="10">
                <Icon icon="caret-right" fz="2xs" c="white" />
              </Flex>
            </BoxLink>
            <BoxLink
              href="#"
              layout="flex"
              g="30"
              ai="center"
              jc="between"
              p="20"
              bgc="white"
              bdrs="10"
              set="var:hov"
              hasTransition
              hov={{ bxsh: '20' }}
            >
              <Stack jc="center" g="15">
                <Text class="u--trim" fz="m" fw="bold" hasTransition hov="in:cLink">Audio</Text>
                <Text class="u--trim" fz="xs" o="pp">AUDIO</Text>
              </Stack>
              <Flex ai="center" jc="center" bgc="black" bdrs="99" p="10">
                <Icon icon="caret-right" fz="2xs" c="white" />
              </Flex>
            </BoxLink>
            <BoxLink
              href="#"
              layout="flex"
              g="30"
              ai="center"
              jc="between"
              p="20"
              bgc="white"
              bdrs="10"
              set="var:hov"
              hasTransition
              hov={{ bxsh: '20' }}
            >
              <Stack jc="center" g="15">
                <Text class="u--trim" fz="m" fw="bold" hasTransition hov="in:cLink">Beauty & Health</Text>
                <Text class="u--trim" fz="xs" o="pp">BEAUTY & HEALTH</Text>
              </Stack>
              <Flex ai="center" jc="center" bgc="black" bdrs="99" p="10">
                <Icon icon="caret-right" fz="2xs" c="white" />
              </Flex>
            </BoxLink>
            <BoxLink
              href="#"
              layout="flex"
              g="30"
              ai="center"
              jc="between"
              p="20"
              bgc="white"
              bdrs="10"
              set="var:hov"
              hasTransition
              hov={{ bxsh: '20' }}
            >
              <Stack jc="center" g="15">
                <Text class="u--trim" fz="m" fw="bold" hasTransition hov="in:cLink">Lighting</Text>
                <Text class="u--trim" fz="xs" o="pp">LIGHTING</Text>
              </Stack>
              <Flex ai="center" jc="center" bgc="black" bdrs="99" p="10">
                <Icon icon="caret-right" fz="2xs" c="white" />
              </Flex>
            </BoxLink>
            <BoxLink
              href="#"
              layout="flex"
              g="30"
              ai="center"
              jc="between"
              p="20"
              bgc="white"
              bdrs="10"
              set="var:hov"
              hasTransition
              hov={{ bxsh: '20' }}
            >
              <Stack jc="center" g="15">
                <Text class="u--trim" fz="m" fw="bold" hasTransition hov="in:cLink">Smart Home</Text>
                <Text class="u--trim" fz="xs" o="pp">SMART HOME</Text>
              </Stack>
              <Flex ai="center" jc="center" bgc="black" bdrs="99" p="10">
                <Icon icon="caret-right" fz="2xs" c="white" />
              </Flex>
            </BoxLink>
            <BoxLink
              href="#"
              layout="flex"
              g="30"
              ai="center"
              jc="between"
              p="20"
              bgc="white"
              bdrs="10"
              set="var:hov"
              hasTransition
              hov={{ bxsh: '20' }}
            >
              <Stack jc="center" g="15">
                <Text class="u--trim" fz="m" fw="bold" hasTransition hov="in:cLink">Kitchen</Text>
                <Text class="u--trim" fz="xs" o="pp">KITCHEN</Text>
              </Stack>
              <Flex ai="center" jc="center" bgc="black" bdrs="99" p="10">
                <Icon icon="caret-right" fz="2xs" c="white" />
              </Flex>
            </BoxLink>
            <BoxLink
              href="#"
              layout="flex"
              g="30"
              ai="center"
              jc="between"
              p="20"
              bgc="white"
              bdrs="10"
              set="var:hov"
              hasTransition
              hov={{ bxsh: '20' }}
            >
              <Stack jc="center" g="15">
                <Text class="u--trim" fz="m" fw="bold" hasTransition hov="in:cLink">HVAC & Living</Text>
                <Text class="u--trim" fz="xs" o="pp">LIVING & AIR</Text>
              </Stack>
              <Flex ai="center" jc="center" bgc="black" bdrs="99" p="10">
                <Icon icon="caret-right" fz="2xs" c="white" />
              </Flex>
            </BoxLink>
          </Grid>
        </Stack>
      </Stack>
    </Container>
  </Grid>
</DemoLayout>

<style>
  @media (any-hover: hover) {
    .-hov\:in\:cLink {
      color: var(--_isHov, var(--link));
    }
  }
</style>
