@use '../_mixin' as mixin;

/* ----------------------------------------
    html, body
 ---------------------------------------- */
html {
	// remで使うために html へ指定
	font-size: var(--fz-base);

	tab-size: 4;

	// iOSで横向きにした時のフォントサイズ自動調節をオフにする.
	text-size-adjust: none;

	/*  テキストのレンダリングを改善 → font によっては薄くなりすぎるのでナシ */
	/* -webkit-font-smoothing: antialiased; */
}

body {
	font-size: 1rem;
	font-family: var(--ff-base);
	line-height: var(--lh-base);
	letter-spacing: var(--lts-base);
	background-color: var(--c-base);
	color: var(--c-text);
	overflow-x: clip;
	// 子孫要素の position:fixed の挙動が変わってしまうので body には使わない
	// container-type: inline-size;
}

/* ----------------------------------------
    Heading
 ---------------------------------------- */
@include mixin.maybe_where('h1, h2, h3, h4, h5, h6', '') {
	font-family: var(--h--ff, inherit);
	font-weight: var(--h--fw, bolder);
	font-size: var(--fz, revert);
	line-height: var(--lh, inherit);
}
h1 {
	--fz: var(--fz-3xl);
	--lh: var(--lh-xs);
}
h2 {
	--fz: var(--fz-2xl);
	--lh: var(--lh-xs);
}
h3 {
	--fz: var(--fz-xl);
	--lh: var(--lh-s);
}
h4 {
	--fz: var(--fz-l);
	--lh: var(--lh-s);
}
h5 {
	--fz: var(--fz-m);
	// --lh: var(--lh-s);
}
h6 {
	--fz: var(--fz-s);
}

/* ----------------------------------------
    list
 ---------------------------------------- */
@include mixin.maybe_where('ul, ol', '') {
	--pis: var(--list--pis, 0);
	list-style: none;
	padding: 0;
	padding-inline-start: var(--pis);
}

/* ----------------------------------------
    texts
 ---------------------------------------- */
// link
@include mixin.maybe_where('a', '') {
	--c: var(--c-link);
	--td: var(--link--td, underline);
	color: var(--c);
	text-decoration: var(--td);
}

/* ----------------------------------------
    table
 ---------------------------------------- */
@include mixin.maybe_where('td, th', '') {
	padding: 0.25em 0.375em; // var(--cell--p, 0.375em);
}

/* ----------------------------------------
    others
 ---------------------------------------- */
@include mixin.maybe_where('hr', '') {
	border: none;
	border-block-start: 1px solid;
	block-size: 0;
}

@include mixin.maybe_where('blockquote', '') {
	border-inline-start: solid 3px currentColor;
	padding: var(--s20) var(--s30);
}

@include mixin.maybe_where('pre', '') {
	// 横にスクロールできるように（overflow-inline: auto; ← まだ使えない）
	overflow-x: auto; // 縦書きモードにしてもこれでいけた
}

/* ----------------------------------------
    Form fields
 ---------------------------------------- */
// :where(input[type='text'], textarea, select) {
// 	padding: var(--s10);
// }

/* ----------------------------------------
    dialog
 ---------------------------------------- */
// showModal()にのみ適用するため、 dialog ではなく :modal を使用
@include mixin.switch_selector('body:has(:modal[open])', 'body:where(:has(:modal[open]))') {
	overflow: hidden;
}

@include mixin.switch_selector('dialog:not([open])', 'dialog:where(:not([open]))') {
	pointer-events: none;
}
