@use '../_mixin' as mixin;

/* ----------------------------------------
    html, body
 ---------------------------------------- */

html {
	// font-size: unset;
	tab-size: 4;

	// iOSで横向きにした時のフォントサイズ自動調節をオフにする.
	text-size-adjust: none;

	/*  テキストのレンダリングを改善 → font によっては薄くなりすぎるのでナシ */
	/* -webkit-font-smoothing: antialiased; */
}

body {
	--hl: var(--hl--base);
	font-size: var(--fz--base);
	font-family: var(--ff--base);
	letter-spacing: var(--lts--base);
	background-color: var(--c--base);
	color: var(--c--text);
	overflow-x: clip;
	// 子孫要素の position:fixed の挙動が変わってしまうので body には使わない
	// container-type: inline-size;
}

// フォーカス要素
:focus-visible {
	outline-offset: var(--focus-offset, 0px);
}

/* ----------------------------------------
    line-height
 ---------------------------------------- */
* {
	line-height: calc(1em + var(--hl) * 2);
}

/* ----------------------------------------
    Heading
 ---------------------------------------- */
:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--heading-ff, inherit);
	font-weight: var(--heading-fw, bolder);
	// font-size: var(--fz, revert);
	// line-height: var(--lh, inherit);
}
h1 {
	font-size: var(--fz--3xl);
}
h2 {
	font-size: var(--fz--2xl);
}
h3 {
	font-size: var(--fz--xl);
}
h4 {
	font-size: var(--fz--l);
}
h5 {
	font-size: var(--fz--m);
}
h6 {
	font-size: var(--fz--s);
}

/* ----------------------------------------
    list
 ---------------------------------------- */
ul,
ol {
	list-style: none;
	padding: 0;
	padding-inline-start: var(--list-px-s, 0);
}

/* ----------------------------------------
    texts
 ---------------------------------------- */
small,
sup,
sub {
	--hl: var(--hl--s);
	font-size: var(--fz--xs);
}

caption,
figcaption {
	font-size: var(--fz--s);
}
code,
kbd {
	font-family: var(--ff--mono);
}

a {
	color: var(--link-c, var(--c--link));
	text-decoration: var(--link-td, underline);

	// underline調整用
	text-underline-offset: var(--underline-offset, auto);
	// text-decoration-thickness: var(--underline-thickness, 1px);
}

/* ----------------------------------------
    table
 ---------------------------------------- */
table {
	--hl: var(--hl--s);
}
th {
	color: var(--th--c, inherit);
	background-color: var(--th--bgc, transparent);
}
td,
th {
	padding: var(--cell-p, 0.375em 0.5em);
	min-inline-size: var(--cell-min-w, initial);
}

/* ----------------------------------------
    others
 ---------------------------------------- */
hr {
	border: none;
	border-block-start: 1px solid;
	block-size: 0;
}

blockquote {
	background-color: var(--c--base-2);
	padding: var(--s40);
}

pre {
	// 横にスクロールできるように（overflow-inline: auto; ← まだ使えない）
	overflow-x: auto; // 縦書きモードにしてもこれでいけた

	// :where(code, span) {
	// 	line-height: inherit;
	// }
}

/* ----------------------------------------
    Form fields
 ---------------------------------------- */
// :where(input[type='text'], textarea, select) {
// 	padding: var(--s10);
// }

/* ----------------------------------------
    dialog
 ---------------------------------------- */
/* ダイアログ展開時のガタツキを防ぐ */
// html:has(:modal[open]) {
// 	scrollbar-gutter: stable;
// }

// showModal()にのみ適用するため、 dialog ではなく :modal を使用
@include mixin.switch_selector('body:has(:modal[open])', 'body:where(:has(:modal[open]))') {
	overflow: hidden;
}

// @include mixin.switch_selector('dialog:not([open])', 'dialog:where(:not([open]))') {
// 	pointer-events: none;
// }
