// @property が使える環境であればコンテナのさらに親要素の幅を参照できるので、containerを1段階飛び出せる。
// cqi を算出値で保持するために登録済みカスタムプロパティとして定義
// --parent-cq
@property --sz--outer {
	syntax: '<length-percentage>';
	initial-value: 100%;
	inherits: true;
}

/* ------------------------------------------------------------
	ハーフレディング

	トリミングした時に詰まりすぎる印象が出てしまうことがあるため、ほんの少し余裕を持たせる。

*/
@property --HL {
	syntax: '*';
	inherits: false;
	initial-value: calc((1lh - 1em) / 2);
}

// :lang(en) {
// 	--HL: calc((1lh - 1cap) / 2);
// }

// lh非サポートブラウザ用のフォールバック
// @supports not (gap: 1lh) {
// 	:root {
// 		--HL: 0px;
// 	}
// }
