:root {
	/* ------------------------------------------------------------
	  コンテンツサイズ
	------------------------------------------------------------ */
	--sz--xl: 1600px; // 80*20
	--sz--l: 1280px; // 80*16
	--sz--m: 960px; // 80*12
	--sz--s: 640px; // 80*8
	--sz--xs: 480px; // 80*6

	--sz--min: 18rem; // 最低限維持したいコンテンツサイズの標準値。 withSide等 で使用

	// ------------------------------------------------------------
	// カラー
	// ------------------------------------------------------------

	// --hsl-black: 0 0% 0%;
	// --hsl-white: 0 0% 100%;
	// --hsl-gray: 210 8% 40%;
	// --hsl-red: 4 72% 50%;
	// --hsl-orange: 28 76% 50%;
	// --hsl-yellow: 46 76% 48%;
	// --hsl-green: 145 80% 40%;
	// --hsl-blue: 205 76% 50%;
	// --hsl-purple: 258 72% 50%;
	// --hsl-pink: 325 72% 50%;
	// --black: hsl(var(--hsl-black));
	// --white: hsl(var(--hsl-white));
	// --gray: hsl(var(--hsl-gray));
	// --red: hsl(var(--hsl-red));
	// --orange: hsl(var(--hsl-orange));
	// --yellow: hsl(var(--hsl-yellow));
	// --green: hsl(var(--hsl-green));
	// --blue: hsl(var(--hsl-blue));
	// --purple: hsl(var(--hsl-purple));
	// --pink: hsl(var(--hsl-pink));
	--black: #000;
	--white: #fff;
	--gray: hsl(210 16% 40%);
	--red: hsl(4 72% 50%);
	--orange: hsl(26 80% 48%);
	--yellow: hsl(48 80% 48%);
	--green: hsl(132 76% 42%);
	--blue: hsl(204 74% 50%);
	--purple: hsl(260 72% 50%);
	--pink: hsl(320 72% 50%);

	// ベースカラーに合わせたカラーを段階的に用意
	// --b50: hsl(var(--hs--bc) 99%);
	// --b100: hsl(var(--hs--bc) 96%);
	// --b200: hsl(var(--hs--bc) 92%);
	// --b300: hsl(var(--hs--bc) 84%);
	// --b400: hsl(var(--hs--bc) 72%);
	// --b500: hsl(var(--hs--bc) 60%);
	// --b600: hsl(var(--hs--bc) 48%);
	// --b700: hsl(var(--hs--bc) 36%);
	// --b800: hsl(var(--hs--bc) 24%); // 淡い文字色 strong背景色
	// --b900: hsl(var(--hs--bc) 12%); // ほんの少しだけ淡い文字色.
	// --b950: hsl(var(--hs--bcc) 8%); // 文字色

	// --------------------
	// キーワードカラー main(brand?), accent, base, ...
	// --------------------

	// Main Color
	--c--main: #1e4e6b;

	// accent, accent-2, accent-3, ...
	--c--accent: #bc3453;
	// --c--accent-2: #bc3453;
	// --c--accent-3: #bc3453;

	// base
	// --hs--base: 224 8%;
	--c--base: hsl(224 6% 99%);
	--c--base-2: hsl(224 10% 94%); // secondary

	// text
	// --hs--text: 224 4%;
	--c--text: hsl(224 4% 8%);
	--c--text-2: hsl(224 4% 40%); // secondary

	// --sh-hsl

	// divider (border-color)
	--c--line: hsl(224 4% 82%);
	--c--link: #0c61e4;
	// --divider?

	// ボーダーはどちらでも使える感じか。
	// --bdc-pale,base,strong

	/* ------------------------------------------------------------
	  opacity
	------------------------------------------------------------ */
	// 質感で表現
	--o--n10: 0.75;
	--o--n20: 0.5;
	--o--n30: 0.25;

	// 数値
	// low mid high

	// 距離
	// distant → far → mid → near → close

	// 質感
	// ghost → pale → soft → mild → solid

	// シンプル系 軽さ・厚み
	// thin → light → mid → bold → (thick)

	// 濃度, 霧
	// wisp mist haze fog dense

	/* ------------------------------------------------------------
	  aspect-ratio
	------------------------------------------------------------ */
	--ar--og: 1.91/1;

	/* ------------------------------------------------------------
	  writng-mode langに合わせて切り替えれるようにトークンで管理
	------------------------------------------------------------ */
	--writing--vertical: vertical-rl;

	/* ------------------------------------------------------------
	  radius
	------------------------------------------------------------ */
	// 等比
	--bdrs--5: 2px;
	--bdrs--10: 0.25rem; // ≒ 4px
	--bdrs--20: 0.5rem; // ≒ 8px
	--bdrs--30: 1rem; // ≒ 16px
	--bdrs--40: 1.5rem; // ≒ 24px
	--bdrs--50: 2rem; // ≒ 32px
	--bdrs--99: 99rem;

	/* ----------------------------------------
		デザイントークンとは別のグローバル設定値
	---------------------------------------- */
	--gutter: var(--s40);

	/* ------------------------------------------------------------
	shadow color, shadow inset, shadow size
	------------------------------------------------------------ */
	--sh-i: ; // for inset
	--shc: hsl(220 4% 8% / 5%);

	// x:fibo, y=fibo, blur=x+y*2
	--shsz--5: 0px 2px 4px;
	--shsz--10: 1px 3px 6px;
	--shsz--20: 1px 5px 10px;
	--shsz--30: 2px 8px 16px;
	--shsz--40: 3px 13px 26px;
	--shsz--50: 5px 21px 42px;
}

/* ------------------------------------------------------------
	shadow
	    Memo: カラー変数込みで変数をセットしてしまうと、--sh-c がその時点で固定されるので、再セットできる set-shadow クラスを用意。
------------------------------------------------------------ */
:root,
.set-shadow {
	--sh--5: var(--sh-i) var(--shsz--5) var(--shc);
	--sh--10: var(--sh-i) var(--shsz--10) var(--shc);
	--sh--20: var(--sh-i) var(--shsz--20) var(--shc);
	--sh--30: var(--sh-i) var(--shsz--30) var(--shc);
	--sh--40: var(--sh-i) var(--shsz--40) var(--shc);
	--sh--50: var(--sh-i) var(--shsz--50) var(--shc);

	--bxsh--10: var(--sh--5), var(--sh--10);
	--bxsh--20: var(--sh--10), var(--sh--20);
	--bxsh--30: var(--sh--20), var(--sh--30);
	--bxsh--40: var(--sh--30), var(--sh--40);
	--bxsh--50: var(--sh--40), var(--sh--50);
}
