@use '../_setting' as setting;
@use 'sass:math';

// フォントサイズ計算用の関数
@function fz-calc($offset) {
	$fzmol: setting.$fzmol;
	$fz: math.div($fzmol, ($fzmol - $offset));
	@return math.div(math.round($fz * 1000), 1000);
}

:root {
	/* ------------------------------------------------------------
	  Spacing
	------------------------------------------------------------ */

	// フィボナッチ数列 0, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89,
	// 0 .25rem, .5rem, .75rem, 1.25rem, M:(8):2rem, 3.25rem, 5.25rem, 8.5rem

	// 1=0.125 Fibonacci数列
	// --s1: 0.125rem;
	--s5: 0.25rem;
	--s10: 0.375rem;
	--s20: 0.625rem;
	--s30: 1rem;
	--s40: 1.625rem;
	--s50: 2.625rem;
	--s60: 4.25rem;
	--s70: 6.875rem;
	--s80: 11.125rem;
	// --s90: 18rem;

	/* ------------------------------------------------------------
	  コンテンツサイズ
	------------------------------------------------------------ */
	--sz--xl: 1600px; // 80*20
	--sz--l: 1280px; // 80*16
	--sz--m: 960px; // 80*12
	--sz--s: 640px; // 80*8
	--sz--xs: 480px; // 80*6

	--sz--min: 16rem; // 最低限維持したいコンテンツサイズの標準値。 withSide等 で使用

	// .l--flow の余白
	--flow--base: var(--s40);
	--flow--s: var(--s20);
	--flow--l: var(--s50);
	--flow--h: 0.75em;

	/* ------------------------------------------------------------
	    タイポグラフィ
	------------------------------------------------------------ */

	// --ff--sans: 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'Meiryo', sans-serif;
	// --ff--serif: serif;

	--ff--base: -apple-system, 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif, 'Segoe UI Emoji';

	// Optima, Georgia, Garamond, Baskerville;
	--ff--accent: 'Garamond', 'Baskerville', 'Times New Roman', serif;
	--ff--mono: Menlo, Consolas, monaco, monospace;

	// ------------------------------
	// font-size 変数
	// ------------------------------
	// 倍音列での計算値
	--fz--5xl: #{fz-calc(6)}em;
	--fz--4xl: #{fz-calc(5)}em;
	--fz--3xl: #{fz-calc(4)}em;
	--fz--2xl: #{fz-calc(3)}em;
	--fz--xl: #{fz-calc(2)}em;
	--fz--l: #{fz-calc(1)}em;
	--fz--m: 1em;
	--fz--s: #{fz-calc(-1)}em;
	--fz--xs: #{fz-calc(-2)}em;
	--fz--2xs: #{fz-calc(-3)}em;

	--fz--base: clamp(0.875rem, 0.625rem + 1vw, 1rem); // 画面サイズ 400 - 600 で可変

	// clampでテキストサイズを変化させたい時用
	// --fz--fluid-s: clamp(0.9rem, 0.75rem + 0.8cqw, 1rem); // 小さい方向のみ. 300: .9rem ~ 500: 1rem
	// --fz--fluid: clamp(0.9rem, 0.8rem + 0.5cqw, 1.1rem); // 上下両方. 320: .9rem ~ 960: 1.1rem
	// --fz--fluid-l: clamp(1rem, 0.9rem + 0.25cqw, 1.1rem); // 大きい方向のみ 640: 1rem a~ 960: 1.1rem

	// ------------------------------
	// font-weight
	// ------------------------------
	--fw--thin: 100;
	--fw--light: 300;
	--fw--normal: 400;
	--fw--medium: 500;
	--fw--bold: 700;
	--fw--black: 900;

	// ------------------------------
	// line-height
	// ------------------------------
	// tight snug - relaxed loose or shorter short - tall taller ?
	--lh--base: 1.75;
	--lh--xs: calc(var(--lh--base) - 0.25);
	--lh--s: calc(var(--lh--base) - 0.125);
	--lh--l: calc(var(--lh--base) + 0.125);
	--lh--xl: calc(var(--lh--base) + 0.25);

	// ------------------------------
	// letter-spacing
	// ------------------------------
	--lts--base: normal;
	--lts--s: -0.05em;
	--lts--l: 0.05em;
	// --lts--xl: 0.125em;

	// ------------------------------------------------------------
	// カラー
	// ------------------------------------------------------------

	// --hsl-black: 0 0% 0%;
	// --hsl-white: 0 0% 100%;
	// --hsl-gray: 210 8% 40%;
	// --hsl-red: 4 72% 50%;
	// --hsl-orange: 28 76% 50%;
	// --hsl-yellow: 46 76% 48%;
	// --hsl-green: 145 80% 40%;
	// --hsl-blue: 205 76% 50%;
	// --hsl-purple: 258 72% 50%;
	// --hsl-pink: 325 72% 50%;
	// --black: hsl(var(--hsl-black));
	// --white: hsl(var(--hsl-white));
	// --gray: hsl(var(--hsl-gray));
	// --red: hsl(var(--hsl-red));
	// --orange: hsl(var(--hsl-orange));
	// --yellow: hsl(var(--hsl-yellow));
	// --green: hsl(var(--hsl-green));
	// --blue: hsl(var(--hsl-blue));
	// --purple: hsl(var(--hsl-purple));
	// --pink: hsl(var(--hsl-pink));
	--black: #000;
	--white: #fff;
	--gray: hsl(210 16% 40%);
	--red: hsl(4 72% 50%);
	--orange: hsl(26 80% 48%);
	--yellow: hsl(48 80% 48%);
	--green: hsl(132 76% 42%);
	--blue: hsl(204 74% 50%);
	--purple: hsl(260 72% 50%);
	--pink: hsl(320 72% 50%);

	// ベースカラーに合わせたカラーを段階的に用意
	// --b50: hsl(var(--hs--bc) 99%);
	// --b100: hsl(var(--hs--bc) 96%);
	// --b200: hsl(var(--hs--bc) 92%);
	// --b300: hsl(var(--hs--bc) 84%);
	// --b400: hsl(var(--hs--bc) 72%);
	// --b500: hsl(var(--hs--bc) 60%);
	// --b600: hsl(var(--hs--bc) 48%);
	// --b700: hsl(var(--hs--bc) 36%);
	// --b800: hsl(var(--hs--bc) 24%); // 淡い文字色 strong背景色
	// --b900: hsl(var(--hs--bc) 12%); // ほんの少しだけ淡い文字色.
	// --b950: hsl(var(--hs--bcc) 8%); // 文字色

	// --------------------
	// キーワードカラー main(brand?), accent, base, ...
	// --------------------

	// Main Color
	--c--main: #1e4e6b;

	// accent, accent-2, accent-3, ...
	--c--accent: #bc3453;
	// --c--accent-2: #bc3453;
	// --c--accent-3: #bc3453;

	// base
	// --hs--base: 224 8%;
	--c--base: hsl(224 6% 99%);
	--c--base-2: hsl(224 10% 94%); // secondary

	// text
	// --hs--text: 224 4%;
	--c--text: hsl(224 4% 8%);
	--c--text-2: hsl(224 4% 40%); // secondary

	// --sh-hsl

	// divider (border-color)
	--c--line: hsl(224 4% 82%);
	--c--link: #0c61e4;
	// --divider?

	// ボーダーはどちらでも使える感じか。
	// --bdc-pale,base,strong

	/* ------------------------------------------------------------
	  opacity
	------------------------------------------------------------ */
	// 質感で表現
	--o--ghost: 0.125;
	--o--pale: 0.25;
	--o--soft: 0.5;
	--o--mild: 0.75;
	// --o--solid: 0.9;

	// ghost  (ほぼ消えかけ)
	// pale   (淡い、薄いがまだ認識できる)
	// soft   (柔らかい、弱めだが読みやすい)
	// mild   (穏やか、softより濃い)
	// solid  (ほぼそのまま)

	/* ------------------------------------------------------------
	  aspect-ratio
	------------------------------------------------------------ */
	--ar--og: 1.91/1;

	/* ------------------------------------------------------------
	  writng-mode langに合わせて切り替えれるようにトークンで管理
	------------------------------------------------------------ */
	--writing--vertical: vertical-rl;

	/* ------------------------------------------------------------
	  radius
	------------------------------------------------------------ */
	// 等比
	--bdrs--5: 2px;
	--bdrs--10: 0.25rem; // ≒ 4px
	--bdrs--20: 0.5rem; // ≒ 8px
	--bdrs--30: 1rem; // ≒ 16px
	--bdrs--40: 1.5rem; // ≒ 24px
	--bdrs--50: 2rem; // ≒ 32px
	--bdrs--99: 99rem;

	/* ----------------------------------------
		デザイントークンとは別のグローバル設定値
	---------------------------------------- */
	--gutter: var(--s40);
}
