:root {
	/* ------------------------------------------------------------
	  コンテンツサイズ
	------------------------------------------------------------ */
	--sz--xl: 1600px; // 80*20
	--sz--l: 1280px; // 80*16
	--sz--m: 56rem; // 読みやすいのが50文字程度。
	--sz--s: 42rem;
	--sz--xs: 32rem;
	--sz--min: 18rem; // 最低限維持したいコンテンツサイズの標準値。 withSide等 で使用

	// サイトコンテンツの左右につける余白
	--gutter: 1.5rem;

	/* --------------------------------------------
		カラーパレット
		1) 赤を基準として 明度L・彩度C を決める。
		2) 各色は 色相H を固定セット。 L,C は色によって微調整。
   * -------------------------------------------- */
	--black: #000;
	--white: #fff;
	// --gray: hsl(210 16% 40%);
	// --red: hsl(4 72% 50%);
	// --orange: hsl(26 80% 48%);
	// --yellow: hsl(48 80% 48%);
	// --green: hsl(132 76% 42%);
	// --blue: hsl(204 74% 50%);
	// --purple: hsl(260 72% 50%);
	// --pink: hsl(320 72% 50%);

	/* 基準の明度と彩度（red)*/
	--L: 58%;
	--C: 0.2;

	/* カラートークン（OKLCH） */
	--red: oklch(var(--L) var(--C) 28);
	--orange: oklch(calc(var(--L) + 4%) calc(var(--C) - 0.01) 52);
	--yellow: oklch(calc(var(--L) + 12%) calc(var(--C) - 0.03) 84);
	--green: oklch(calc(var(--L) + 4%) calc(var(--C) - 0.02) 148);
	--blue: oklch(calc(var(--L) - 2%) calc(var(--C) + 0.01) 260);
	--purple: oklch(calc(var(--L) - 4%) calc(var(--C) + 0.03) 292);
	--pink: oklch(calc(var(--L) + 2%) calc(var(--C) + 0.02) 348);
	--gray: oklch(calc(var(--L) - 4%) 0.04 256);

	/* Ex. ダークモードは 明度・彩度 を少し上げる */
	// &[data-theme='dark'] {
	// 	--L: 72%;
	// 	--C: 0.22;
	// }

	// ------------------------------------------------------------
	// ------------------------------------------------------------
	// --------------------
	// キーワードカラー main(brand?), accent, base, ...
	// --------------------

	// Main Color
	--c--main: #1b6694;
	--c--accent: #ba3957;
	// --c--accent-2: #bc3453;
	// --c--accent-3: #bc3453;

	// base
	// --hs--base: 224 8%;
	--c--base: hsl(224 6% 99%);
	--c--base-2: hsl(224 10% 94%); // secondary

	// text
	// --hs--text: 224 4%;
	--c--text: hsl(224 4% 8%);
	--c--text-2: hsl(224 6% 32%); // secondary
	--c--link: hsl(224, 90%, 48%);

	--c--line: hsl(224 4% 80%);

	/* ------------------------------------------------------------
	  opacity
	------------------------------------------------------------ */
	// 質感で表現
	--o--n10: 0.75;
	--o--n20: 0.5;
	--o--n30: 0.25;

	// 数値
	// low mid high

	// 距離
	// distant → far → mid → near → close

	// 質感
	// ghost → pale → soft → mild → solid

	// シンプル系 軽さ・厚み
	// thin → light → mid → bold → (thick)

	// 濃度, 霧
	// wisp mist haze fog dense

	/* ------------------------------------------------------------
	  aspect-ratio
	------------------------------------------------------------ */
	--ar--og: 1.91/1;

	/* ------------------------------------------------------------
	  writng-mode langに合わせて切り替えれるようにトークンで管理
	------------------------------------------------------------ */
	--writing--vertical: vertical-rl;

	/* ------------------------------------------------------------
	  radius
	------------------------------------------------------------ */
	// 等比
	--bdrs--5: 2px;
	--bdrs--10: 0.25rem; // ≒ 4px
	--bdrs--20: 0.5rem; // ≒ 8px
	--bdrs--30: 1rem; // ≒ 16px
	--bdrs--40: 1.5rem; // ≒ 24px
	--bdrs--50: 2rem; // ≒ 32px
	--bdrs--99: 99rem;

	/* ------------------------------------------------------------
	shadow color, shadow inset, shadow size
	------------------------------------------------------------ */
	--sh-i: ; // for inset
	--shc: hsl(220 4% 8% / 5%);

	// x:fibo, y=fibo, blur=x+y*2
	--shsz--5: 0px 2px 4px;
	--shsz--10: 1px 3px 6px;
	--shsz--20: 1px 5px 10px;
	--shsz--30: 2px 8px 16px;
	--shsz--40: 3px 13px 26px;
	--shsz--50: 5px 21px 42px;
}

/* ------------------------------------------------------------
	shadow
	    Memo: カラー変数込みで変数をセットしてしまうと、--sh-c がその時点で固定されるので、再セットできる set-shadow クラスを用意。
------------------------------------------------------------ */
:root,
.set-shadow {
	--sh--5: var(--sh-i) var(--shsz--5) var(--shc);
	--sh--10: var(--sh-i) var(--shsz--10) var(--shc);
	--sh--20: var(--sh-i) var(--shsz--20) var(--shc);
	--sh--30: var(--sh-i) var(--shsz--30) var(--shc);
	--sh--40: var(--sh-i) var(--shsz--40) var(--shc);
	--sh--50: var(--sh-i) var(--shsz--50) var(--shc);

	--bxsh--10: var(--sh--5), var(--sh--10);
	--bxsh--20: var(--sh--10), var(--sh--20);
	--bxsh--30: var(--sh--20), var(--sh--30);
	--bxsh--40: var(--sh--30), var(--sh--40);
	--bxsh--50: var(--sh--40), var(--sh--50);
}
