:root {
	/* ------------------------------------------------------------
	  コンテンツサイズ
	------------------------------------------------------------ */
	--sz--xl: 1600px; // 80*20
	--sz--l: 1280px; // 80*16
	--sz--m: 56rem; // 読みやすいのが50文字程度。
	--sz--s: 42rem;
	--sz--xs: 32rem;
	--sz--min: 18rem; // 最低限維持したいコンテンツサイズの標準値。 sideMain等 で使用

	/* --------------------------------------------
		カラーパレット
		1) 赤を基準として 明度L・彩度C を決める。
		2) 各色は 色相H を固定セット。 L,C は色によって微調整。
   * -------------------------------------------- */
	--black: #000;
	--white: #fff;
	// --gray: hsl(210 16% 40%);
	// --red: hsl(4 72% 50%);
	// --orange: hsl(26 80% 48%);
	// --yellow: hsl(48 80% 48%);
	// --green: hsl(132 76% 42%);
	// --blue: hsl(204 74% 50%);
	// --purple: hsl(260 72% 50%);
	// --pink: hsl(320 72% 50%);

	/* 基準の明度と彩度（red)*/
	--L: 60%;
	--C: 0.22;

	/* カラートークン（OKLCH） */
	--red: oklch(var(--L) var(--C) 20);
	--orange: oklch(calc(var(--L) + 4%) calc(var(--C) - 0.01) 52);
	--yellow: oklch(calc(var(--L) + 12%) calc(var(--C) - 0.025) 84);
	--green: oklch(calc(var(--L) + 4%) calc(var(--C) - 0.02) 152);
	--blue: oklch(calc(var(--L) - 2%) calc(var(--C) + 0.01) 260);
	--purple: oklch(calc(var(--L) - 4%) calc(var(--C) + 0.02) 292);
	--pink: oklch(calc(var(--L) + 2%) calc(var(--C) + 0.02) 348);
	--gray: oklch(calc(var(--L) - 4%) 0.04 256);

	// --------------------
	// キーワードカラー
	// --------------------

	// Main Color
	--brand: #1e5f8c;
	--accent: #d94a6a;
	// --accent-2: #000;
	// --accent-3: #000;

	// base
	--base: hsl(224 4% 99%);
	--base-2: hsl(224 8% 95%);

	// text
	--text: hsl(224 4% 8%);
	--text-2: hsl(224 6% 32%);
	--link: oklch(50% 0.3 240); //hsl(224, 90%, 48%);

	--divider: hsl(224 8% 88%);

	/* ------------------------------------------------------------
	  opacity
	------------------------------------------------------------ */
	// 質感で表現
	--o--n10: 0.75;
	--o--n20: 0.5;
	--o--n30: 0.25;

	/* ------------------------------------------------------------
	  radius
	------------------------------------------------------------ */
	// 等比
	--bdrs--5: 2px;
	--bdrs--10: 0.25rem; // ≒ 4px
	--bdrs--20: 0.5rem; // ≒ 8px
	--bdrs--30: 1rem; // ≒ 16px
	--bdrs--40: 1.5rem; // ≒ 24px
	--bdrs--50: 2rem; // ≒ 32px
	--bdrs--99: 99rem;

	/* ------------------------------------------------------------
	shadow color, shadow inset, shadow size
	------------------------------------------------------------ */
	--sh-inset: ; // for inset
	--shc: hsl(220 4% 8% / 5%);

	// x:fibo, y=fibo, blur=x+y*2
	--shsz--5: 0px 2px 4px;
	--shsz--10: 1px 3px 6px;
	--shsz--20: 1px 5px 10px;
	--shsz--30: 2px 8px 16px;
	--shsz--40: 3px 13px 26px;
	--shsz--50: 5px 21px 42px;

	/* ------------------------------------------------------------
	  aspect-ratio
	------------------------------------------------------------ */
	--ar--og: 1.91/1;

	/* ------------------------------------------------------------
	  State Module用の初期値
	------------------------------------------------------------ */
	// サイトコンテンツの左右につける余白
	--gutter-size: var(--s30);

	// 縦書きモード
	--vertical-mode: vertical-rl;
}
