---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';

import { Stack, Container, Frame, Grid, Media, HTML, Flex, Box } from 'lism-css/astro';
import Button from '~/components/ex/Button/index.astro';
import './_style.css';
---

<DemoPageLayout title='Section902'>
	<Container class='t--section902' size='l' bgc='base-2' py='60'>
		<Box>
			<Grid gtc={['auto', null, 'minmax(24rem, 1fr) 2fr']} ji={[null, null, 'end']} g='50 60'>
				<Stack gr='1' gc='1' pl={[null, null, '40']}>
					<Stack g='50' px={['40', null, '0']} h='100%'>
						<HTML.h lv='2' class='u-trim' fz='3xl' fw='bold' lts='l' c='gray'
							>深呼吸したくなる<br />快適な室温を<br />あなたの日常に</HTML.h
						>
						<Stack class='u-trimItems' g='30'>
							<p>
								まるで高原の森にいるような、清々しく澄んだ空気を、あなたの部屋へ。
								高性能フィルターが、目に見えない微細な粒子や生活臭をしっかりと除去し、空間を清浄に保ちます。
								運転していることを忘れるほどの静音設計で、寝室や書斎にも最適。
								日々の暮らしに、穏やかな安らぎと、健やかな深呼吸をもたらす、静かなパートナーです。
							</p>
						</Stack>
						<Flex g='20' ai='center' my-s='auto'>
							<Button href='#' jc='center' w='stretch' p='20' bdrs='10'>View More</Button>
						</Flex>
					</Stack>
				</Stack>
				<Frame gr={['2', null, '1']} gc={['1', null, '2']} w='stretch' max-h='32rem'>
					<Media src='/img/img-1.jpg' alt='' width='960' height='640' />
				</Frame>
			</Grid>
		</Box>
	</Container>
</DemoPageLayout>

<style>
	@layer lism.component {
		@property --is-over-md {
			syntax: '<integer>';
			inherits: true;
			initial-value: 0;
		}
		.t--section902 {
			container-type: inline-size;
			container-name: section902;
			--size-md: var(--size-m, 960px);
			--is-over-md: clamp(0, calc((100cqw - var(--size-md)) / 1px) * 1000, 1);
		}
		@container section902 style(--is-over-md: 1) {
			.t--section902 > .l--box > .l--grid {
				margin-inline-end: calc(50% - 50vw);
			}
		}
	}
</style>
