#ratioBtns {
	display: flex;
	gap: 0.5em;
	flex-wrap: wrap;
	align-items: center;
}
.btn {
	font-size: 0.85rem;
	padding: 0.25em 0.5em;
	background-color: #f2f2f2;
	border: 1px solid #d4d4d4;
	border-radius: 0.25em;
	cursor: pointer;

	&:hover {
		background-color: #e0e0e0;
	}
	&.active {
		color: oklch(50% 0.3 240);
		border-color: currentColor;
	}
}

.demo-fz-scalling {
	margin-top: 1rem;
	gap: 1.5rem;
	display: grid;

	line-height: 1;
	overflow-x: clip;

	> * {
		white-space: nowrap;
	}

	> *::before {
		content: '';
		display: block;
		font-size: 10px;
		line-height: 1.5;
		width: fit-content;
		background-color: #ececec;
		border-radius: 1px;
		text-align: center;
		padding: 0 4px;
		margin-bottom: 4px;
		text-transform: uppercase;
	}
}
.fz--xs::before {
	content: 'xs';
}
.fz--s::before {
	content: 's';
}
.fz--base::before {
	content: 'base';
}
.fz--l::before {
	content: 'l';
}
.fz--xl::before {
	content: 'xl';
}
.fz--2xl::before {
	content: '2xl';
}
.fz--3xl::before {
	content: '3xl';
}
.fz--4xl::before {
	content: '4xl';
}
.fz--5xl::before {
	content: '5xl';
}
