@layer lism.component {
	.c--navMenu {
		--link--td: none;
		--pass_p: var(--s20);
		--pass_bdc: var(--bdc, currentColor);
	}

	.c--navMenu_link {
		outline-offset: -1px; /* アコーディオン化した時にoutlineが一部見えなくなるのを防ぐ */
	}
}

/* lism: pass-get */
[data-lism-get~='p'] {
	padding: var(--pass_p);
}
[data-lism-get~='bdc'] {
	--bdc: var(--pass_bdc);
}
