@layer lism.modules {
	.c--chat {
		--cbox-bgPct: 12%;
		--_avator-size: clamp(48px, 32px + 5cqw, 64px); /* @320px:40px ~ @640:64px */
		--_deco-size: calc(var(--_avator-size) * 0.25 + 0.25rem); /* if simple: 1.25rem; */
		--_deco-mask: none;
		--_deco-t: 0;

		grid:
			'avatar name' minmax(1.5rem, auto)
			'avatar body' / auto 1fr;
		gap: 0 calc(var(--_deco-size) + 1px);
	}

	[data-chat-dir='end'] {
		grid:
			'name avatar' minmax(1.5rem, auto)
			'body avatar' / 1fr auto;
	}
	.c--chat_avatar {
		grid-area: avatar;
		width: var(--_avator-size);
	}
	.c--chat_name {
		grid-area: name;
	}
	.c--chat_body {
		grid-area: body;
	}
	.c--chat_content {
		max-width: var(--sz--s);
	}

	.c--chat_deco {
		top: var(--_deco-t);
		width: var(--_deco-size);
		height: var(--_deco-size);
		mask: var(--_deco-mask) center / contain no-repeat;
	}
	.c--chat--speak {
		--_deco-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><path d="M8,8L8,8C7.4,4.8,5.4,2,2.6,0.4L2,0h6V8z"/></svg>');
	}
	.c--chat--think {
		--_deco-t: 0.75rem;
		--_deco-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8"><circle cx="1.5" cy="1.7" r="1.5"/><circle cx="4.5" cy="5.2" r="2.5"/></svg>');
	}
}

[data-chat-dir='start'] > div > .c--chat_deco {
	inset-inline-end: calc(100% - 1px);
}
[data-chat-dir='end'] > div > .c--chat_deco {
	inset-inline-start: calc(100% - 1px);
}

.c--chat--speak[data-chat-dir='start'] > div > .c--chat_content {
	border-start-start-radius: 0;
}
.c--chat--speak[data-chat-dir='end'] > div > .c--chat_content {
	border-start-end-radius: 0;
}
