/* --- アコーディオンのアイコン切り替え --- */
/* .d--accordion_icon {
	> .a--icon {
		grid-area: 1 / 1;
		transform: var(--_isOpen, rotate(-180deg));
	}
	> .a--icon:nth-last-of-type(2) {
		opacity: var(--_isOpen, 0);
	}
	> .a--icon:nth-of-type(2) {
		opacity: var(--_notOpen, 0);
	}
} */
