// dialog,
.d--modal {
	--max-xsz: 100%; // container直下にきても影響しないように
	--my-s: 0; // flow直下にきても影響しないように
	--offset: 0 0; // アニメーション用
	--duration: var(--modal-duration, 0.5s);
	--backdropBg: rgb(0 0 0 / 0.6);

	transition-duration: var(--duration, 0.5s);

	&::backdrop {
		transition: opacity var(--duration, 0.5s);
		background: var(--backdropBg);
	}
}

.d--modal_body {
	overscroll-behavior: contain;
}

.d--modal:not([data-is-open]) {
	translate: var(--offset);
}
.d--modal:not([data-is-open]),
.d--modal:not([data-is-open])::backdrop {
	opacity: 0;
}
