@layer lism-block {
  .b--accordion {
    --duration: var(--acc-duration, 0.25s);
  }
  .b--accordion_item {
    --panel-h: 0px;
    --icon-transform: rotate(90deg);
  }

  /* 開いている時 */
  .b--accordion_item[data-opened] {
    --icon-transform: rotate(0deg);
    --panel-h: auto; /* Note: アニメーション時、jsでセットされる */
  }

  .b--accordion_button {
    display: flex;
    gap: var(--s15);
    align-items: center;
    justify-content: space-between;
    padding: var(--s15);
    width: 100%;
  }
  .b--accordion_panel {
    position: relative;
    overflow: hidden;
    height: var(--panel-h);
    transition: height var(--duration);
  }
  .b--accordion_content {
    /* _panel に padding を付けると閉じた時に余白が残るので _content に付ける */
    padding: var(--s15);
  }

  /* パネルが完全に閉じている時にabsoluteで飛ばしておくと、Chromeでも検索時に正常にハイライトされるようになる（なぜかは不明） */
  [hidden] > .b--accordion_content {
    position: absolute;
  }

  /* アイコンの描画 */
  .b--accordion_icon {
    display: grid;
    place-items: center;
    flex-shrink: 0;
    width: 1em;
    height: 1em;

    &::before,
    &::after {
      content: '';
      display: block;
      grid-area: 1 / 1;
      background-color: currentColor;
      height: 0.1em;
      width: 87.5%;
      border-radius: 0.1em;
    }
    &::before {
      transition: transform var(--duration);
      transform: var(--icon-transform);
    }
  }

  /* フォーカス時のアウトラインを少し内側に寄せる( overflow:hidden によって途切れてしまうので)  */
  .b--accordion_button:focus-visible {
    outline: solid 2px currentColor;
    outline-color: revert;
    outline-offset: -3px; /* offset 調整だけだとブラウザ間の差が大きい */
  }

  /* --- 「視差効果を減らす」設定を考慮 --- */
  @media (prefers-reduced-motion: reduce) {
    .b--accordion_item {
      --duration: 0s;
    }
  }

  /* --- JSオフ環境の考慮 --- */
  @media (scripting: none) {
    .b--accordion_panel {
      height: auto !important;
      content-visibility: visible !important;
    }
    .b--accordion_content {
      position: static !important;
    }
  }
}
