@layer lism.modules {
	.c--accordion {
		--duration: var(--acc-duration, 0.25s);
		--icon-transform: rotate(0deg); /* icon 変化用の変数 */
	}

	/* （装飾） */
	.c--accordions {
		--bdc: hsl(210, 16%, 80%);
		--bdrs: 8px;

		overflow: clip;
		border-radius: var(--bdrs);
		border: solid 1px var(--bdc);
	}

	/* （装飾）2つ目以降のアコーディオンには上部にボーダーを追加 */
	.c--accordion + .c--accordion {
		border-top: solid 1px var(--bdc);
	}
	/* 開いている時 */
	.c--accordion[data-opened] {
		--icon-transform: rotate(90deg);
	}

	.c--accordion_heading {
		font: inherit; /* 見出しタグのフォントを打ち消す */
		background-color: color-mix(in srgb, var(--bdc), transparent 80%);
	}

	.c--accordion_button {
		display: flex;
		background: none;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		gap: var(--s20);

		/* button のスタイルリセット */
		height: auto;
		border: none;
		font-size: inherit;
		color: inherit;
		text-align: inherit;
		cursor: pointer;
	}

	.c--accordion_panel {
		position: relative;
		overflow: hidden;

		height: 0px;
		transition: height var(--duration);

		/* jsで変数にセットする */
		--height--opened: auto;
	}

	/* 開いている時 */
	[data-opened] > .c--accordion_panel {
		height: var(--height--opened);
	}

	/* コンテンツの paddingは __panel ではなくこっちにつける */
	.c--accordion_content {
		padding: 1.25rem 1rem;
	}

	/* パネルが完全に閉じている時にabsoluteで飛ばしておくと、Chromeでも検索時に正常にハイライトされるようになる（なぜかは不明） */
	[hidden] > .c--accordion_content {
		position: absolute;
	}

	/* アイコンの描画 */
	.c--accordion_icon {
		display: grid;
		width: 1em;
		height: 1em;
		place-items: center;
		flex-shrink: 0;

		&::before,
		&::after {
			content: '';
			display: block;
			grid-area: 1 / 1;
			background-color: currentColor;
		}
		&::before {
			width: 0.1em;
			height: 100%;
			transition: transform var(--duration);
			transform: var(--icon-transform);
		}
		&::after {
			height: 0.1em;
			width: 100%;
		}
	}

	/* タイトルホバー時、背景色を少し濃くする */
	@media (any-hover: hover) {
		.c--accordion_title:hover {
			background-color: color-mix(in srgb, var(--bdc), transparent 60%);
		}
	}
	/* Tabキーでのフォーカス時も同じスタイリング */
	.c--accordion_title:has(> :focus-visible) {
		background-color: color-mix(in srgb, var(--bdc), transparent 60%);
	}

	/* フォーカス時のアウトラインを少し内側に寄せる( overflow:hidden によって途切れてしまうので)  */
	.c--accordion_button:focus-visible {
		outline: solid 2px currentColor;
		outline-color: revert;
		outline-offset: -3px; /* offset 調整だけだとブラウザ間の差が大きい */
	}

	/* --- (任意) フォーカスリングの角丸調整 --- */
	.c--accordion:first-child .c--accordion_button {
		border-top-left-radius: var(--bdrs);
		border-top-right-radius: var(--bdrs);
	}
	.c--accordion:last-child:not([data-opened]) .c--accordion_button {
		border-bottom-left-radius: var(--bdrs);
		border-bottom-right-radius: var(--bdrs);
	}

	/* --- 「視差効果を減らす」設定を考慮 --- */
	@media (prefers-reduced-motion: reduce) {
		.c--accordion {
			--duration: 0s;
		}
	}

	/* --- JSオフ環境の考慮 --- */
	@media (scripting: none) {
		.c--accordion_panel {
			height: auto !important;
			content-visibility: visible !important;
		}
		.c--accordion_content {
			position: static !important;
		}
	}
}
