/* mdx 自動変換後の blockquote（figure構造） */
.c--blockquote {
  margin-block: var(--s40);
  display: grid;
  gap: 0.25em;

  > figcaption {
    font-size: var(--fz--xs);
    color: var(--text-2);
    margin-left: auto;
    font-style: italic;
    padding-inline: 0.5em;

    /* ダッシュを付ける */
    &::before {
      content: ' — ';
    }

    > a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        color: var(--link);
      }
    }
  }
}

/* -------------------------- */
/* 見出しデザイン */
/* -------------------------- */
:is(.h2, .articleContent > h2) {
  color: var(--gray-hi-c);
  font-size: var(--fz--2xl);
  font-weight: 700;
  letter-spacing: 0.01em;
}
:is(.h3, .articleContent > h3) {
  color: var(--gray-hi-c);
  font-weight: 700;
}

/* -------------------------- */
/* リストデザイン */
/* -------------------------- */
.articleContent > :is(ul, ol) {
  li + li {
    margin-block-start: 0.375em;
  }
}
