@layer lism-base {
  :root {
    // --divider: hsl(224, 20%, 92%);

    --code-c: currentColor;
    // --code-bgc: hsl(210, 10%, 94%);
    --code-bgc: color-mix(in srgb, var(--divider), transparent 40%);

    --grad_01: rgb(61, 204, 240);
    --grad_02: rgb(136, 103, 255);

    --ff--base: 'Inter', 'Noto Sans JP', sans-serif;

    --text: #111;
    --eyebrow-c: #0073ff;
    --gray-hi-c: #222;
    --search-button-c: #f6f6f6;

    --lts--tighter: -0.02em;
    --lts--tight: -0.01em;

    --bdrs--15: 0.375rem; // ≒ 6px

    --bxsh--base: 0 1px 4px 0 rgba(0, 0, 0, 0.03), 0 2px 16px 0 rgba(0, 0, 0, 0.05);
    --bxsh--code: 0 10px 50px 0 rgba(0, 0, 0, 0.2), 0 20px 30px 0 rgba(0, 0, 0, 0.3);
    --bxsh--search-border: inset 0 0 0 1px #eee;
  }

  // .u--cbox {
  // 	--code-bgc: color-mix(in srgb, var(--keycolor), transparent 88%);
  // }

  :root[data-theme='dark'] {
    --L: 72%;
    --C: 0.25;

    --brand: hsl(192, 72%, 56%);
    --accent: #ff5080;
    /* // base */
    --base: hsl(228, 10%, 8%);
    --base-2: hsl(228, 8%, 20%);
    /* #2b2c30 */

    /* // content */
    --text: hsl(48, 12%, 95%); /* Cloud Dancer */
    --text-2: hsl(48, 8%, 84%);

    // --code-bgc: hsl(205, 10%, 10%);

    --link: oklch(72% 0.2 224);
    --divider: hsl(224 4% 24%);

    /* // shadow color */
    --shc: hsl(215 40% 76% / 5%);

    /* // color mix */
    --cbox-cPct: 4%;
    --cbox-bgPct: 6%;
  }
}

@layer lism-component {
  .c--shadow-box {
    border-radius: var(--bdrs--15);
    background-color: white;
    box-shadow: var(--bxsh--base);
    backdrop-filter: blur(32px);
  }

  .c--line-height {
    line-height: var(--lh--base);

    @container (min-width: 800px) {
      line-height: var(--lh--l);
    }
  }

  :root[data-theme='dark'] {
    .c--chat {
      --cbox-bgPct: 16%;
    }
  }
}
