@layer lism-base {
  :root {
    // --divider: hsl(224, 20%, 92%);

    --code-c: currentColor;
    // --code-bgc: hsl(210, 10%, 94%);
    --code-bgc: color-mix(in srgb, var(--divider), transparent 40%);

    --grad_01: rgb(61, 204, 240);
    --grad_02: rgb(136, 103, 255);

    --ff--base: 'Inter', 'Noto Sans JP', sans-serif;

    --text: #111;
    --eyebrow-c: #0073ff;
    --gray-hi-c: #222;

    --sz--l: 77.5rem; // 1240px

    // コアと命名が被る場合は、dを付与する。例: --s10d
    // packages/lism-css/src/scss/base/tokens/_space.scss
    --s36: calc(var(--s-unit) * 4.5); // ≒ 36px
    --s48: calc(var(--s-unit) * 6); // ≒ 48px
    --s60d: calc(var(--s-unit) * 7.5); // ≒ 60px
    --s84: calc(var(--s-unit) * 10.5); // ≒ 84px
    --s96: calc(var(--s-unit) * 12); // ≒ 96px
    --s120: calc(var(--s-unit) * 15); // ≒ 120px
    --s180: calc(var(--s-unit) * 22.5); // ≒ 180px

    --bdrs--15: 0.375rem; // ≒ 6px

    --bxsh--base: 0 1px 4px 0 rgba(0, 0, 0, 0.03), 0 2px 16px 0 rgba(0, 0, 0, 0.05);
  }

  // .u--cbox {
  // 	--code-bgc: color-mix(in srgb, var(--keycolor), transparent 88%);
  // }

  :root[data-theme='dark'] {
    --L: 72%;
    --C: 0.25;

    --brand: hsl(192, 72%, 56%);
    --accent: #ff5080;
    /* // base */
    --base: hsl(228, 10%, 8%);
    --base-2: hsl(228, 8%, 20%);
    /* #2b2c30 */

    /* // content */
    --text: hsl(48, 12%, 95%); /* Cloud Dancer */
    --text-2: hsl(48, 8%, 84%);

    // --code-bgc: hsl(205, 10%, 10%);

    --link: oklch(72% 0.2 224);
    --divider: hsl(224 4% 24%);

    /* // shadow color */
    --shc: hsl(215 40% 76% / 5%);

    /* // color mix */
    --cbox-cPct: 4%;
    --cbox-bgPct: 6%;
  }
}

@layer lism-component {
  .c--card {
    border-radius: var(--bdrs--15);
    background-color: white;
    box-shadow: var(--bxsh--base);
    backdrop-filter: blur(32px);
  }

  :root[data-theme='dark'] {
    .c--chat {
      --cbox-bgPct: 16%;
    }
  }
}
