@use './theme';
@use './base';
@use './layout';
@use './contents';
@use './parts';
@use './code';
@use './preview';
@use './lg';

// .u--cbox {
// 	--code-bgc: color-mix(in srgb, #22a4d40e, currentColor 4%);
// }

// 画像のプリロードが自動挿入される時にflowのマージンがずれるので調整
link:first-child + * {
  --flow: 0px;
}

// 追加ユーティリティ

.u-onlyLightMode {
  display: block;
}
.u-onlyDarkMode {
  display: none;
}
[data-theme='dark'] {
  .u-onlyLightMode {
    display: none;
  }
  .u-onlyDarkMode {
    display: block;
  }
}

/* -------------------------- */
/* Custom Prop Class */
// .-hov\:under:hover {
// 	text-decoration: underline;
// }

/* コンテナクエリ単位でのトークン再セット */
.set--cqUnit {
  --REM: clamp(0.95rem, 0.9rem + 0.22cqw, 1.05rem);
  font-size: var(--REM);

  --hl-unit: calc(var(--REM) * 0.125);
  --hl--xs: var(--hl-unit);
  --hl--s: calc(var(--hl-unit) * 2);
  --hl--base: calc(var(--hl-unit) * 3);
  --hl--l: calc(var(--hl-unit) * 4);

  --s-unit: calc(var(--REM) * 0.5);
  --s5: calc(0.5 * var(--s-unit));
  --s10: var(--s-unit);
  --s15: calc(1.5 * var(--s-unit));
  --s20: calc(2 * var(--s-unit));
  --s30: calc(3 * var(--s-unit));
  --s40: calc(5 * var(--s-unit));
  --s50: calc(8 * var(--s-unit));
  --s60: calc(13 * var(--s-unit));
  --s70: calc(21 * var(--s-unit));
  --s80: calc(34 * var(--s-unit));
}

/* ----------------------------------------
    guide
 ---------------------------------------- */

.-bd\:guide {
  border: 1px dashed rgba(160, 160, 160, 0.5);
}

:where(.has--itemGuide > *) {
  padding: 0 4px;
  border: 1px dashed hsla(0, 0%, 63%, 0.4);
}
.-hov\:itemGuide {
  > * {
    position: relative;
  }
  &:hover > *:before {
    position: absolute;
    display: block;
    border: 1px dashed rgba(150, 150, 160, 0.4);
    content: '';
    inset: 0;
    // box-sizing: border-box;
  }
}
