@use './theme';
@use './base';
@use './layout';
@use './contents';
@use './parts';
@use './code';
@use './preview';
@use './lg';

/* ----------------------------------------
    タイポグラフィ
 ---------------------------------------- */
@layer lism-base {
  :root {
    // --REM: clamp(0.95rem, 0.915rem + 0.15vw, 1.05rem); /* 変動幅: 360px ~ 1400px */
    --REM: clamp(0.95rem, 0.9rem + 0.2vw, 1rem); /* 変動幅: 400px ~ 800px */

    // font-size: 倍音列でのスケーリング。単位は em
    --fz--base: var(--REM);
  }
  /* コンテナクエリ単位でのトークン再セット */
  .set--cqUnit {
    --REM: clamp(0.95rem, 0.9rem + 0.2cqw, 1rem); /* lism-css の --REM の cqw 版 */
    font-size: var(--REM);

    --hl-unit: calc(var(--REM) * 0.125);
    --hl--xs: var(--hl-unit);
    --hl--s: calc(var(--hl-unit) * 2);
    --hl--base: calc(var(--hl-unit) * 3);
    --hl--l: calc(var(--hl-unit) * 4);

    --s-unit: calc(var(--REM) * 0.5);
    --s10: var(--s-unit);
    --s20: calc(var(--s-unit) * 2);
    --s30: calc(var(--s-unit) * 3);
    --s40: calc(var(--s-unit) * 5);
    --s50: calc(var(--s-unit) * 8);
    --s60: calc(var(--s-unit) * 13);
    --s70: calc(var(--s-unit) * 21);
    --s80: calc(var(--s-unit) * 34);
    --s5: calc(var(--s-unit) * 0.5);
    --s15: calc(var(--s-unit) * 1.5);
    --s25: calc(var(--s-unit) * 2.5);
    --s35: calc(var(--s-unit) * 4);
  }
}

@layer lism-component {
  .c--propTable > table {
    min-width: 50%;
    font-size: 15px;
    --hl: var(--hl--xs);
  }
  .c--propTable > table > thead {
    font-size: 14px;
  }
  .c--propTable :is(td, th) {
    border: solid 1px var(--divider);
  }
}

// 追加ユーティリティ
@layer lism-utility {
  .u--onlyLightMode {
    display: block;
  }
  .u--onlyDarkMode {
    display: none;
  }
  [data-theme='dark'] {
    .u--onlyLightMode {
      display: none;
    }
    .u--onlyDarkMode {
      display: block;
    }
  }
}

/* ----------------------------------------
    guide
 ---------------------------------------- */
@layer lism-custom {
  .has--itemGuide > * {
    padding: 0 4px;
    border: 1px dashed hsla(0, 0%, 63%, 0.4);
  }

  // 画像のプリロードが自動挿入される時にflowのマージンがずれるので調整
  link:first-child + * {
    --flow: 0px;
  }
}

/* ----------------------------------------
    Property Class
 ---------------------------------------- */
.-bd\:guide {
  border: 1px dashed rgba(160, 160, 160, 0.5);
}
.-hov\:itemGuide {
  > * {
    position: relative;
  }
  &:hover > *:before {
    position: absolute;
    display: block;
    border: 1px dashed rgba(150, 150, 160, 0.4);
    content: '';
    inset: 0;
    // box-sizing: border-box;
  }
}
