@layer lism-component {
  .c--tabs {
    display: grid;
    grid: 'list' 'panel' / 100%;
    gap: var(--s20);
  }
  .c--tabs_list {
    grid-area: list;
    display: flex;
    overflow-x: auto;
  }
  .c--tabs_tab {
    color: var(--_notSelected, var(--text-2));
    background-color: var(--_isSelected, var(--base-2));
    padding: 0.25em 0.75em;
  }
  .c--tabs_tab[aria-selected='true'] {
    --_notSelected: ;
  }
  .c--tabs_tab[aria-selected='false'] {
    --_isSelected: ;
  }
  .c--tabs_panel {
    grid-area: panel;
    width: 100%;
  }
  .c--tabs_panel:where([aria-hidden='true']) {
    display: none;
  }
}
