// コンテナ定義 + 併用クラスで内部のコンテンツ幅を制御する。
.is--container {
	container-type: inline-size;
	margin-inline: auto;
	inline-size: 100%; // gridやflex内での挙動を考慮。（container-type:inline-sizeだと横幅つぶれる）
	// 	--sz--wide: 100%;

	// is--container ごとにセット。
	--sz--outer: 100cqi;

	// コンテナの親にhas--gutterがある場合はその分を加算
	// :where(.has--gutter) > & {
	// 	--sz--outer: calc(100cqi + var(--gutter) * 2);
	// }

	// 子要素の制御
	> * {
		--max-xsz: var(--content-size, 100%);
		max-inline-size: min(100%, var(--max-xsz, 100%));
		margin-inline: auto;
	}
}

// 一番トップレベルのcontainerでセット
// .is--container:not(.is--container .is--container) {
// 	--sz--outer: 100cqi;
// }

// Memo: それぞれの直下要素( > * ) に対してスタイルをセットした方が、ネスト時の影響をなくせるが、constrainedのネストが多様されることは少ないので親側の変数管理のみで実装。
.-container\:s {
	--content-size: var(--sz--s);
	// --sz--wide: var(--sz--m);
}
.-container\:m {
	--content-size: var(--sz--m);
	// --sz--wide: var(--sz--l);
}
.-container\:l {
	--content-size: var(--sz--l);
	// --sz--wide: var(--sz--xl);
}
