// コンテナ定義 + 併用クラスで内部のコンテンツ幅を制御する。
.is--container {
	container-type: inline-size;
	// container-name: lismContainer;
}
.is--container > * {
	--sz--container: 100cqi;
}
// has--gutterがある場合はその分を加算
.is--container.has--gutter > * {
	--sz--container: calc(100cqi + var(--gutter-size) * 2);
}
