/*
	Meomo: end:0 がどうせ :first-child に必要なので、 my-s も > * + * 使わず上書き形式で。
	is--containerと合わせて、カスタム値のセットは is--flow + 変数定義だけでできるように。
*/

.is--flow {
	display: flow-root;

	> * {
		--my-s: var(--flow-gap, var(--flow--m)); // 初期値は m
		margin-block: var(--my-s) 0;
	}

	// flow 直下のメディア要素は block に初期リセット
	> :where(img, video, audio) {
		display: block;
	}
}

.-flow\:s > * {
	--flow-gap: var(--flow--s);
}
.-flow\:m > * {
	--flow-gap: var(--flow--m);
}
// .-flow\:l > * {
// 	--flow-gap: var(--flow--l);
// }

// 見出しの上部余白は少しだけ広くする.
.is--flow > :where(h1, h2, h3, h4) {
	--my-s: calc(var(--flow-gap) + var(--flow--h));
}

// Note: 打ち消しを最後に書く
// .is--flow > :where(.is--fullwide + .is--fullwide),
.is--flow > :first-child,
.-flow\:skip + * {
	--my-s: 0;
}
