.is--vertical {
	writing-mode: var(--vertical-mode);
}
.is--vertical\@sm {
	writing-mode: var(--_is_sm) var(--vertical-mode);
}
.is--vertical\@md {
	writing-mode: var(--_is_md) var(--vertical-mode);
}
