/* .z--hero {} */
.z--hero_content {
	min-width: 20rem;
}

// .-bg\:grad-main,
.z--hero_h1wrap {
	background-image: linear-gradient(120deg, var(--grad_01), var(--grad_02));
}
.z--hero h1[data-page-title] {
	letter-spacing: 0.025em;
	text-shadow: 4px 4px 40px rgb(255 255 255 / 0.25);
}
.z--hero_tagline {
	font-size: var(--fz--m);
	color: var(--text-2);
}
