/* ----------------------------------------
    hero page
 ---------------------------------------- */
:root {
	// --hero--blue: 220 85% 65%;
	--hero--blue: hsla(206, 85%, 65%, 0.1);
	--hero--purple: hsla(263, 76%, 75%, 0.1);
}

:root[data-theme='dark'] {
	--hero--blue: rgba(13, 65, 162, 0.2);
}

[data-has-hero] .page {
	/* border: solid 1px red; */
	--grad-1: linear-gradient(215deg, var(--hero--blue), transparent 100vh);
	--grad-2: linear-gradient(30deg, var(--hero--purple), transparent 80%);

	background: var(--grad-1); //, var(--grad-2);
}

.section-01 {
	--_shc-hsl: 206 60% 50%;
}
