.u--scalePreview {
	--w-pct: 200;
	max-width: unset;
	width: calc(1% * var(--w-pct));
	transform: scale(calc(100 / var(--w-pct)));
	transform-origin: 0 0;
}
.u--scalePreview > iframe {
	width: 100%;
	height: 100%;
}

@container (min-width: 440px) {
	.u--scalePreview {
		--w-pct: 160;
	}
}

@container (min-width: 800px) {
	.u--scalePreview {
		--w-pct: 125;
	}
}

.u--scalePreview[data-scalePreview-type='list'] {
	width: 250%;
	transform: scale(0.4);
	pointer-events: none;
}
