:root {
	// 基本: light用
	--lsdoc-codeBlock-bgc: hsl(200, 18%, 95%);
	--lsdoc-preview_resize-bdc: hsl(200, 16%, 60%);
	--lsdoc-preview_help-bg: rgba(250, 250, 255, 0.5);
	// :root {
	--code-c: currentColor;
	--code-bgc: color-mix(in srgb, #22a4d40e, currentColor 4%);
	// }

	--grad_01: rgb(61, 204, 240);
	--grad_02: rgb(136, 103, 255);
}

:root[data-theme='dark'] {
	--L: 72%;
	--C: 0.24;

	--lsdoc-codeBlock-bgc: hsl(200, 12%, 12%);
	--lsdoc-preview_resize-bdc: hsl(200, 16%, 40%);
	--lsdoc-preview_help-bg: rgba(50, 50, 55, 0.5);

	--brand: #2b9ce7;
	--accent: #ff5080;

	@supports (color: oklch(from red l c h)) {
		--brand: oklch(from #1e5f8c calc(l + 0.2) calc(c + 0.05) h);
		--accent: oklch(from #d94a6a calc(l + 0.1) calc(c + 0.05) h);
	}

	// base
	--base: hsl(215 8% 8%);
	--base-2: hsl(215 8% 14%);

	// content
	--text: hsl(215 8% 99%);
	--text-2: hsl(215 4% 88%);

	--link: oklch(72% 0.2 224); //hsl(224, 90%, 56%);
	// --prose-link-underline-color: var(--color-sky-400);
	// oklch(74.6% .16 232.661);

	--divider: hsl(224 4% 80%);

	// shadow color
	--shc: hsl(215 50% 80% / 5%);
	--sh-inset: inset;

	// color mix
	--cbox-cPct: 12%;
	--cbox-bgPct: 8%;
}

.z--mdcontent {
	> .level-h2 {
		position: relative;
		// padding-bottom: 0.25em;
	}
	> .level-h2::after {
		content: '';
		display: block;
		position: absolute;
		top: 0px;
		left: calc(0px - var(--sl-content-pad-x));
		width: 12px;
		height: 100%;
		background: linear-gradient(
			150deg,
			color-mix(in srgb, var(--green), transparent 60%) 0%,
			color-mix(in srgb, var(--blue), transparent 50%) 30%,
			color-mix(in srgb, var(--purple), transparent 60%) 70%,
			color-mix(in srgb, var(--pink), transparent 60%) 100%
		);
		filter: brightness(125%);
		clip-path: polygon(0 0, 0% 100%, calc(100% - 4px) 100%, 100% 50%, calc(100% - 4px) 0);
		z-index: 1;
	}
	.sl-heading-wrapper {
		// display: flex;
		// align-items: center;
		// gap: 0.5em;
		--flow: 2.5em;
		&.level-h2 {
			--flow: 4rem;
		}
		> :first-child {
			display: inline;
			padding-inline-end: var(--sl-anchor-icon-space);
		}
		.sl-anchor-link {
			position: relative;
			margin-inline-start: 0.25em;
			user-select: none;
			opacity: var(--_hovHeading, 0);
		}

		&:hover {
			--_hovHeading: 1;
		}
	}
}

.c--button--primary {
	position: relative;
	--c: #fff;
	--bgc: transparent;
	border: none;
	overflow: hidden;
	font-weight: bold;
	// text-shadow: 0 1px 4px rgb(0 0 0 / 0.1);

	&::before {
		content: '';
		position: absolute;
		inset: -8px;
		filter: blur(8px);
		border-radius: inherit;
		z-index: -1;
		--_col_A: rgb(172, 223, 145);
		--_col_B: rgb(67, 194, 226);
		--_col_C: rgb(137, 89, 220);
		background-image: conic-gradient(
			from 0deg,
			var(--_col_A) 40deg,
			var(--_col_B) 80deg,
			var(--_col_C) 120deg,
			var(--_col_C) 220deg,
			var(--_col_B) 280deg,
			var(--_col_A) 360deg
		);
	}
}
.c--button--secondary {
	--bdc: currentColor;
	--bgc: transparent;
	--c: currentColor;
}
