@use '../_mixin' as mixin;

@media (any-hover: hover) {
	.-hov\:c:hover {
		color: var(--hov-c, var(--c-link)) #{mixin.$maybe_important};
	}
	.-hov\:bdc:hover {
		border-color: var(--hov-bdc, var(--c-link)) #{mixin.$maybe_important};
	}
	.-hov\:bgc:hover {
		background-color: var(--hov-bgc, var(--c-base-2)) #{mixin.$maybe_important};
	}
	.-hov\:o:hover {
		opacity: var(--hov-o, 0.7) !important;
	}
	.-hov\:bxsh:hover {
		box-shadow: var(--hov-bxsh, var(--bxsh-40)) #{mixin.$maybe_important};
	}
	// .-hov\:filter:hover {
	// 	filter: var(--hov-filter) !important;
	// }
}

// ------------------------------------------------------------
// .-hov\:to
// ------------------------------------------------------------

.-hov\:to\:hide {
	opacity: var(--_isHov, 0) #{mixin.$maybe_important};
}

.-hov\:to\:show {
	opacity: var(--_notHov, 0) #{mixin.$maybe_important};
	visibility: var(--_notHov, hidden) #{mixin.$maybe_important};
}
