.-max-sz\:full {
	max-inline-size: 100%;

	:where(.has--gutter) > & {
		max-inline-size: calc(100% + var(--gutter-size) * 2);
		margin-inline: calc(var(--gutter-size) * -1);
	}
}

.-max-sz\:container {
	max-inline-size: var(--sz--container, 100cqi);
	margin-inline: calc(50% - var(--sz--container) / 2);
}

// .-max-sz\:wide {
// 	max-inline-size: var(--sz--wide, 100%);
// }
