// .c--preview_area {
// 	--trsp: filter, opacity, visibility, box-shadow, translate, scale, border-color, color,
// 		background-color;
// }

// --------------------
// hover
// --------------------
@media (any-hover: hover) {
	.-hov\:shadowUp:hover {
		box-shadow: var(--bxsh--40);
		translate: 0 -3px;
	}
}

.-hov\:to\:zoom {
	scale: var(--isHov_, 1.1);
}
.-hov\:to\:letterSpread {
	letter-spacing: var(--isHov_, 0.125em);
}
.-hov\:to\:slide {
	opacity: var(--notHov_, 0);
	grid-template-rows: var(--isHov_, 1fr) var(--notHov_, 0fr);
	transition-property: margin-block, padding-block, opacity, grid-template-rows;
}

// .-hov\:dark:hover {
// 	filter: brightness(0.8) contrast(1.2); //grayscale(5%);
// }
// .-hov\:bright:hover {
// 	filter: brightness(1.2) contrast(1.2); //grayscale(5%);
// }
// .-hov\:scale:hover {
// 	scale: 1.05;
// }

.-hov\:test {
	color: var(--isHov_, green) var(--notHov_, blue);
	background-color: var(--notHov_, lightgray);
	box-shadow: var(--isHov_, var(--bxsh--30));
}

// @supports selector(:has(*)) {
// 	.is--linkBox:has(.u-expandedLink:focus-visible) {
// 		outline: auto 1px;
// 		outline: auto 1px -webkit-focus-ring-color;
// 	}
// 	.u-expandedLink:focus {
// 		outline: 0;
// 	}
// }
