// --------------------
// variants
// --------------------
.l--flex-ltr {
	flex-direction: row;
}
.l--flex-rtl {
	flex-direction: row-reverse;
}

// rtlで左右を反転させないようにする
:where([dir='rtl']) {
	.l--flex-ltr {
		flex-direction: row-reverse;
	}
	.l--flex-rtl {
		flex-direction: row;
	}
}

.l--icon-inline {
	--_scale: 1.2; // inline時、余白でテキストより小さく見えがちなのでほんの少し拡大する
	scale: var(--_scale);
	margin-inline: calc(1em * (var(--_scale) - 1) / 2);
	translate: 0 calc(-1 * (0.35em - 0.5ex)); // 0.5cap - 0.5ex が英文では理想。
}
