.-ar\:cinema {
	aspect-ratio: 2.35/1;
}
.-ar\:silver {
	aspect-ratio: 14.14/10;
}
.-ar\:bronze {
	aspect-ratio: 33.03/10;
}

// --------------------
// bd
// --------------------
.-bd\:guide {
	border: 1px dashed rgba(160, 160, 160, 0.5);
}

// --------------------
// Button
// --------------------

// --------------------
// ...
// --------------------

// emoji
// .a--icon--emoji {
// 	font-family: var(--ff--emoji);
// 	line-height: 1;
// 	place-content: center; // justify-content: center;
// 	place-items: center; // align-items: center;
// }

// .a--icon--mask {
// 	width: 1em;
// 	height: 1em;
// 	background-color: currentColor;
// 	mask: var(--icon-mask) no-repeat 50% 50% / contain;
// }

// --------------------
// Accordion
// --------------------
.d--accordion_icon {
	> .a--icon {
		grid-area: 1 / 1;
	}
	> .a--icon:nth-last-of-type(2) {
		opacity: var(--isOpened_, 0);
	}
	> .a--icon:nth-of-type(2) {
		opacity: var(--notOpened_, 0);
	}
}

// --------------------
// data-role='trigger' だけをクリッカブルにする
// --------------------
.d--accordion_header:has(> [data-role='trigger']) {
	pointer-events: none;
}

.d--accordion_label > a,
.d--accordion_icon {
	pointer-events: auto;
}

// --------------------
// linkBoxのaltKey対応
// --------------------
.is--linkBox.-linkoff {
	.u-linkExpand::before {
		content: none;
	}
}
