@property --size-full {
	syntax: '<length-percentage>';
	initial-value: 100%;
	inherits: true;
}
@property --ls-blur {
	syntax: '*';
	inherits: false;
}
@property --ls-brightness {
	syntax: '*';
	inherits: false;
	initial-value: brightness(1);
}

.-filter_\: {
	// --ls-brightness: ;
	--ls-blur: blur(106px);
	filter: var(--ls-blur) var(--ls-brightness);
}
