---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';

import { Container, Flex, Frame, Media, Stack, Text } from 'lism-css/astro';
import Button from '~/components/ex/Button/index.astro';
import './_style.css';
---

<DemoPageLayout title="Feature001">
	<Container size="s" py="60" bgc="base" hasGutter>
		<Stack ai="c" g="50">
			<Text class="u--trimHL" fz="2xl" fw="bold">人と緑が共に育つ街</Text>
			<Frame class="u--outerR" tag="figure" ar="16/9" pos="r" bdrs="20" bxsh="20" bgc="white" p="10">
				<Media class="u--innerR" src="/img/img-5.jpg" alt="" width="960" height="640" />
			</Frame>
			<Text class="u--trimHL" fz="m">豊かな自然環境を次世代に引き継ぎながら、
				都市と自然が調和した空間づくりを推進しています。
				持続可能な社会の実現に貢献することを目指しています。
				未来に向けて持続可能な社会を築いていきます。
			</Text>
			<Flex g="40" ai="c" jc="c">
				<Button href='#' minW="250px" jc="c" p="30" bdrs="10">詳しく見る</Button>
			</Flex>
		</Stack>
	</Container>
</DemoPageLayout>
