---
// Memo: SidebarSublistの上書きができないので、Sidebar.astro を上書きしている
import MobileMenuFooter from '@astrojs/starlight/components/MobileMenuFooter.astro';
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
// import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro';
import SidebarSublist from './SidebarSublist.astro';
import { isLibSidebar, isBothSidebar } from './helper';

const { sidebar } = Astro.locals.starlightRoute;

// 現在のURLパスを取得
const currentPath = Astro.url.pathname;

// /library/ 配下の場合はサイドバーをフィルタリング
const isLibrarySection = currentPath.includes('/lib/');

// 表示するサイドバーを決定
// ライブラリセクションの場合は特定のグループのみ表示
const displaySidebar = isLibrarySection
	? sidebar.filter((entry) => {
			// UI Components と Templates のみ表示
			return isLibSidebar(entry) || isBothSidebar(entry);
		})
	: sidebar.filter((entry) => {
			// それ以外
			return !isLibSidebar(entry) || isBothSidebar(entry);
		});
---

<SidebarPersister>
	<SidebarSublist sublist={displaySidebar} />
</SidebarPersister>

<div class='md:sl-hidden'>
	<MobileMenuFooter />
</div>
