---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';

import { Stack, Container, Frame, Grid, Media, Text, Flex, Icon } from 'lism-css/astro';
import './_style.css';
---

<DemoPageLayout title='Feature018'>
	<Container size='l' py='60' hasGutter>
		<Stack g='60'>
			<Grid gtc={['auto', null, '1fr 1fr']}>
				<Stack g='60' jc='center' p={['50', null, '60']}>
					<Stack tag='hgroup' g='40' ai='flex-s' jc='center'>
						<Text class='u--trimHL' fz='4rem' fw='100' lts='l'>Feature</Text>
						<Text class='u--trimHL' fz='xl' fw='bold' lts='l'>目指す社会は、その先に</Text>
					</Stack>
					<Text fz='m' lh='l'>
						私たちのサービスは、持続可能な未来を目指し、環境への配慮と社会的責任を重視しています。<br />
						地域社会との連携を深め、多様な価値観を尊重することで、共に成長できるコミュニティを築いています。 革新的な技術とデザインを活用し、ユーザー体験の向上に努めるとともに、
						透明性の高い情報発信を行い、信頼関係の構築に努めています。 これからも、持続可能な発展と社会貢献を両立させるための取り組みを続けてまいります。
					</Text>
					<Flex jc='flex-e'>
						<Flex isLinkBox href='#' ai='center' g='10' hasTransition hov='o'>
							<span>詳しく見る</span>
							<Icon icon='arrow-right' />
						</Flex>
					</Flex>
				</Stack>
				<Frame gr={[null, null, '1']} gc={['1', null, '2']}>
					<Media src='/img/img-4.jpg' alt='' width='960' height='640' />
				</Frame>
			</Grid>
		</Stack>
	</Container>
</DemoPageLayout>
