<div class='l--flow' style={{ resize: 'horizontal', overflow: 'auto', maxWidth: '100%', minWidth: '360px', border: 'dashed 1px' }}>
	<p>
		日本語：これはテキストの折り返しを確認するためのサンプル文章です。括弧「」や句読点、感嘆符！疑問符？、拗音や促音など小さいひらがな文字の位置に注目してください。チェンソーマンのデンジの台詞を引用します。「最高じゃぁないっすか…」「俺たちの邪魔ァすんなら⚪︎ね！」
		「ジジイに教わらなかったかア～？獣が狩人の言葉信じるなってなぁ～!?」 「じゃあ夢バトルしようぜ！夢バトル!!」
	</p>
	<p>
		English: This manuscript is intentionally constructed to facilitate the examination of textual line-break peculiarities within varying browser
		dimensions. By manipulating the horizontal expansiveness of your viewing portal, one can meticulously observe the manifestation of distinct
		line-break junctures. What character, pray tell, inaugurates this textual composition? "Lorem ipsum dolor sit amet, consectetur adipiscing
		elit. " is a dummy text.
	</p>
	<p>長いURL：https://example.com/longslugpage/abcdefghijklmnopqrstuvwxyz1234567890abcdefghijklmnopqrstuvwxyz1234567890</p>
</div>
