@layer lism.modules {
	.c--badge {
		--c: var(--c--base);
		--bgc: var(--c--text);
		--bdc: transparent;
		color: var(--c);
		background-color: var(--bgc);
		border: solid 1px var(--bdc); /* 異なる variant を並べてもサイズに差が出ないようにborderを常に指定 */
	}
	.c--badge--outline {
		--c: var(--c--text);
		--bgc: transparent;
		--bdc: currentColor;
	}
}

.c--badge.u-cbox {
	--cbox-cPct: 75%;
	--bdc: color-mix(in srgb, var(--c--base), var(--keycolor) 25%);
}
