---
/**
 * テストページ（英語版）
 */
import BaseLayout from '../../layouts/BaseLayout.astro';
import { HTML } from 'lism-css/astro';
import { siteConfig } from '@/config/site';
---

<BaseLayout title={siteConfig.name} lang="en">
	<HTML.h lv="1">Test En</HTML.h>
	<p>test</p>
</BaseLayout>
