---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';

import { Stack, Container, Frame, Grid, GridItem, Media, Text, Layer } from 'lism-css/astro';
import './_style.css';
---

<DemoPageLayout title='Feature022'>
	<Grid gtr='auto' gtc={['auto', null, 'auto 1fr']} pos='rel'>
		<Container size='m' gr='1' gc='1' hasGutter pos='rel' z='1'>
			<Grid gtc={['auto', null, 'auto 1fr']} c='white' g='60' py='60'>
				<Text class='u-trim' fz='3xl' fw='bold'>自然素材が生み出す<br />癒やしのひととき</Text>
				<Stack class='u-trimItems' g='40'>
					<p>
						目を閉じれば、まるで森の木漏れ日の中にいるかのような、圧倒的な臨場感。
						このスピーカーは、録音された自然音を、立体的に、そして限りなくリアルに再現するために生まれました。
					</p>
					<p>
						本体のエンクロージャー（筐体）には、調湿性や消臭性で知られる「珪藻土」を特殊な技術で固めた、
						多孔質の自然素材を採用。この珪藻土が、音の余計な反響を吸収し、驚くほどクリアで、
						角の取れた、柔らかく自然な音響特性を実現しました。
						専用アプリには、屋久島の森や、沖縄の波音など、日本各地で収録された高音質なバイノーラル音源を多数用意。
					</p>
					<p>
						左右のスピーカーから流れるわずかに異なる音が、脳内で立体的な音像を結び、
						あなたを深いリラクゼーションへと導きます。音楽を聴くためのスピーカーとは一線を画す、
						「音の風景」を日常に取り入れるための装置。自然の響きで、心と身体を調律する時間をお過ごしください。
					</p>
				</Stack>
			</Grid>
		</Container>
		<GridItem gr='1' gc='1' pos='abs' w='100%' h='100%'>
			<Frame h='100%'>
				<Media src='/img/img-1.jpg' alt='' width='960' height='640' />
				<Layer bgc='black:30%' />
			</Frame>
		</GridItem>
	</Grid>
</DemoPageLayout>
