---
import DemoLayout from '@/layouts/DemoLayout.astro';

import { Container, Grid, FluidCols, Icon, LinkBox, Stack, Flex, Text, Inline, Heading } from 'lism-css/astro';
import { Button } from '@lism-css/ui/astro';
import './_style.css';
---

<DemoLayout title="Navigation006">
  <Container isWrapper="l" bgc="base-2" py="50" setGutter>
    <Grid gtr={['auto 1fr auto', null, '1fr auto auto 1fr']} gtc={['auto', null, 'minmax(14rem, auto) 1fr']} ai="center" g="40">
      <Stack gr={['1', null, '2']} gc="1" g="20">
        <Text class="u--trim" fz="3xl" fw="bold" ff="accent" c="gray">Navigation</Text>
        <Heading lv="2" class="u--trim" fz="s" fw="normal" o="-20">ナビゲーション</Heading>
      </Stack>
      <FluidCols class="u--trimChildren" gr={['2', null, '1 / -1']} gc={['1', null, '2']} cols="14rem" g="30 40">
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>キッチン</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>リビング</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>オーディオ</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>ライティング</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>限定モデル</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>会社概要</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>沿革</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>ニュースリリース</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>メディア掲載</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>IR情報</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>デザイナーインタビュー</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>開発秘話</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>ユーザーの声</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>ブログ</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>イベント情報</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>私たちの働き方</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>募集職種一覧</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>新卒採用</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>キャリア採用</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
        <LinkBox href="#" layout="grid" gtc="1fr auto" ai="center" g="20" py="15" hov="c">
          <Inline>インターンシップ</Inline>
          <Icon icon="caret-right" />
        </LinkBox>
      </FluidCols>
      <Flex gr={['3', null, '3']} gc={['1', null, '1']} g="15">
        <Button g="15" variant="outline" href="#" w={['stretch', null, 'auto']} bdrs="10" setTransition hov={{ bgc: 'black', c: 'white' }}>
          <Inline gc="1" fz="s">View More</Inline>
          <Icon icon="arrow-right" gc="2" fz="80%" />
        </Button>
      </Flex>
    </Grid>
  </Container>
</DemoLayout>
