/*
 * dialog で実装.
 *   Memo: ::backdrop のアニメーションはFirefoxで動かない
 */
.d--modal {
	--my-s: 0; // flow直下にきても影響しないように
	--duration: var(--modal-duration, 0.5s);
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	overflow: unset;
	background: var(--backdrop-bg, rgb(0 0 0 / 0.6));
	transition-duration: var(--duration);
	transition-property: opacity;

	&::backdrop {
		background: none;
	}
}
.d--modal[open] {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.d--modal_inner {
	--translate: 0 0; // アニメーション用
	background-color: var(--c--base);
	transition: translate var(--duration);
	max-height: 100%;
}

// .d--modal_body {
// 	overscroll-behavior: contain;
// }

.d--modal:not([data-is-open]) {
	opacity: 0;
}
.d--modal:not([data-is-open]) > .d--modal_inner {
	translate: var(--translate);
}
