.d--tabs {
	display: grid;
	grid: 'list' 'panel';
}
.d--tabs_list {
	grid-area: list;
	overflow-x: auto;
}
.d--tabs_tab {
	&[aria-selected='true'] {
		--notSelected_: ;
	}
	&[aria-selected='false'] {
		--isSelected_: ;
	}
	// 非アクティブの時、薄いカラーに
	:where(&) {
		color: var(--notSelected_, var(--c--text-2));
	}
}

.d--tabs_panel {
	// position: relative;
	grid-area: panel;
	width: 100%;
	overflow-x: auto;

	&:where([aria-hidden='true']) {
		display: none;
	}
}
