// 自動生成されたファイル. 生成日時: 2025-10-21T02:09:04.499Z
$props: (
	'f': (
		prop: 'font',
		utilities: (
			'inherit': 'inherit',
		),
	),
	'fz': (
		prop: 'font-size',
		utilities: (
			'root': 'var(--fz--root)',
			'base': 'var(--fz--base)',
			'5xl': 'var(--fz--5xl)',
			'4xl': 'var(--fz--4xl)',
			'3xl': 'var(--fz--3xl)',
			'2xl': 'var(--fz--2xl)',
			'xl': 'var(--fz--xl)',
			'l': 'var(--fz--l)',
			'm': 'var(--fz--m)',
			's': 'var(--fz--s)',
			'xs': 'var(--fz--xs)',
			'2xs': 'var(--fz--2xs)',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'fw': (
		prop: 'font-weight',
		utilities: (
			'thin': 'var(--fw--thin)',
			'light': 'var(--fw--light)',
			'normal': 'var(--fw--normal)',
			'medium': 'var(--fw--medium)',
			'bold': 'var(--fw--bold)',
			'black': 'var(--fw--black)',
		),
	),
	'ff': (
		prop: 'font-family',
		utilities: (
			'base': 'var(--ff--base)',
			'accent': 'var(--ff--accent)',
			'mono': 'var(--ff--mono)',
		),
	),
	'fs': (
		prop: 'font-style',
		utilities: (
			'italic': 'italic',
		),
	),
	'lh': (
		prop: 'line-height',
		utilities: (
			'1': '1',
			'base': 'var(--lh--base)',
			'xs': 'var(--lh--xs)',
			's': 'var(--lh--s)',
			'l': 'var(--lh--l)',
			'xl': 'var(--lh--xl)',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'lts': (
		prop: 'letter-spacing',
		utilities: (
			'base': 'var(--lts--base)',
			's': 'var(--lts--s)',
			'l': 'var(--lts--l)',
		),
	),
	'ta': (
		prop: 'text-align',
		utilities: (
			'center': 'center',
			'left': 'left',
			'right': 'right',
		),
	),
	'td': (
		prop: 'text-decoration',
		utilities: (
			'under': 'underline',
			'none': 'none',
		),
	),
	'tt': (
		prop: 'text-transform',
		utilities: (
			'upper': 'uppercase',
			'lower': 'lowercase',
		),
	),
	'd': (
		prop: 'display',
		utilities: (
			'none': 'none',
			'block': 'block',
			'in-flex': 'inline-flex',
		),
		bp: 1,
	),
	'o': (
		prop: 'opacity',
		utilities: (
			'0': '0',
			'ghost': 'var(--o--ghost)',
			'pale': 'var(--o--pale)',
			'soft': 'var(--o--soft)',
			'mild': 'var(--o--mild)',
			'solid': 'var(--o--solid)',
		),
	),
	'v': (
		prop: 'visibility',
		utilities: (
			'hidden': 'hidden',
		),
	),
	'ov': (
		prop: 'overflow',
		utilities: (
			'hidden': 'hidden',
			'auto': 'auto',
			'clip': 'clip',
		),
	),
	'ov-x': (
		prop: 'overflow-x',
		utilities: (
			'clip': 'clip',
			'auto': 'auto',
			'scroll': 'scroll',
		),
	),
	'ov-y': (
		prop: 'overflow-y',
		utilities: (
			'clip': 'clip',
			'auto': 'auto',
			'scroll': 'scroll',
		),
	),
	'ar': (
		prop: 'aspect-ratio',
		utilities: (
			'21\\/9': '21/9',
			'16\\/9': '16/9',
			'3\\/2': '3/2',
			'1\\/1': '1/1',
			'og': 'var(--ar--og)',
		),
		bp: 1,
	),
	'w': (
		prop: 'width',
		utilities: (
			'100\\%': '100%',
			'fit': 'fit-content',
		),
		bp: 1,
	),
	'h': (
		prop: 'height',
		utilities: (
			'100\\%': '100%',
			'fit': 'fit-content',
		),
		bp: 1,
	),
	'min-w': (
		prop: 'min-width',
		utilities: (
			'100\\%': '100%',
		),
		bp: 1,
	),
	'max-w': (
		prop: 'max-width',
		utilities: (
			'100\\%': '100%',
		),
		bp: 1,
	),
	'min-h': (
		prop: 'min-height',
		utilities: (
			'100\\%': '100%',
		),
		bp: 1,
	),
	'max-h': (
		prop: 'max-height',
		utilities: (
			'100\\%': '100%',
		),
		bp: 1,
	),
	'max-sz': (
		prop: 'max-inline-size',
		utilities: (
			'xs': 'var(--sz--xs)',
			's': 'var(--sz--s)',
			'm': 'var(--sz--m)',
			'l': 'var(--sz--l)',
			'xl': 'var(--sz--xl)',
		),
		exUtility: (
		),
	),
	'bg': (
		prop: 'background',
		bp: 1,
	),
	'bgr': (
		prop: 'background-repeat',
		utilities: (
			'no': 'no-repeat',
		),
	),
	'bgp': (
		prop: 'background-position',
		utilities: (
			'center': 'center',
		),
	),
	'bgsz': (
		prop: 'background-size',
		utilities: (
			'cover': 'cover',
			'contain': 'contain',
		),
	),
	'bgclip': (
		prop: 'background-clip',
		utilities: (
			'text': 'text',
		),
	),
	'bgc': (
		prop: 'background-color',
		utilities: (
			'base': 'var(--c--base)',
			'base-2': 'var(--c--base-2)',
			'text': 'var(--c--text)',
			'main': 'var(--c--main)',
			'accent': 'var(--c--accent)',
			'trsp': 'transparent',
		),
		exUtility: (
			'inherit': (
				'background-color': 'inherit',
			),
		),
		alwaysVar: 1,
	),
	'c': (
		prop: 'color',
		utilities: (
			'base': 'var(--c--base)',
			'text': 'var(--c--text)',
			'text-2': 'var(--c--text-2)',
			'main': 'var(--c--main)',
			'accent': 'var(--c--accent)',
			'trsp': 'transparent',
		),
		exUtility: (
			'inherit': (
				'color': 'inherit',
			),
		),
		alwaysVar: 1,
	),
	'bd': (
		prop: 'border',
		utilities: (
			'none': 'none',
		),
	),
	'bds': (
		prop: '--bds',
		utilities: (
			'dashed': 'dashed',
			'dotted': 'dotted',
			'double': 'double',
		),
		isVar: 1,
	),
	'bdc': (
		prop: '--bdc',
		utilities: (
			'main': 'var(--c--main)',
			'accent': 'var(--c--accent)',
			'line': 'var(--c--line)',
			'inherit': 'inherit',
			'trsp': 'transparent',
		),
		isVar: 1,
	),
	'bdw': (
		prop: '--bdw',
		bp: 1,
		isVar: 1,
	),
	'bdrs': (
		prop: 'border-radius',
		utilities: (
			'0': '0',
			'5': 'var(--bdrs--5)',
			'10': 'var(--bdrs--10)',
			'20': 'var(--bdrs--20)',
			'30': 'var(--bdrs--30)',
			'40': 'var(--bdrs--40)',
			'50': 'var(--bdrs--50)',
			'99': 'var(--bdrs--99)',
			'inner': 'var(--bdrs--inner)',
		),
		bp: 1,
		alwaysVar: 1,
		overwriteBaseVar: 1,
	),
	'bxsh': (
		prop: 'box-shadow',
		utilities: (
			'0': 'none',
			'5': 'var(--bxsh--5)',
			'10': 'var(--bxsh--10)',
			'20': 'var(--bxsh--20)',
			'30': 'var(--bxsh--30)',
			'40': 'var(--bxsh--40)',
			'50': 'var(--bxsh--50)',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'pos': (
		prop: 'position',
		utilities: (
			'static': 'static',
			'fixed': 'fixed',
			'sticky': 'sticky',
			'rel': 'relative',
			'abs': 'absolute',
		),
	),
	'z': (
		prop: 'z-index',
		utilities: (
			'0': '0',
			'1': '1',
			'99': '99',
			'-1': '-1',
		),
	),
	't': (
		prop: 'top',
		utilities: (
			'0': '0%',
			'50\\%': '50%',
			'100\\%': '100%',
		),
	),
	'l': (
		prop: 'left',
		utilities: (
			'0': '0%',
			'50\\%': '50%',
			'100\\%': '100%',
		),
	),
	'r': (
		prop: 'right',
		utilities: (
			'0': '0%',
			'50\\%': '50%',
			'100\\%': '100%',
		),
	),
	'b': (
		prop: 'bottom',
		utilities: (
			'0': '0%',
			'50\\%': '50%',
			'100\\%': '100%',
		),
	),
	'i': (
		prop: 'inset',
		utilities: (
			'0': '0%',
		),
	),
	'p': (
		prop: 'padding',
		utilities: (
			'0': '0',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
		),
		bp: 1,
		alwaysVar: 1,
		overwriteBaseVar: 1,
	),
	'px': (
		prop: 'padding-inline',
		utilities: (
			'0': '0',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'py': (
		prop: 'padding-block',
		utilities: (
			'0': '0',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'px-s': (
		prop: 'padding-inline-start',
		bp: 1,
	),
	'px-e': (
		prop: 'padding-inline-end',
		bp: 1,
	),
	'py-s': (
		prop: 'padding-block-start',
		bp: 1,
	),
	'py-e': (
		prop: 'padding-block-end',
		bp: 1,
	),
	'pl': (
		prop: 'padding-left',
		bp: 1,
	),
	'pr': (
		prop: 'padding-right',
		bp: 1,
	),
	'pt': (
		prop: 'padding-top',
		bp: 1,
	),
	'pb': (
		prop: 'padding-bottom',
		bp: 1,
	),
	'm': (
		prop: 'margin',
		utilities: (
			'0': '0',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
			'auto': 'auto',
		),
		bp: 1,
		alwaysVar: 1,
		overwriteBaseVar: 1,
	),
	'mx': (
		prop: 'margin-inline',
		utilities: (
			'0': '0',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
			'auto': 'auto',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'my': (
		prop: 'margin-block',
		utilities: (
			'0': '0',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
			'auto': 'auto',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'mx-s': (
		prop: 'margin-inline-start',
		utilities: (
			'auto': 'auto',
		),
		bp: 1,
	),
	'mx-e': (
		prop: 'margin-inline-end',
		utilities: (
			'auto': 'auto',
		),
		bp: 1,
	),
	'my-s': (
		prop: 'margin-block-start',
		utilities: (
			'0': '0',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
			'auto': 'auto',
		),
		bp: 1,
	),
	'my-e': (
		prop: 'margin-inline-end',
		utilities: (
			'auto': 'auto',
		),
		bp: 1,
	),
	'ml': (
		prop: 'margin-left',
		bp: 1,
	),
	'mr': (
		prop: 'margin-right',
		bp: 1,
	),
	'mt': (
		prop: 'margin-top',
		bp: 1,
	),
	'mb': (
		prop: 'margin-bottom',
		bp: 1,
	),
	'g': (
		prop: 'gap',
		utilities: (
			'0': '0',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
		),
		bp: 1,
		alwaysVar: 1,
		overwriteBaseVar: 1,
	),
	'g-x': (
		prop: 'column-gap',
		bp: 1,
	),
	'g-y': (
		prop: 'row-gap',
		bp: 1,
	),
	'cols': (
		prop: '--cols',
		bp: 1,
		isVar: 1,
	),
	'rows': (
		prop: '--rows',
		bp: 1,
		isVar: 1,
	),
	'fxw': (
		prop: 'flex-wrap',
		utilities: (
			'wrap': 'wrap',
		),
		bp: 1,
	),
	'fxd': (
		prop: 'flex-direction',
		utilities: (
			'col': 'column',
			'col-r': 'column-reverse',
			'row-r': 'row-reverse',
		),
		bp: 1,
	),
	'fx': (
		prop: 'flex',
		utilities: (
			'1': '1',
		),
		bp: 1,
	),
	'fxg': (
		prop: 'flex-grow',
		utilities: (
			'1': '1',
		),
	),
	'fxsh': (
		prop: 'flex-shrink',
		utilities: (
			'0': '0',
		),
	),
	'fxb': (
		prop: 'flex-basis',
		bp: 1,
	),
	'gt': (
		prop: 'grid-template',
		bp: 1,
	),
	'gta': (
		prop: 'grid-template-areas',
		bp: 1,
	),
	'gtc': (
		prop: 'grid-template-columns',
		utilities: (
			'subgrid': 'subgrid',
		),
		bp: 1,
	),
	'gtr': (
		prop: 'grid-template-rows',
		utilities: (
			'subgrid': 'subgrid',
		),
		bp: 1,
	),
	'gaf': (
		prop: 'grid-auto-flow',
		utilities: (
			'row': 'row',
			'col': 'column',
		),
		bp: 1,
	),
	'ga': (
		prop: 'grid-area',
		utilities: (
			'1\\/1': '1 / 1',
		),
		bp: 1,
	),
	'gc': (
		prop: 'grid-column',
		utilities: (
			'1\\/-1': '1 / -1',
		),
		bp: 1,
	),
	'gr': (
		prop: 'grid-row',
		utilities: (
			'1\\/-1': '1 / -1',
		),
		bp: 1,
	),
	'ai': (
		prop: 'align-items',
		utilities: (
			'start': 'start',
			'center': 'center',
			'end': 'end',
			'stretch': 'stretch',
			'flex-s': 'flex-start',
			'flex-e': 'flex-end',
		),
		bp: 1,
	),
	'ac': (
		prop: 'align-content',
		utilities: (
			'start': 'start',
			'center': 'center',
			'end': 'end',
			'flex-s': 'flex-start',
			'flex-e': 'flex-end',
			'between': 'space-between',
		),
		bp: 1,
	),
	'ji': (
		prop: 'justify-items',
		utilities: (
			'start': 'start',
			'center': 'center',
			'end': 'end',
			'stretch': 'stretch',
			'flex-s': 'flex-start',
			'flex-e': 'flex-end',
		),
		bp: 1,
	),
	'jc': (
		prop: 'justify-content',
		utilities: (
			'start': 'start',
			'center': 'center',
			'end': 'end',
			'flex-s': 'flex-start',
			'flex-e': 'flex-end',
			'between': 'space-between',
		),
		bp: 1,
	),
	'aslf': (
		prop: 'align-self',
		utilities: (
			'start': 'start',
			'center': 'center',
			'end': 'end',
			'stretch': 'stretch',
		),
	),
	'jslf': (
		prop: 'justify-self',
		utilities: (
			'start': 'start',
			'center': 'center',
			'end': 'end',
			'stretch': 'stretch',
		),
	),
	'order': (
		prop: 'order',
		utilities: (
			'0': '0',
			'1': '1',
			'-1': '-1',
		),
	),
	'translate': (
		prop: 'translate',
		utilities: (
			'-50X': '-50% 0',
			'-50Y': '0 -50%',
			'-50XY': '-50% -50%',
		),
	),
	'rotate': (
		prop: 'rotate',
		utilities: (
			'45': '45deg',
			'90': '90deg',
			'-45': '-45deg',
			'-90': '-90deg',
		),
	),
	'scale': (
		prop: 'scale',
		utilities: (
			'-X': '-1 1',
			'-Y': '1 -1',
			'-XY': '-1 -1',
		),
	),
	'ovw': (
		prop: 'overflow-wrap',
		utilities: (
			'any': 'anywhere',
		),
	),
	'whitespace': (
		prop: 'white-space',
		utilities: (
			'nowrap': 'nowrap',
		),
	),
	'writing': (
		prop: 'writing-mode',
		utilities: (
			'vertical': 'var(--writing--vertical)',
		),
		bp: 1,
	),
	'float': (
		prop: 'float',
		utilities: (
			'left': 'left',
			'right': 'right',
		),
	),
	'clear': (
		prop: 'clear',
		utilities: (
			'both': 'both',
		),
	),
	'isolation': (
		prop: 'isolation',
		utilities: (
			'isolate': 'isolate',
		),
	),

);
