// 自動生成されたファイル. 生成日時: 2025-10-02T09:17:05.401Z
$props: (
	'f': (
		prop: 'font',
		utilities: (
			'inherit': 'inherit',
		),
	),
	'fz': (
		prop: 'font-size',
		utilities: (
			'root': 'var(--fz-root)',
			'base': 'var(--fz-base)',
			'5xl': 'var(--fz-5xl)',
			'4xl': 'var(--fz-4xl)',
			'3xl': 'var(--fz-3xl)',
			'2xl': 'var(--fz-2xl)',
			'xl': 'var(--fz-xl)',
			'l': 'var(--fz-l)',
			'm': 'var(--fz-m)',
			's': 'var(--fz-s)',
			'xs': 'var(--fz-xs)',
			'2xs': 'var(--fz-2xs)',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'fw': (
		prop: 'font-weight',
		utilities: (
			'thin': 'var(--fw-thin)',
			'light': 'var(--fw-light)',
			'normal': 'var(--fw-normal)',
			'medium': 'var(--fw-medium)',
			'bold': 'var(--fw-bold)',
			'black': 'var(--fw-black)',
		),
	),
	'ff': (
		prop: 'font-family',
		utilities: (
			'base': 'var(--ff-base)',
			'accent': 'var(--ff-accent)',
			'mono': 'var(--ff-mono)',
		),
	),
	'fs': (
		prop: 'font-style',
		utilities: (
			'italic': 'italic',
		),
	),
	'lh': (
		prop: 'line-height',
		utilities: (
			'1': '1',
			'base': 'var(--lh-base)',
			'xs': 'var(--lh-xs)',
			's': 'var(--lh-s)',
			'l': 'var(--lh-l)',
			'xl': 'var(--lh-xl)',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'lts': (
		prop: 'letter-spacing',
		utilities: (
			'base': 'var(--lts-base)',
			's': 'var(--lts-s)',
			'l': 'var(--lts-l)',
		),
	),
	'ta': (
		prop: 'text-align',
		utilities: (
			'c': 'center',
			'l': 'left',
			'r': 'right',
		),
	),
	'td': (
		prop: 'text-decoration',
		utilities: (
			'u': 'underline',
			'n': 'none',
		),
	),
	'w': (
		prop: 'width',
		utilities: (
			'fit': 'fit-content',
			'100\\%': '100%',
		),
		bp: 1,
	),
	'h': (
		prop: 'height',
		utilities: (
			'fit': 'fit-content',
			'100\\%': '100%',
		),
		bp: 1,
	),
	'maxW': (
		prop: 'max-width',
		utilities: (
			'100\\%': '100%',
		),
		bp: 1,
	),
	'maxH': (
		prop: 'max-height',
		utilities: (
			'100\\%': '100%',
		),
		bp: 1,
	),
	'minW': (
		prop: 'min-width',
		utilities: (
			'100\\%': '100%',
		),
		bp: 1,
	),
	'minH': (
		prop: 'min-height',
		utilities: (
			'100\\%': '100%',
		),
		bp: 1,
	),
	'bg': (
		prop: 'background',
		utilities: (
			'none': 'n',
		),
		bp: 1,
	),
	'bgi': (
		prop: 'background-image',
		bp: 1,
	),
	'bgr': (
		prop: 'background-repeat',
		utilities: (
			'n': 'no-repeat',
		),
	),
	'bgp': (
		prop: 'background-position',
		utilities: (
			'c': 'center',
		),
	),
	'bgsz': (
		prop: 'background-size',
		utilities: (
			'cv': 'cover',
			'ct': 'contain',
		),
	),
	'bgcp': (
		prop: 'background-clip',
		utilities: (
			'text': (
				'color': 'transparent',
				'background-clip': 'text',
			),
		),
	),
	'bgc': (
		prop: 'background-color',
		utilities: (
			'base': 'var(--c-base)',
			'base-2': 'var(--c-base-2)',
			'text': 'var(--c-text)',
			'inherit': (
				'background-color': 'inherit',
			),
			'main': 'var(--c-main)',
			'accent': 'var(--c-accent)',
		),
		alwaysVar: 1,
	),
	'c': (
		prop: 'color',
		utilities: (
			'base': 'var(--c-base)',
			'text': 'var(--c-text)',
			'text-2': 'var(--c-text-2)',
			'main': 'var(--c-main)',
			'accent': 'var(--c-accent)',
			'inherit': (
				'color': 'inherit',
			),
		),
		alwaysVar: 1,
	),
	'bd': (
		prop: 'border',
		utilities: (
			'none': 'none',
		),
	),
	'bds': (
		prop: '--bds',
		utilities: (
			'dashed': 'dashed',
			'dotted': 'dotted',
			'double': 'double',
		),
		isVar: 1,
	),
	'bdc': (
		prop: '--bdc',
		utilities: (
			'inherit': 'inherit',
			'main': 'var(--c-main)',
			'accent': 'var(--c-accent)',
			'line': 'var(--c-line)',
		),
		isVar: 1,
	),
	'bdw': (
		prop: '--bdw',
		bp: 1,
		isVar: 1,
	),
	'd': (
		prop: 'display',
		utilities: (
			'n': 'none',
			'b': 'block',
			'f': 'flex',
			'g': 'grid',
			'i': 'inline',
			'if': 'inline-flex',
			'ib': 'inline-block',
		),
		bp: 1,
	),
	'op': (
		prop: 'opacity',
		utilities: (
			'0': '0',
			'low': 'var(--op-low)',
			'mid': 'var(--op-mid)',
			'high': 'var(--op-high)',
		),
	),
	'v': (
		prop: 'visibility',
		utilities: (
			'h': 'hidden',
			'v': 'visible',
		),
	),
	'ov': (
		prop: 'overflow',
		utilities: (
			'hidden': 'hidden',
			'auto': 'auto',
			'clip': 'clip',
			'scroll': 'scroll',
		),
	),
	'ov-x': (
		prop: 'overflow-x',
		utilities: (
			'hidden': 'hidden',
			'auto': 'auto',
			'clip': 'clip',
			'scroll': 'scroll',
		),
	),
	'ov-y': (
		prop: 'overflow-y',
		utilities: (
			'hidden': 'hidden',
			'auto': 'auto',
			'clip': 'clip',
			'scroll': 'scroll',
		),
	),
	'ar': (
		prop: 'aspect-ratio',
		utilities: (
			'16\\/9': '16/9',
			'3\\/2': '3/2',
			'1\\/1': '1/1',
			'ogp': 'ogp',
		),
		bp: 1,
	),
	'bxsh': (
		prop: 'box-shadow',
		utilities: (
			'0': 'none',
			'5': 'var(--bxsh-5)',
			'10': 'var(--bxsh-10)',
			'20': 'var(--bxsh-20)',
			'30': 'var(--bxsh-30)',
			'40': 'var(--bxsh-40)',
			'50': 'var(--bxsh-50)',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'bdrs': (
		prop: 'border-radius',
		utilities: (
			'0': '0',
			'5': 'var(--bdrs-5)',
			'10': 'var(--bdrs-10)',
			'20': 'var(--bdrs-20)',
			'30': 'var(--bdrs-30)',
			'40': 'var(--bdrs-40)',
			'50': 'var(--bdrs-50)',
			'99': 'var(--bdrs-99)',
		),
		bp: 1,
		alwaysVar: 1,
		overwriteBaseVar: 1,
	),
	'pos': (
		prop: 'position',
		utilities: (
			'relative': 'relative',
			'absolute': 'absolute',
			'static': 'static',
			'fixed': 'fixed',
			'sticky': 'sticky',
		),
	),
	'z': (
		prop: 'z-index',
		utilities: (
			'0': '0',
			'1': '1',
			'2': '2',
			'99': '99',
			'-1': '-1',
		),
	),
	't': (
		prop: 'top',
		utilities: (
			'0': '0%',
			'50\\%': '50%',
			'100\\%': '100%',
		),
	),
	'l': (
		prop: 'left',
		utilities: (
			'0': '0%',
			'50\\%': '50%',
			'100\\%': '100%',
		),
	),
	'r': (
		prop: 'right',
		utilities: (
			'0': '0%',
			'50\\%': '50%',
			'100\\%': '100%',
		),
	),
	'b': (
		prop: 'bottom',
		utilities: (
			'0': '0%',
			'50\\%': '50%',
			'100\\%': '100%',
		),
	),
	'i': (
		prop: 'inset',
		utilities: (
			'0': '0%',
		),
	),
	'p': (
		prop: 'padding',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
		),
		bp: 1,
		alwaysVar: 1,
		overwriteBaseVar: 1,
	),
	'px': (
		prop: 'padding-inline',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'py': (
		prop: 'padding-block',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'pis': (
		prop: 'padding-inline-start',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'pbs': (
		prop: 'padding-block-start',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'pie': (
		prop: 'padding-inline-end',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'pbe': (
		prop: 'padding-inline-start',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'm': (
		prop: 'margin',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
			'auto': 'auto',
		),
		bp: 1,
		alwaysVar: 1,
		overwriteBaseVar: 1,
	),
	'mx': (
		prop: 'margin-inline',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
			'auto': 'auto',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'my': (
		prop: 'margin-block',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
			'auto': 'auto',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'mis': (
		prop: 'margin-inline-start',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
			'auto': 'auto',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'mbs': (
		prop: 'margin-block-start',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
			'auto': 'auto',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'mie': (
		prop: 'margin-inline-end',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
			'auto': 'auto',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'mbe': (
		prop: 'margin-inline-start',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
			'auto': 'auto',
		),
		bp: 1,
		alwaysVar: 1,
	),
	'g': (
		prop: 'gap',
		utilities: (
			'0': 'var(--s0)',
			'5': 'var(--s5)',
			'10': 'var(--s10)',
			'20': 'var(--s20)',
			'30': 'var(--s30)',
			'40': 'var(--s40)',
			'50': 'var(--s50)',
			'60': 'var(--s60)',
			'70': 'var(--s70)',
			'80': 'var(--s80)',
		),
		bp: 1,
		alwaysVar: 1,
		overwriteBaseVar: 1,
	),
	'gx': (
		prop: 'column-gap',
		bp: 1,
	),
	'gy': (
		prop: 'row-gap',
		bp: 1,
	),
	'cols': (
		prop: '--cols',
		bp: 1,
		isVar: 1,
	),
	'rows': (
		prop: '--rows',
		bp: 1,
		isVar: 1,
	),
	'fxw': (
		prop: 'flex-wrap',
		utilities: (
			'w': 'wrap',
			'n': 'nowrap',
		),
		bp: 1,
	),
	'fxd': (
		prop: 'flex-direction',
		utilities: (
			'c': 'column',
			'cr': 'column-reverse',
			'r': 'row',
			'rr': 'row-reverse',
		),
		bp: 1,
	),
	'fx': (
		prop: 'flex',
		utilities: (
			'1': '1',
		),
		bp: 1,
	),
	'fxg': (
		prop: 'flex-grow',
		utilities: (
			'1': '1',
		),
	),
	'fxsh': (
		prop: 'flex-shrink',
		utilities: (
			'0': '0',
		),
	),
	'fxb': (
		prop: 'flex-basis',
		bp: 1,
	),
	'gt': (
		prop: 'grid-template',
		bp: 1,
	),
	'gta': (
		prop: 'grid-template-areas',
		bp: 1,
	),
	'gtc': (
		prop: 'grid-template-columns',
		utilities: (
			'subgrid': 'subgrid',
		),
		bp: 1,
	),
	'gtr': (
		prop: 'grid-template-rows',
		utilities: (
			'subgrid': 'subgrid',
		),
		bp: 1,
	),
	'gaf': (
		prop: 'grid-auto-flow',
		bp: 1,
	),
	'gac': (
		prop: 'grid-auto-columns',
		bp: 1,
	),
	'gar': (
		prop: 'grid-auto-rows',
		bp: 1,
	),
	'ga': (
		prop: 'grid-area',
		utilities: (
			'1\\/1': '1/1',
		),
		bp: 1,
	),
	'gc': (
		prop: 'grid-column',
		utilities: (
			'1\\/-1': '1/-1',
		),
		bp: 1,
	),
	'gr': (
		prop: 'grid-row',
		utilities: (
			'1\\/-1': '1/-1',
		),
		bp: 1,
	),
	'ai': (
		prop: 'align-items',
		utilities: (
			'c': 'center',
			's': 'start',
			'e': 'end',
			'fx-s': 'flex-start',
			'fx-e': 'flex-end',
			'stretch': 'stretch',
		),
		bp: 1,
	),
	'ac': (
		prop: 'align-content',
		utilities: (
			'c': 'center',
			's': 'start',
			'e': 'end',
			'fx-s': 'flex-start',
			'fx-e': 'flex-end',
			'between': 'space-between',
		),
		bp: 1,
	),
	'ji': (
		prop: 'justify-items',
		utilities: (
			'c': 'center',
			's': 'start',
			'e': 'end',
			'fx-s': 'flex-start',
			'fx-e': 'flex-end',
			'stretch': 'stretch',
		),
		bp: 1,
	),
	'jc': (
		prop: 'justify-content',
		utilities: (
			'c': 'center',
			's': 'start',
			'e': 'end',
			'fx-s': 'flex-start',
			'fx-e': 'flex-end',
			'between': 'space-between',
		),
		bp: 1,
	),
	'aslf': (
		prop: 'align-self',
		utilities: (
			'c': 'center',
			's': 'start',
			'e': 'end',
			'stretch': 'stretch',
		),
	),
	'jslf': (
		prop: 'justify-self',
		utilities: (
			'c': 'center',
			's': 'start',
			'e': 'end',
			'stretch': 'stretch',
		),
	),
	'ord': (
		prop: 'order',
		utilities: (
			'0': '0',
			'1': '1',
			'-1': '-1',
		),
	),
	'trnslt': (
		prop: 'translate',
		utilities: (
			'-50X': '-50% 0',
			'-50Y': '0 -50%',
			'-50XY': '-50% -50%',
		),
	),
	'rotate': (
		prop: 'rotate',
		utilities: (
			'45': '45deg',
			'90': '90deg',
			'-45': '-45deg',
			'-90': '-90deg',
		),
	),
	'scale': (
		prop: 'scale',
		utilities: (
			'-X': '-1 1',
			'-Y': '1 -1',
			'-XY': '-1 -1',
		),
	),
	'msk': (
		prop: 'mask',
		bp: 1,
	),
	'whs': (
		prop: 'white-space',
		utilities: (
			'nw': 'nowrap',
		),
	),
	'ovw': (
		prop: 'overflow-wrap',
		utilities: (
			'any': 'anywhere',
		),
	),
	'fl': (
		prop: 'float',
		utilities: (
			'l': 'left',
			'r': 'right',
		),
	),
	'cl': (
		prop: 'clear',
		utilities: (
			'b': 'both',
		),
	),

);
