$props: (
  'f': (
    prop: 'font',
    utilities: (
      'inherit': 'inherit',
    ),
    bp: 1,
  ),
  'fz': (
    prop: 'font-size',
    utilities: (
      'root': 'var(--fz--root)',
      'base': 'var(--fz--base)',
      '5xl': 'var(--fz--5xl)',
      '4xl': 'var(--fz--4xl)',
      '3xl': 'var(--fz--3xl)',
      '2xl': 'var(--fz--2xl)',
      'xl': 'var(--fz--xl)',
      'l': 'var(--fz--l)',
      'm': 'var(--fz--m)',
      's': 'var(--fz--s)',
      'xs': 'var(--fz--xs)',
      '2xs': 'var(--fz--2xs)',
    ),
    bp: 1,
  ),
  'fw': (
    prop: 'font-weight',
    utilities: (
      '100': '100',
      '200': '200',
      '300': '300',
      '400': '400',
      '500': '500',
      '600': '600',
      '700': '700',
      '800': '800',
      '900': '900',
      'light': 'var(--fw--light)',
      'normal': 'var(--fw--normal)',
      'bold': 'var(--fw--bold)',
    ),
    bp: 1,
  ),
  'ff': (
    prop: 'font-family',
    utilities: (
      'base': 'var(--ff--base)',
      'accent': 'var(--ff--accent)',
      'mono': 'var(--ff--mono)',
    ),
    bp: 1,
  ),
  'fs': (
    prop: 'font-style',
    utilities: (
      'italic': 'italic',
    ),
    bp: 1,
  ),
  'lh': (
    prop: 'line-height',
    utilities: (
    ),
    exUtility: (
    ),
    bp: 1,
  ),
  'lts': (
    prop: 'letter-spacing',
    utilities: (
      'base': 'var(--lts--base)',
      's': 'var(--lts--s)',
      'l': 'var(--lts--l)',
      'xl': 'var(--lts--xl)',
    ),
    bp: 1,
  ),
  'ta': (
    prop: 'text-align',
    utilities: (
      'center': 'center',
      'left': 'left',
      'right': 'right',
    ),
    bp: 1,
  ),
  'td': (
    prop: 'text-decoration',
    utilities: (
      'none': 'none',
    ),
    bp: 1,
  ),
  'tt': (
    prop: 'text-transform',
    utilities: (
      'upper': 'uppercase',
      'lower': 'lowercase',
    ),
    bp: 1,
  ),
  'd': (
    prop: 'display',
    utilities: (
      'none': 'none',
      'block': 'block',
      'flex': 'flex',
      'inline-flex': 'inline-flex',
      'grid': 'grid',
      'inline-grid': 'inline-grid',
      'inline': 'inline',
      'inline-block': 'inline-block',
    ),
    bp: 1,
  ),
  'o': (
    prop: 'opacity',
    utilities: (
      '0': '0',
      'mp': 'var(--o--mp)',
      'p': 'var(--o--p)',
      'pp': 'var(--o--pp)',
      'ppp': 'var(--o--ppp)',
    ),
    bp: 1,
  ),
  'v': (
    prop: 'visibility',
    utilities: (
      'hidden': 'hidden',
    ),
    bp: 1,
  ),
  'ov': (
    prop: 'overflow',
    utilities: (
      'hidden': 'hidden',
      'auto': 'auto',
      'clip': 'clip',
    ),
    bp: 1,
  ),
  'ov-x': (
    prop: 'overflow-x',
    utilities: (
      'clip': 'clip',
      'auto': 'auto',
      'scroll': 'scroll',
    ),
    bp: 1,
  ),
  'ov-y': (
    prop: 'overflow-y',
    utilities: (
      'clip': 'clip',
      'auto': 'auto',
      'scroll': 'scroll',
    ),
    bp: 1,
  ),
  'ar': (
    prop: 'aspect-ratio',
    utilities: (
      '21\\/9': '21/9',
      '16\\/9': '16/9',
      '3\\/2': '3/2',
      '1\\/1': '1/1',
      'og': 'var(--ar--og)',
    ),
    bp: 1,
  ),
  'w': (
    prop: 'width',
    utilities: (
      '100\\%': '100%',
      'fit': 'fit-content',
    ),
    bp: 1,
  ),
  'h': (
    prop: 'height',
    utilities: (
      '100\\%': '100%',
      'fit': 'fit-content',
    ),
    bp: 1,
  ),
  'min-w': (
    prop: 'min-width',
    utilities: (
      '100\\%': '100%',
    ),
    bp: 1,
  ),
  'max-w': (
    prop: 'max-width',
    utilities: (
      '100\\%': '100%',
    ),
    bp: 1,
  ),
  'min-h': (
    prop: 'min-height',
    utilities: (
      '100\\%': '100%',
    ),
    bp: 1,
  ),
  'max-h': (
    prop: 'max-height',
    utilities: (
      '100\\%': '100%',
    ),
    bp: 1,
  ),
  'contentSize': (
    prop: '--contentSize',
    utilities: (
      's': 'var(--sz--s)',
      'm': 'var(--sz--m)',
      'l': 'var(--sz--l)',
      'xl': 'var(--sz--xl)',
    ),
    isVar: 1,
  ),
  'sz': (
    prop: 'inline-size',
    bp: 1,
  ),
  'min-sz': (
    prop: 'min-inline-size',
    bp: 1,
  ),
  'max-sz': (
    prop: 'max-inline-size',
    utilities: (
      'xs': 'var(--sz--xs)',
      's': 'var(--sz--s)',
      'm': 'var(--sz--m)',
      'l': 'var(--sz--l)',
      'xl': 'var(--sz--xl)',
    ),
    exUtility: (
    ),
    bp: 1,
  ),
  'bsz': (
    prop: 'block-size',
    bp: 1,
  ),
  'min-bsz': (
    prop: 'min-block-size',
    bp: 1,
  ),
  'max-bsz': (
    prop: 'max-block-size',
    bp: 1,
  ),
  'bg': (
    prop: 'background',
    bp: 1,
  ),
  'bgi': (
    prop: 'background-image',
    bp: 1,
  ),
  'bgr': (
    prop: 'background-repeat',
    utilities: (
      'no-repeat': 'no-repeat',
    ),
    bp: 1,
  ),
  'bgp': (
    prop: 'background-position',
    utilities: (
      'center': 'center',
    ),
    bp: 1,
  ),
  'bgsz': (
    prop: 'background-size',
    utilities: (
      'cover': 'cover',
      'contain': 'contain',
    ),
    bp: 1,
  ),
  'bgc': (
    prop: 'background-color',
    utilities: (
      'base': 'var(--base)',
      'base-2': 'var(--base-2)',
      'text': 'var(--text)',
      'brand': 'var(--brand)',
      'accent': 'var(--accent)',
      'transparent': 'transparent',
    ),
    exUtility: (
      'inherit': (
        'background-color': 'inherit',
      ),
    ),
    bp: 1,
    alwaysVar: 1,
  ),
  'c': (
    prop: 'color',
    utilities: (
      'base': 'var(--base)',
      'text': 'var(--text)',
      'text-2': 'var(--text-2)',
      'brand': 'var(--brand)',
      'accent': 'var(--accent)',
    ),
    exUtility: (
      'inherit': (
        'color': 'inherit',
      ),
    ),
    bp: 1,
    alwaysVar: 1,
  ),
  'bd': (
    prop: 'border',
    utilities: (
      'none': 'none',
    ),
    bp: 1,
  ),
  'bds': (
    prop: '--bds',
    utilities: (
      'dashed': 'dashed',
      'dotted': 'dotted',
      'double': 'double',
    ),
    isVar: 1,
  ),
  'bdc': (
    prop: '--bdc',
    utilities: (
      'brand': 'var(--brand)',
      'accent': 'var(--accent)',
      'divider': 'var(--divider)',
      'inherit': 'inherit',
      'transparent': 'transparent',
      'current': 'currentColor',
    ),
    isVar: 1,
  ),
  'bdw': (
    prop: '--bdw',
    bp: 1,
    isVar: 1,
  ),
  'bd-x': (
    prop: 'border-inline',
    bp: 1,
  ),
  'bd-y': (
    prop: 'border-block',
    bp: 1,
  ),
  'bd-s': (
    prop: 'border-inline-start',
    bp: 1,
  ),
  'bd-e': (
    prop: 'border-inline-end',
    bp: 1,
  ),
  'bd-bs': (
    prop: 'border-block-start',
    bp: 1,
  ),
  'bd-be': (
    prop: 'border-block-end',
    bp: 1,
  ),
  'bd-t': (
    prop: 'border-top',
    bp: 1,
  ),
  'bd-b': (
    prop: 'border-bottom',
    bp: 1,
  ),
  'bd-l': (
    prop: 'border-left',
    bp: 1,
  ),
  'bd-r': (
    prop: 'border-right',
    bp: 1,
  ),
  'bdrs': (
    prop: 'border-radius',
    utilities: (
      '0': '0',
      '10': 'var(--bdrs--10)',
      '20': 'var(--bdrs--20)',
      '30': 'var(--bdrs--30)',
      '40': 'var(--bdrs--40)',
      '99': 'var(--bdrs--99)',
      'inner': 'var(--bdrs--inner)',
    ),
    bp: 1,
    alwaysVar: 1,
  ),
  'bdrs-tl': (
    prop: 'border-top-left-radius',
    bp: 1,
  ),
  'bdrs-tr': (
    prop: 'border-top-right-radius',
    bp: 1,
  ),
  'bdrs-br': (
    prop: 'border-bottom-right-radius',
    bp: 1,
  ),
  'bdrs-bl': (
    prop: 'border-bottom-left-radius',
    bp: 1,
  ),
  'bdrs-ss': (
    prop: 'border-start-start-radius',
    bp: 1,
  ),
  'bdrs-se': (
    prop: 'border-start-end-radius',
    bp: 1,
  ),
  'bdrs-es': (
    prop: 'border-end-start-radius',
    bp: 1,
  ),
  'bdrs-ee': (
    prop: 'border-end-end-radius',
    bp: 1,
  ),
  'bxsh': (
    prop: 'box-shadow',
    utilities: (
      '0': 'none',
      '10': 'var(--bxsh--10)',
      '20': 'var(--bxsh--20)',
      '30': 'var(--bxsh--30)',
      '40': 'var(--bxsh--40)',
      '50': 'var(--bxsh--50)',
    ),
    bp: 1,
  ),
  'pos': (
    prop: 'position',
    utilities: (
      'static': 'static',
      'fixed': 'fixed',
      'sticky': 'sticky',
      'relative': 'relative',
      'absolute': 'absolute',
    ),
    bp: 1,
  ),
  'z': (
    prop: 'z-index',
    utilities: (
      '0': '0',
      '1': '1',
      '99': '99',
      '-1': '-1',
    ),
    bp: 1,
  ),
  't': (
    prop: 'top',
    utilities: (
      '0': '0%',
      '50\\%': '50%',
      '100\\%': '100%',
    ),
    bp: 1,
  ),
  'l': (
    prop: 'left',
    utilities: (
      '0': '0%',
      '50\\%': '50%',
      '100\\%': '100%',
    ),
    bp: 1,
  ),
  'r': (
    prop: 'right',
    utilities: (
      '0': '0%',
      '50\\%': '50%',
      '100\\%': '100%',
    ),
    bp: 1,
  ),
  'b': (
    prop: 'bottom',
    utilities: (
      '0': '0%',
      '50\\%': '50%',
      '100\\%': '100%',
    ),
    bp: 1,
  ),
  'i': (
    prop: 'inset',
    utilities: (
      '0': '0%',
    ),
    bp: 1,
  ),
  'i-x': (
    prop: 'inset-inline',
    bp: 1,
  ),
  'i-y': (
    prop: 'inset-block',
    bp: 1,
  ),
  'i-s': (
    prop: 'inset-inline-start',
    bp: 1,
  ),
  'i-e': (
    prop: 'inset-inline-end',
    bp: 1,
  ),
  'i-bs': (
    prop: 'inset-block-start',
    bp: 1,
  ),
  'i-be': (
    prop: 'inset-block-end',
    bp: 1,
  ),
  'p': (
    prop: 'padding',
    utilities: (
      '0': '0',
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
    alwaysVar: 1,
  ),
  'px': (
    prop: 'padding-inline',
    utilities: (
      '0': '0',
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'py': (
    prop: 'padding-block',
    utilities: (
      '0': '0',
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'ps': (
    prop: 'padding-inline-start',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'pe': (
    prop: 'padding-inline-end',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'pbs': (
    prop: 'padding-block-start',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'pbe': (
    prop: 'padding-block-end',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'pl': (
    prop: 'padding-left',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'pr': (
    prop: 'padding-right',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'pt': (
    prop: 'padding-top',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'pb': (
    prop: 'padding-bottom',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'm': (
    prop: 'margin',
    utilities: (
      '0': '0',
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
      'auto': 'auto',
    ),
    bp: 1,
    alwaysVar: 1,
  ),
  'mx': (
    prop: 'margin-inline',
    utilities: (
      '0': '0',
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
      'auto': 'auto',
    ),
    bp: 1,
  ),
  'my': (
    prop: 'margin-block',
    utilities: (
      '0': '0',
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
      'auto': 'auto',
    ),
    bp: 1,
  ),
  'ms': (
    prop: 'margin-inline-start',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
      'auto': 'auto',
    ),
    bp: 1,
  ),
  'me': (
    prop: 'margin-inline-end',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
      'auto': 'auto',
    ),
    bp: 1,
  ),
  'mbs': (
    prop: 'margin-block-start',
    utilities: (
      '0': '0',
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
      'auto': 'auto',
    ),
    bp: 1,
  ),
  'mbe': (
    prop: 'margin-block-end',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
      'auto': 'auto',
    ),
    bp: 1,
  ),
  'ml': (
    prop: 'margin-left',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'mr': (
    prop: 'margin-right',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'mt': (
    prop: 'margin-top',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'mb': (
    prop: 'margin-bottom',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'g': (
    prop: 'gap',
    utilities: (
      '0': '0',
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    exUtility: (
      'inherit': (
        'gap': 'inherit',
      ),
    ),
    bp: 1,
  ),
  'cg': (
    prop: 'column-gap',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'rg': (
    prop: 'row-gap',
    utilities: (
      '5': 'var(--s5)',
      '10': 'var(--s10)',
      '15': 'var(--s15)',
      '20': 'var(--s20)',
      '25': 'var(--s25)',
      '30': 'var(--s30)',
      '35': 'var(--s35)',
      '40': 'var(--s40)',
      '50': 'var(--s50)',
      '60': 'var(--s60)',
      '70': 'var(--s70)',
      '80': 'var(--s80)',
    ),
    bp: 1,
  ),
  'cols': (
    prop: '--cols',
    bp: 1,
    isVar: 1,
  ),
  'rows': (
    prop: '--rows',
    bp: 1,
    isVar: 1,
  ),
  'fxf': (
    prop: 'flex-flow',
    bp: 1,
  ),
  'fxw': (
    prop: 'flex-wrap',
    utilities: (
      'wrap': 'wrap',
    ),
    bp: 1,
  ),
  'fxd': (
    prop: 'flex-direction',
    utilities: (
      'column': 'column',
      'column-reverse': 'column-reverse',
      'row-reverse': 'row-reverse',
    ),
    bp: 1,
  ),
  'fx': (
    prop: 'flex',
    utilities: (
      '1': '1',
    ),
    bp: 1,
  ),
  'fxg': (
    prop: 'flex-grow',
    utilities: (
      '1': '1',
    ),
    bp: 1,
  ),
  'fxsh': (
    prop: 'flex-shrink',
    utilities: (
      '0': '0',
    ),
    bp: 1,
  ),
  'fxb': (
    prop: 'flex-basis',
    bp: 1,
  ),
  'gt': (
    prop: 'grid-template',
    bp: 1,
  ),
  'gta': (
    prop: 'grid-template-areas',
    bp: 1,
  ),
  'gtc': (
    prop: 'grid-template-columns',
    utilities: (
      'subgrid': 'subgrid',
    ),
    bp: 1,
  ),
  'gtr': (
    prop: 'grid-template-rows',
    utilities: (
      'subgrid': 'subgrid',
    ),
    bp: 1,
  ),
  'gaf': (
    prop: 'grid-auto-flow',
    utilities: (
      'row': 'row',
      'column': 'column',
    ),
    bp: 1,
  ),
  'gac': (
    prop: 'grid-auto-columns',
    bp: 1,
  ),
  'gar': (
    prop: 'grid-auto-rows',
    bp: 1,
  ),
  'ga': (
    prop: 'grid-area',
    utilities: (
      '1\\/1': '1 / 1',
    ),
    bp: 1,
  ),
  'gc': (
    prop: 'grid-column',
    utilities: (
      '1\\/-1': '1 / -1',
    ),
    bp: 1,
  ),
  'gr': (
    prop: 'grid-row',
    utilities: (
      '1\\/-1': '1 / -1',
    ),
    bp: 1,
  ),
  'gcs': (
    prop: 'grid-column-start',
    bp: 1,
  ),
  'gce': (
    prop: 'grid-column-end',
    bp: 1,
  ),
  'grs': (
    prop: 'grid-row-start',
    bp: 1,
  ),
  'gre': (
    prop: 'grid-row-end',
    bp: 1,
  ),
  'ai': (
    prop: 'align-items',
    utilities: (
      'start': 'start',
      'center': 'center',
      'end': 'end',
      'stretch': 'stretch',
      'flex-start': 'flex-start',
      'flex-end': 'flex-end',
    ),
    bp: 1,
  ),
  'ac': (
    prop: 'align-content',
    utilities: (
      'start': 'start',
      'center': 'center',
      'end': 'end',
      'flex-start': 'flex-start',
      'flex-end': 'flex-end',
      'between': 'space-between',
    ),
    bp: 1,
  ),
  'ji': (
    prop: 'justify-items',
    utilities: (
      'start': 'start',
      'center': 'center',
      'end': 'end',
      'stretch': 'stretch',
      'flex-start': 'flex-start',
      'flex-end': 'flex-end',
    ),
    bp: 1,
  ),
  'jc': (
    prop: 'justify-content',
    utilities: (
      'start': 'start',
      'center': 'center',
      'end': 'end',
      'flex-start': 'flex-start',
      'flex-end': 'flex-end',
      'between': 'space-between',
    ),
    bp: 1,
  ),
  'pi': (
    prop: 'place-items',
    utilities: (
      'start': 'start',
      'center': 'center',
      'end': 'end',
    ),
    bp: 1,
  ),
  'pc': (
    prop: 'place-content',
    utilities: (
      'start': 'start',
      'center': 'center',
      'end': 'end',
    ),
    bp: 1,
  ),
  'aslf': (
    prop: 'align-self',
    utilities: (
      'start': 'start',
      'center': 'center',
      'end': 'end',
      'stretch': 'stretch',
    ),
    bp: 1,
  ),
  'jslf': (
    prop: 'justify-self',
    utilities: (
      'start': 'start',
      'center': 'center',
      'end': 'end',
      'stretch': 'stretch',
    ),
    bp: 1,
  ),
  'pslf': (
    prop: 'place-self',
    utilities: (
      'start': 'start',
      'center': 'center',
      'end': 'end',
    ),
    bp: 1,
  ),
  'order': (
    prop: 'order',
    utilities: (
      '0': '0',
      '1': '1',
      '-1': '-1',
    ),
    bp: 1,
  ),
  'ovw': (
    prop: 'overflow-wrap',
    utilities: (
      'anywhere': 'anywhere',
    ),
    bp: 1,
  ),
  'whs': (
    prop: 'white-space',
    utilities: (
      'nowrap': 'nowrap',
    ),
    bp: 1,
  ),
  'float': (
    prop: 'float',
    utilities: (
      'left': 'left',
      'right': 'right',
    ),
    bp: 1,
  ),
  'clear': (
    prop: 'clear',
    utilities: (
      'both': 'both',
    ),
    bp: 1,
  ),
  'iso': (
    prop: 'isolation',
    utilities: (
      'isolate': 'isolate',
    ),
    bp: 1,
  ),
  'wm': (
    prop: 'writing-mode',
    utilities: (
      'vertical-rl': 'vertical-rl',
    ),
    bp: 1,
  ),
);
