@use 'sass:map';
@use 'sass:string';
@use './prop-config.gen' as props;

$default_important: 0 !default;
$is_container_query: 1 !default;

// breakpoints: サイズ 0 は「無効」（_query.scss の bp-up / bp-down がスキップする）。
$breakpoints: () !default;
$breakpoints: map.merge(props.$breakpoints, $breakpoints);

$props: () !default;
$props: map.deep-merge(props.$props, $props);
