@use 'sass:map';
@use 'sass:string';

@use './prop-config' as props;

$layer_mode: 1 !default;
$default_important: 0 !default;
$is_container_query: 1 !default;
$common_support_bp: 'md' !default;

$breakpoints: () !default;
$breakpoints: map.merge(
	(
		'sm': '480px',
		'md': '800px',
		'lg': '1120px',
	),
	$breakpoints
);

$props: () !default;
$props: map.deep-merge(props.$props, $props);
