/*
  @layout 使う
*/
@use 'sass:meta';

// 最初に順序定義
// @layer lism-reset, lism;

// resetは中で layer定義済み
@include meta.load-css('reset');

// baese
@layer lism.base {
	@include meta.load-css('base');
}

// modules
@layer lism.modules {
	@layer state {
		@include meta.load-css('modules/state');
	}
	@layer layout {
		@include meta.load-css('modules/layout');
	}
	@layer atomic {
		@include meta.load-css('modules/atomic');
	}
	@layer dynamic {
		@include meta.load-css('modules/dynamic');
	}
}

@layer lism.utility {
	@include meta.load-css('utility');
}
