/* ------------------------------------------------------------
	基本方針: reset.css の段階ではできるだけブラウザの標準スタイルに従う。

	  - box-sizing は 全要素に対して border-box をセット
	  - padding は ブラウザ標準スタイルのまま
	  - margin はすべて 0 にリセット
------------------------------------------------------------ */
@layer lism-reset {
	*,
	::before,
	::after {
		box-sizing: border-box;
	}

	* {
		margin: 0;
	}

	/* ------------------------------------------------------------
	 Texts
	------------------------------------------------------------ */

	/* テキストのオーバーフローを回避 */
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	/* ルビサイズのブラウザ差異をなくす */
	rt {
		font-size: 50%;
	}

	/* ------------------------------------------------------------
	 Medias
	------------------------------------------------------------ */

	/* 親要素をはみ出さないようにする */
	img,
	video {
		max-inline-size: 100%;
		block-size: auto;
	}

	/* 隙間ができるのを防ぐ。( display はいじらない。) */
	svg,
	img,
	video,
	audio {
		vertical-align: middle;
	}

	/* iframe は display block */
	iframe {
		display: block;
		border: none;
	}

	/* ------------------------------------------------------------
	 Form fields
	  - 基本要素のフォントとカラーをリセット
	  - テキストエリアの水平リサイズを無効に
	  - カーソルのセット
	------------------------------------------------------------ */
	input,
	button,
	textarea,
	select {
		font: inherit;
		color: inherit;
		text-transform: none;
	}

	/* テキストエリアの水平リサイズを無効に */
	textarea {
		resize: vertical;
	}

	/* ------------------------------------------------------------
	 cursor 初期セット
	------------------------------------------------------------ */
	// :where([type='button'], [type='reset'], [type='submit']),
	// :where([t[role='option'], [role='button'], [aria-controls]),
	button,
	label,
	select,
	summary,
	[type='radio'],
	[type='checkbox'] {
		cursor: pointer;
	}

	:disabled {
		cursor: not-allowed;
	}
}
