@use './theme.scss';
@use './base.scss';
@use './layout.scss';
@use './docs.scss';
@use './code.scss';
@use './preview.scss';
@use './lg.scss';

// .u-cbox {
// 	--code-bgc: color-mix(in srgb, #22a4d40e, currentColor 4%);
// }
