---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';

import { Container, Frame, Grid, Media, Stack } from 'lism-css/astro';
import Button from '~/components/ex/Button/index.astro';
import './_style.css';
---

<DemoPageLayout title='Feature007-2'>
	<Container bgc='base'>
		<Grid gtc={['auto', null, '1fr 1fr']} gtr={['auto, auto', null, '1fr']} g='5'>
			<Stack g='50' bgc='base-2' ai='center' jc='center' p={['60 50', null, '60']}>
				<h2>感動をその手に</h2>
				<Stack g='40'>
					<p>
						あなたが住む街には、まだ知らない素敵な場所や物語が隠されています。
						私たちのサービスは、地元の人だけが知る隠れ家カフェや、週末に楽しめる小さなイベントなど、
						地域に根差した情報を丁寧にお届けします。
					</p>
					<p>いつもの帰り道が、新しい発見に満ちた冒険の道に変わる。そんな体験を、私たちと一緒に始めましょう。</p>
				</Stack>
				<Button href='#' min-w='250px' p='30' bdrs='10'>View More</Button>
			</Stack>
			<Grid gr={['2', null, '1']} gtr='1fr 1fr' gtc='1fr 1fr' g='5'>
				<Frame tag='figure'>
					<Media src='/img/img-1.jpg' alt='' width='960' height='640' />
				</Frame>
				<Frame tag='figure'>
					<Media src='/img/img-2.jpg' alt='' width='960' height='640' />
				</Frame>
				<Frame tag='figure'>
					<Media src='/img/img-3.jpg' alt='' width='960' height='640' />
				</Frame>
				<Frame tag='figure'>
					<Media src='/img/img-4.jpg' alt='' width='960' height='640' />
				</Frame>
			</Grid>
		</Grid>
	</Container>
</DemoPageLayout>
