---
import { Lism, Icon } from 'lism-css/astro';
import { ArrowDownRight } from '@phosphor-icons/react';

const { resize, nogrid = false, p = '5', ...props } = Astro.props || {};

let innerClass = 'c--preview_inner';
if (resize) innerClass += ' is--resize';
---

<Lism className='c--preview_area'>
	<div class='c--preview_area_frame'>
		<Lism className={innerClass} layout='flow' p={p} {...props}>
			<slot />
			{
				resize && (
					<div class='c--preview_help -pos:abs -b:0 -r:0 -d:in-f -lh:1 -p:10 -g:5 -bdrs:5'>
						リサイズ可能 <Icon as={ArrowDownRight} weight='fill' />
					</div>
				)
			}
		</Lism>
	</div>
</Lism>
