---
import { Frame, Center } from 'lism-css/astro';
import Button from '~/components/ex/Button/index.astro';

interface Props {
	[key: string]: any;
}
const { isInline = false, url, ...props } = Astro.props;
---

{
	!isInline ? (
		<>
			<Frame ar='3/2' bxsh='10'>
				<Frame className='u--scalePreview' ar='3/2' bdrs='20' bd bdw='3px' {...props}>
					<iframe src={url} width='800' height='600' />
				</Frame>
			</Frame>
			<Button href={url} variant='fill' target='_blank' bdrs='10' w='fit' mx='a'>
				大きい画面で見る
			</Button>
		</>
	) : (
		<Frame ar='3/2' {...props}>
			<iframe src={url} width='800' height='600' />
		</Frame>
	)
}
