@layer lism-block {
  .b--navMenu {
    --link-td: none;
    --hl: var(--hl--s);
    --_item-p: var(--s20);
    --focus-offset: -1px; /* アコーディオン化した時にoutlineが一部見えなくなるのを防ぐ */
  }

  .b--navMenu_nest {
    --_item-p: inherit;
  }

  .b--navMenu_link {
    padding: var(--_item-p);
  }

  .b--navMenu_nest,
  .b--navMenu_item {
    --bdc: inherit;
  }
}
