/* ::details-content と grid-template-rows: 0fr → 1fr のトランジションでアニメーション */
@layer lism-block {
  .b--details {
    --duration: var(--acc-duration, 0.25s);
    --icon-scale: 1.1;
    --icon-transform: rotate(0deg);
    --content-gtr: 0fr;
  }
  .b--details[open] {
    --icon-transform: scaleY(-1);
    --content-gtr: 1fr;
  }

  /* display: flex により summary のデフォルトマーカー（display: list-item）も解除される */
  .b--details_summary {
    display: flex;
    gap: var(--s10);
    align-items: center;
    justify-content: space-between;
    padding: var(--s15);
  }

  /* Safariで表示されるデフォルトの三角形アイコンを削除 */
  .b--details_summary::-webkit-details-marker {
    display: none;
  }

  .b--details_icon {
    --svg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" width="1em" height="1em" fill="currentColor"><path d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"></path></svg>');
    display: inline-grid;
    background-color: currentColor;
    mask: var(--svg) no-repeat center center / contain;
    scale: var(--icon-scale);

    transition: transform var(--duration);
    transform: var(--icon-transform);
  }

  .b--details::details-content {
    display: grid;
    grid-template-rows: var(--content-gtr);
    transition-duration: var(--duration);
    transition-property: content-visibility, grid-template;
    transition-behavior: allow-discrete;
  }

  /* コンテンツ内部のラッパー（grid-template-rows: 0frのアニメーションに必須） */
  .b--details_body {
    overflow: hidden;
  }

  .b--details_content {
    /* _body に padding を付けると閉じた時に余白が残るので _content に付ける */
    padding: var(--s15);
  }
}
