---
import DemoPageLayout from '~/layouts/DemoPageLayout.astro';
import Button from '~/components/ex/Button/index.astro';

import { Container, Frame, Grid, GridItem, Media, Stack, Text, Layer, Center } from 'lism-css/astro';
import './_style.css';
---

<DemoPageLayout title='Feature015'>
	<Container size='m' bgc='base' py='60' hasGutter>
		<Grid gtr={['auto 1fr auto', null, 'auto 1fr']} gtc={['1fr', null, '1fr auto']} g='50'>
			<Text class='u--trimHL' fz='2xl' fw='bold'>この季節だからこそ</Text>
			<Grid gc='1 / -1' gtc={['1fr', null, 'repeat(2, 1fr)']} g='50'>
				<Stack isLinkBox href='#' g='40' hasHover>
					<Frame ar='16/9' bdrs='10' pos='r'>
						<Media src='/img/img-1.jpg' width='960' height='640' />
						<Layer hasTransition hov='get:show' bgc='rgb(0 0 0 / 30%)' blur='4px'>
							<Center h='100%' c='white'>
								<Text tag='span' fz='xl' fs='italic' fw='light' lts='l' px='30' py='10'>View More</Text>
							</Center>
						</Layer>
					</Frame>
					<Stack g='30'>
						<Text class='u--trimHL' fz='m' fw='bold'>夏のおすすめ</Text>
						<Text class='u--trimHL' fz='s' o='soft'>Summer recommended products</Text>
					</Stack>
				</Stack>
				<Stack isLinkBox href='#' g='40' hasHover>
					<Frame ar='16/9' bdrs='10' pos='r'>
						<Media src='/img/img-2.jpg' width='960' height='640' />
						<Layer hasTransition hov='get:show' bgc='rgb(0 0 0 / 30%)' blur='4px'>
							<Center h='100%' c='white'>
								<Text tag='span' fz='xl' fs='italic' fw='light' lts='l' px='30' py='10'>View More</Text>
							</Center>
						</Layer>
					</Frame>
					<Stack g='30'>
						<Text class='u--trimHL' fz='m' fw='bold'>登山に使いやすい</Text>
						<Text class='u--trimHL' fz='s' o='soft'>Mountain special goods</Text>
					</Stack>
				</Stack>
				<Stack isLinkBox href='#' g='40' hasHover>
					<Frame ar='16/9' bdrs='10' pos='r'>
						<Media src='/img/img-4.jpg' width='960' height='640' />
						<Layer hasTransition hov='get:show' bgc='rgb(0 0 0 / 30%)' blur='4px'>
							<Center h='100%' c='white'>
								<Text tag='span' fz='xl' fs='italic' fw='light' lts='l' px='30' py='10'>View More</Text>
							</Center>
						</Layer>
					</Frame>
					<Stack g='30'>
						<Text class='u--trimHL' fz='m' fw='bold'>秋の気配を感じて</Text>
						<Text class='u--trimHL' fz='s' o='soft'>Feeling the signs of autumn</Text>
					</Stack>
				</Stack>
				<Stack isLinkBox href='#' g='40' hasHover>
					<Frame ar='16/9' bdrs='10' pos='r'>
						<Media src='/img/img-5.jpg' width='960' height='640' />
						<Layer hasTransition hov='get:show' bgc='rgb(0 0 0 / 30%)' blur='4px'>
							<Center h='100%' c='white'>
								<Text tag='span' fz='xl' fs='italic' fw='light' lts='l' px='30' py='10'>View More</Text>
							</Center>
						</Layer>
					</Frame>
					<Stack g='30'>
						<Text class='u--trimHL' fz='m' fw='bold'>旅をしたくなる季節</Text>
						<Text class='u--trimHL' fz='s' o='soft'>A season that makes you want to travel</Text>
					</Stack>
				</Stack>
			</Grid>
			<GridItem gr={['3', null, '1']} gc={['1 / -1', null, '2']}>
				<Button layout={Grid} href='#' gtc='1em 1fr 1em' variant='outline' jc='c' ai='c' min-w='8rem' bdrs='10'>
					<Text gc='2'>View All</Text>
				</Button>
			</GridItem>
		</Grid>
	</Container>
</DemoPageLayout>
