/*
    memo: グリッドアイテムにはデフォルトでmin-width: autoが適用され、1frだけだとカラムサイズが揃わないことがあり、minmax() を使う。
*/
.l--columns {
	--cols: 2; // 初期値
	display: grid;
	grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
}
