.l--grid {
	--gtr: none;
	--gtc: none;
	--gta: none;
	display: grid;
	grid-template: var(--gtr) / var(--gtc);
	grid-template-areas: var(--gta);
}

// .-gtr\:repeat {
// 	--rows: 1;
// 	--gtr: repeat(var(--rows), 1fr);
// }

// .-gtc\:repeat {
// 	--cols: 1;
// 	--gtc: repeat(var(--cols), 1fr);
// }

// .-gtc\:liquid {
// 	--cols: var(--sz--min);
// 	--gtc: repeat(auto-fill, minmax(min(var(--cols), 100%), 1fr));
// }

// .l--grid--repeat {
// 	--rows: 1;
// 	--cols: 1;
// 	--gtr: repeat(var(--rows), 1fr);
// 	--gtc: repeat(var(--cols), 1fr);
// }

// .l--grid--liquid {
// 	--cols: var(--sz--min);
// 	--gtc: repeat(auto-fill, minmax(min(var(--cols), 100%), 1fr));
// }
