.l--reel {
	// --p: 0;
	--cols: auto;
	--rows: auto;

	// cols rows を使ってレスポンシブ対応
	grid-auto-columns: var(--cols);
	grid-auto-rows: var(--rows);
	overflow: auto;

	scroll-snap-type: var(--scSnapType, both mandatory);
	scroll-behavior: var(--scBehavior, smooth); /* idリンクでスクロールされるように */
	// scroll-padding: var(--scPadding, var(--p)); /* paddingと合わせる */
}
.l--reel > * {
	scroll-snap-align: var(--scSnapAlign, start);
	// scroll-snap-stop: var(--scSnapStop, normal);
}
