.l--switchCols {
	--breakSize: var(--sz--xs); /* 横並びを維持する幅（親のサイズで指定する） */
	display: flex;
	flex-wrap: wrap;
}

.l--switchCols > * {
	flex-grow: 1;
	flex-basis: calc((var(--breakSize) - 100%) * 9999);
}
