/*
	Note: fxgの比率を 1:でかい数 にして、fix側を広がらないようにする。
      flex-grow は 変数指定だと挙動が変になることにも注意。
 */
.l--withSide {
	--_side-w: auto;
	--_main-w: max(var(--sz--min), 50%);
	display: flex;
	flex-wrap: wrap;

	> [data-is-side] {
		flex-basis: var(--_side-w);
		flex-grow: 1; /* 0 だと折り返されたときに広がらない */
	}

	> :not([data-is-side]) {
		flex-grow: 9999999; /* できるだけ fix側を 指定値ピッタリに近づけるためにかなり大きな数値を指定 */
		flex-basis: min(100%, var(--_main-w)); /* このサイズが折り返しポイントの基準となる */
	}
}

// .is--side {
// 	grid-area: side;
// }
