// 小さいモニターで確認する用
// @media (width < 1200px) {
body {
	// --sz--xs: 30rem;
	// --sz--s: 45rem;
	// --sz--l: 1120px;
	// --sz--m: 900px;
}

#demo-wrapper {
	border: none !important;

	> :is(p, h2, h3, h4, h5, h6) {
		margin-inline: 2rem;
	}
}

:has(> .c--attsLabels) {
	position: relative;
	padding-top: 1.75em;
	padding-bottom: 1.5em;
}

.-bg\:stripe {
	// --_bdc: rgba(200, 200, 200, 0.1);
	--_bdc: color-mix(in srgb, var(--bgc, #555), transparent 50%);
	--_bdw: 2px;
	--_deg: -50deg;
	--_interval: 6px;

	background-image: repeating-linear-gradient(
		var(--_deg),
		var(--_bdc),
		var(--_bdc) var(--_bdw),
		transparent var(--_bdw),
		transparent var(--_interval)
	) !important;
	background-position: center !important;
}
:where(.l--box, .l--flow, .is--container):has(> .c--attsLabels) {
	--guideColor: var(--gray) 40%;
	border: 2px dashed color-mix(in srgb, transparent, var(--guideColor)) !important;
}
.is--container {
	--guideColor: var(--green) 40%;
}
[class*='-container:'] {
	--guideColor: var(--blue) 60%;
}
// [class*='-container:'] > [class*='-container:'] {
// 	--guideColor: var(--blue) 60%;
// }

.has--gutter {
	position: relative;
}
.has--gutterGuide {
	inset: 0;
	width: 100%;
	max-width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	pointer-events: none;

	&::before,
	&::after {
		content: '';
		display: block;
		width: var(--gutter-size);
		height: 100%;
		background-color: var(--purple);
		grid-area: guide;
		opacity: 0.3;
	}
}
