/* ----------------------------------------
    hero page
 ---------------------------------------- */
:root {
	--hero-blue: hsla(206, 85%, 65%, 0.1);
	--hero-purple: hsla(263, 76%, 75%, 0.1);
}

:root[data-theme='dark'] {
	--hero-blue: rgba(13, 65, 162, 0.2);
}

[data-has-hero] .page {
	background: linear-gradient(215deg, var(--hero-blue), transparent 100vh); // linear-gradient(30deg, var(--hero-purple), transparent 80%);
}

.section-01 {
	--sh-hsl: 206 60% 50%;
}
