---
import { Cluster, Link, Icon } from 'lism-css/astro';
import { siteConfig } from '@/config/site';
import type { ComponentProps } from 'astro/types';

type ClusterProps = ComponentProps<typeof Cluster>;

type Props = ClusterProps & {
  label?: string;
};

// siteConfig.sns を参照してアイコンリンク一覧として表示する。
const { label = 'SNSリンク', ...rest } = Astro.props;
---

<Cluster as="ul" aria-label={label} {...rest}>
  {
    siteConfig.sns.map((item) => (
      <li>
        <Link href={item.href} aria-label={item.label} set="plain s" d="inline-flex" p="10" bdrs="20" hov={{ c: 'brand', bgc: 'base-2' }}>
          <Icon icon={item.icon} />
        </Link>
      </li>
    ))
  }
</Cluster>
