---
import { Dummy, Lism } from 'lism-css/astro';
---

<Dummy lang='ja' />
<Dummy lang='ja' length='xl' />

<h2>Heading 2</h2>
<Dummy lang='ja' length='l' />
<ul>
	<li>list 1</li>
	<li>list 2</li>
	<li>list 3</li>
</ul>
<Dummy lang='ja' />
