---
import { Container, Flex, Stack, Center, Icon, Group, Inline, Link, Lism } from 'lism-css/astro';
import { Modal } from '@lism-css/ui/astro';
---

<Container as="header" isWrapper="l" py="20" set="gutter" bxsh="10">
  <Flex jc="between" ai="center" g="15">
    <Group fz="xl" ff="mono"><a href="/">Lism CSS</a></Group>
    <Flex mx-s="auto" g="15" d={['none', null, 'flex']}>
      <Link href="###" hov="o" px="5" c="inherit" td="none">Menu 1</Link>
      <Link href="###" hov="o" px="5" c="inherit" td="none">Menu 2</Link>
      <Link href="###" hov="o" px="5" c="inherit" td="none">Menu 3</Link>
    </Flex>
    <Center d={['grid', null, 'none']} as="button" fz="xl" set="plain" data-modal-open="modal-01">
      <Icon icon="menu" fz="l" />
    </Center>
  </Flex>
  <Modal.Root id="modal-01" isContainer isWrapper="xs" p="30" style={{ '--offset': '0 100px' }}>
    <Modal.Inner layout="stack" w="100%" pos="relative" p="30" g="20" bdrs="20" bxsh="40">
      <Modal.CloseBtn modalId="modal-01" autofocus pos="absolute" t="0" r="0" z="1" fz="xl" p="15" />
      <Group>
        <Inline fz="l" fw="bold">Menu</Inline>
      </Group>
      <Modal.Body my-s="15" style={{ '--focus-offset': '-1px' }}>
        <Stack className="u--collapseGrid">
          <Link href="###" p="10" c="inherit" py="15">Menu 1</Link>
          <Link href="###" p="10" c="inherit" py="15">Menu 2</Link>
          <Link href="###" p="10" c="inherit" py="15">Menu 3</Link>
        </Stack>
      </Modal.Body>
      <Center>
        <Lism as="button" data-modal-close="modal-01" p="15" lh="xs" bdrs="10">Close</Lism>
      </Center>
    </Modal.Inner>
  </Modal.Root>
</Container>
