---
import { DummyText } from '@lism-css/ui/astro';
---

<DummyText lang="ja" />
<DummyText lang="ja" length="xl" />

<h2>Heading 2</h2>
<DummyText lang="ja" length="l" />
<ul>
  <li>list 1</li>
  <li>list 2</li>
  <li>list 3</li>
</ul>
<DummyText lang="ja" />
