@layer lism.component {
	.c--button {
		--c: currentColor;
		--bgc: transparent;
		--bdc: transparent;

		color: var(--c);
		background-color: var(--bgc);
		border: solid 1px var(--bdc); /* 異なる variant を並べてもサイズに差が出ないようにborderを常に指定 */
	}
	.c--button-fill {
		--c: var(--c-base);
		--bgc: var(--c-text);
		--bdc: var(--bgc);
	}
	.c--button-outline {
		--c: var(--c-text);
		--bdc: var(--c);
	}
	:where(.c--button) > .l--icon {
		--scale: 1.125;
	}
}
