---
import { Flex, Divider } from 'lism-css/astro';

const { textPosition, bdc = 'currentColor', bdw, bds, ...props } = Astro.props;

const bdProps = { bd, bdc, bdw, bds };
---

<Flex lismClass='c--dividerLabel' ai='c' g='30' lh='1' {...props}>
	{textPosition !== 'start' && <Divider o='soft' fx='1' {...bdProps} />}
	<div class='c--dividerLabel_text'><slot /></div>
	{textPosition !== 'end' && <Divider o='soft' fx='1' {...bdProps} />}
</Flex>
