:root {

	/* 基準となるフォントサイズをclamp() で定義 */
	--fz--base: clamp(1rem, 0.654rem + 1.54vw, 2rem); /* わかりやすく大袈裟に変化させています */

	/* --fz-base を元にスケーリングさせる */
	--fz--xs: calc(var(--fz--base) * (8 / 10));
	--fz--s: calc(var(--fz--base) * (8 / 9));
	--fz--l: calc(var(--fz--base) * (8 / 7));
	--fz--xl: calc(var(--fz--base) * (8 / 6));
	--fz--2xl: calc(var(--fz--base) * (8 / 5));
	--fz--3xl: calc(var(--fz--base) * (8 / 4));
	--fz--4xl: calc(var(--fz--base) * (8 / 3));
}

/* bodyにベースのフォントサイズをセット */
body{
	font-size: var(--fz--base);
}

/* ユーティリティクラス */
.fz--base {
	font-size: var(--fz--base);
}
.fz--xs {
	font-size: var(--fz--xs);
}
.fz--s {
	font-size: var(--fz--s);
}
.fz--l {
	font-size: var(--fz--l);
}
.fz--xl {
	font-size: var(--fz--xl);
}
.fz--2xl {
	font-size: var(--fz--2xl);
}
.fz--3xl {
	font-size: var(--fz--3xl);
}
.fz--4xl {
	font-size: var(--fz--4xl);
}
