---
import DemoLayout from '@/layouts/DemoLayout.astro';
import { Container } from 'lism-css/astro';
import './_src.css';

// HTMLファイルを文字列としてインポート
import srcHtml from './_src.html?raw';
---

<DemoLayout title="Clamp Tokens">
	<div class="_demo_">
		<Fragment set:html={srcHtml} />
	</div>
</DemoLayout>
