---
import DemoLayout from '@/layouts/DemoLayout.astro';
import { Accordion } from '@lism-css/ui/astro';

import './_src.css';

// HTMLファイルを文字列としてインポート
import srcHtml from './_src.html?raw';
---

<DemoLayout title="Media Query Problem" lism="main">
	<div class="_demo_">
		<Fragment set:html={srcHtml} />
	</div>
</DemoLayout>
